<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/css/flowChart.css}" />
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div  th:include="worktask/workTask/workTask_v::workTaskcomm"></div>
    <form class="form-horizontal m" id="form-workTask-edit" th:object="${workTask}" enctype="multipart/form-data">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <input id="pid" name="pid" th:field="*{pid}" type="hidden">

    </form>
</div>


<div class="wrapper wrapper-content animated fadeInRight ibox-content">

    <div class="form-horizontal m">
        <div >

            <h4 class="form-header h4">目标月份：<span th:text="${workActivity.targetMonth}"></span>月 &nbsp;任务得分：<span
                    th:text="${workActivity.targetScore}"></span></h4>
            <div  th:include="worktask/workTask/workTask_v::workTaskDetailcomm"></div>

            <!--<h4>事件时间轴</h4>-->
            <!--<hr />-->
            <!--事件时间轴-->
            <div class="flowChart">
                <!--左侧轴-->
                <div class="flowChart-left">
                    <!--虚线-->
                    <div class="dashed"></div>
                </div>
                <!--右侧内容-->
                <div class="flowChart-right">
                    <!--一个节点-->
                    <div class="oneNode" th:each="his: ${workActivity.historyTaskVos}">
                        <!--左侧小球-->
                        <div class="check check-danger" th:text="${his.activityName}">
                        </div>
                        <div class="tag-boder">
                            <div class="tag">
                            </div>
                        </div>
                        <!--右侧内容-->
                        <div class="NodeDetail">
                            <!--上-->
                            <div class="NodeDetail-title">
                                <div class="details">
                                    <h4 th:text="${his.assignee==null?his.activityName:'任务办理人：'+his.assignee}"></h4>
                                    <h4 th:text="${his.queryVariables==null?'':'下一步任务办理人：'+his.queryVariables}"></h4>
                                </div>
                            </div>
                            <!--中-->
                            <div class="NodeDetail-content">
                                <span class="badge">任务内容:</span>
                                <p th:utext="${his.description}"></p>
                                <p th:utext="${his.repContent}"></p>
                            </div>
                            <!--下-->
                            <div class="NodeDetail-footer">
                                <span th:text="${#dates.format(his.endTime, 'yyyy-MM-dd HH:mm')}">2017-10-31 22:22:31</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--<h4>事件时间轴</h4>-->

        </div>
    </div>

</div>

<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>

<script type="text/javascript">
    var prefix = ctx + "worktask/workTask";
    $("#form-workTask-edit").validate({
        submitHandler: function (form) {
            var userIds = $.form.selectSelects("userIds");
            var leaderId = $.form.selectSelects("leaderId");
            var cooperateDeptId = $.form.selectSelects("cooperateDeptId");
            var formData = new FormData($("#form-workTask-edit")[0]);
            formData.append('userIds', userIds);
            formData.append('leaderId', leaderId);
            formData.append('cooperateDeptId', cooperateDeptId);
            formData.append('file', $('#file')[0].files[0]);
            $.ajax({
                url: prefix + "/edit",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function (result) {
                    $.operate.successTabCallback(result);
                }
            });
        },
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });


    function downloadFile(fileId) {
        window.location.href = ctx + "worktask/workTaskFile/downloadFile/" + fileId;
    }

    /*用户管理-新增-选择部门树*/
    function selectLeadDeptTree() {
        var leadDeptId = $("#leadDeptId").val();
        var deptId = $.common.isEmpty(leadDeptId) ? "100" : $("#leadDeptId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: ctx + "system/dept/selectDeptTree/" + deptId,
            callBack: doSubmitLeadDept
        };
        $.modal.openOptions(options);
    }

    function doSubmitLeadDept(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#leadDeptId").val(body.find('#treeId').val());
            $("#leadDeptName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }

    function selectCooperateDeptTree() {
        var leadDeptId = $("#cooperateDeptId").val();

        var deptId = $.common.isEmpty(leadDeptId) ? "100" : $("#cooperateDeptId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: ctx + "system/dept/selectDeptTree/" + deptId,
            callBack: doSubmitCooperateDept
        };
        $.modal.openOptions(options);
    }

    function doSubmitCooperateDept(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#cooperateDeptId").val(body.find('#treeId').val());
            $("#cooperateDeptName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }

    //添加任务目标
    $("#form-workTaskActivity-add").validate({
        submitHandler: function (form) {
            $.operate.saveTab(ctx + "worktask/workTaskActivity/add", $('#form-workTaskActivity-add').serialize());
        },
        rules: {
            target: {
                required: true,
            },
            targetMonth: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        $("#form-workTask-edit").submit();
    }
    function submitWorkTaskActivityAddHandler() {
        $("#form-workTaskActivity-add").submit();
    }

    function startWork(id) {
        var url = ctx + "worktask/workTaskActivity/startTask";
        $.operate.submit(url, "post", "json", {id:id});
    }
    function workDetail(process_instance_id) {
        $.modal.openTab("查看详情",ctx +"worktask/workTaskActivity/workTaskActivityDetail?process_instance_id="+process_instance_id);
    }
    function workProcessDetail(processDefinitionId,process_instance_id){
        $.modal.openTab("查看详情",ctx +"diagram-viewer/index.html?processDefinitionId="+processDefinitionId+"&processInstanceId="+process_instance_id);

    }



    function deleteWorkActiviti(id) {
        $.modal.confirm("确定删除该条信息吗？", function() {
            var url = ctx + "worktask/workTaskActivity/remove";
            $.operate.submit(url, "post", "json", {ids:id});
        });

    }
</script>
</body>
</html>
