<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                           <input  onclick="selectLeadDeptTree()" id="leadDeptName" type="text"
                                         placeholder="请选择归牵头部门" class="form-control" required>
                            <input name="leadDeptId" type="hidden" id="leadDeptId"/>

                        </li>

<!--                        <li>-->
<!--                            汇报内容：<input type="text" name="content"/>-->
<!--                        </li>-->
                        <li>
                          <input id="targetMonth" name="targetMonth" class="form-control" type="text" placeholder="目标月份：">
                        </li>



                        <!--<li>-->
                        <!--创建人：<input type="text" name="createBy"/>-->
                        <!--</li>-->

                        <!--<li>-->
                        <!--创建时间：<input type="text" name="createTime"/>-->
                        <!--</li>-->

                        <!--<li>-->
                        <!--更新者：<input type="text" name="updateBy"/>-->
                        <!--</li>-->

                        <!--<li>-->
                        <!--更新时间：<input type="text" name="updateTime"/>-->
                        <!--</li>-->

                        <!--<li>-->
                        <!--删除标志（0代表存在 2代表删除）,默认0：<input type="text" name="delFlag"/>-->
                        <!--</li>-->

                        <!--<li>-->
                        <!--备注：<input type="text" name="remark"/>-->
                        <!--</li>-->

                        <!--<li>-->
                        <!--存在问题内容：<input type="text" name="repContent"/>-->
                        <!--</li>-->

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        var startDate = laydate.render({
            elem: '#targetMonth',
            theme: 'molv',
            type: 'month',
            format: 'MM',
            done: function(value, date, endDate){
                $("#targetMonth").val(value)
                $.table.search();
                console.log(value); //得到日期生成的值，如：2017-08-18
                console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            }
        });
    });
    var editFlag = [[${@permission.hasPermi('worktask:workTaskActivity:edit')}]];
    var removeFlag = [[${@permission.hasPermi('worktask:workTaskActivity:remove')}]];
    var prefix = ctx + "worktask/workTaskActivity";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "专项工作汇报内容",
            showExport: true,
            columns: [

                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },

                {
                    field : 'workTask.workName',
                    title : '专项工作',
                    sortable: true,
                    formatter: function (value, row, index) {
//                        return '<a href="#" >' + row.workName + '</a>';
                        return '<a href="#" onclick="detail(\'' + row.id + '\')">' + row.workTask.workName + '</a>';
                    }
                },
                {
                    field: 'workTask.leadDeptName',
                    title: '牵头部门',
                    sortable: true
                },
                {
                    field: 'targetMonth',
                    title: '目标月份',
                    sortable: true
                },
                {
                    field: 'targetScore',
                    title: '目标得分',
                    sortable: true
                },
                {
                    field: 'repContent',
                    title: '建议',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'workStatus',
                    title: '任务执行人',
                    sortable: true
                },
                {
                    field: 'delFlag',
                    title: '流程节点',
                    sortable: true
                },


            ]
        };
        $.table.init(options);
    });
    /*重点工作-子任务*/
    function detail(id) {
        var url = prefix + '/query/' + id;
       createMenuItem(url, "查看");
    }
    function selectLeadDeptTree() {
        var leadDeptId = $("#leadDeptId").val();
        var deptId = $.common.isEmpty(leadDeptId) ? "100" : $("#leadDeptId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: ctx + "system/dept/selectDeptTree/" + deptId,
            callBack: doSubmitLeadDept
        };
        $.modal.openOptions(options);
    }

    function doSubmitLeadDept(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        // if ($.tree.notAllowParents(tree)) {
        //
        // }
        var body = layer.getChildFrame('body', index);
        $("#leadDeptId").val(body.find('#treeId').val());
        $("#leadDeptName").val(body.find('#treeName').val());
        layer.close(index);
    }
</script>
</body>
</html>