<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.projectmanage.mapper.ProjectEquiReplaceMapper">
    
    <resultMap type="ProjectEquiReplace" id="ProjectEquiReplaceResult">
        <result property="id"    column="id"    />
        <result property="sourceName"    column="source_name"    />
        <result property="nowName"    column="now_name"    />
        <result property="replaceIp"    column="replace_ip"    />
        <result property="replaceTime"    column="replace_time"    />
        <result property="factoryNo"    column="factory_no"    />
        <result property="proFullName"    column="pro_full_name"    />
        <result property="loc"    column="loc"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="remark6"    column="remark6"    />
        <result property="remark7"    column="remark7"    />
        <result property="remark8"    column="remark8"    />
        <result property="remark9"    column="remark9"    />
        <result property="remark10"    column="remark10"    />
        <result property="remark2"    column="remark2"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark1"    column="remark1"    />
    </resultMap>

    <sql id="selectProjectEquiReplaceVo">
        select id, source_name, now_name, replace_ip, replace_time, factory_no, pro_full_name, loc, remark3, remark4, remark5, remark6, remark7, remark8, remark9, remark10, remark2, create_by, create_date, update_by, update_date, remark, del_flag, remark1 from project_equi_replace
    </sql>

    <select id="selectProjectEquiReplaceList" parameterType="ProjectEquiReplace" resultMap="ProjectEquiReplaceResult">
        <include refid="selectProjectEquiReplaceVo"/>
        <where>  
            <if test="sourceName != null  and sourceName != ''"> and source_name like concat('%', #{sourceName}, '%')</if>
            <if test="nowName != null  and nowName != ''"> and now_name like concat('%', #{nowName}, '%')</if>
            <if test="replaceIp != null  and replaceIp != ''"> and replace_ip = #{replaceIp}</if>
            <if test="replaceTime != null "> and replace_time = #{replaceTime}</if>
            <if test="factoryNo != null  and factoryNo != ''"> and factory_no = #{factoryNo}</if>
            <if test="proFullName != null  and proFullName != ''"> and pro_full_name like concat('%', #{proFullName}, '%')</if>
            <if test="loc != null  and loc != ''"> and loc = #{loc}</if>
            and del_flag=0
        </where>
    </select>
    
    <select id="selectProjectEquiReplaceById" parameterType="String" resultMap="ProjectEquiReplaceResult">
        <include refid="selectProjectEquiReplaceVo"/>
        where id = #{id} and del_flag=0
    </select>
        
    <insert id="insertProjectEquiReplace" parameterType="ProjectEquiReplace">
        insert into project_equi_replace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="sourceName != null  and sourceName != ''">source_name,</if>
            <if test="nowName != null  and nowName != ''">now_name,</if>
            <if test="replaceIp != null  and replaceIp != ''">replace_ip,</if>
            <if test="replaceTime != null ">replace_time,</if>
            <if test="factoryNo != null  and factoryNo != ''">factory_no,</if>
            <if test="proFullName != null  and proFullName != ''">pro_full_name,</if>
            <if test="loc != null  and loc != ''">loc,</if>
            <if test="remark3 != null  and remark3 != ''">remark3,</if>
            <if test="remark4 != null  and remark4 != ''">remark4,</if>
            <if test="remark5 != null  and remark5 != ''">remark5,</if>
            <if test="remark6 != null  and remark6 != ''">remark6,</if>
            <if test="remark7 != null  and remark7 != ''">remark7,</if>
            <if test="remark8 != null  and remark8 != ''">remark8,</if>
            <if test="remark9 != null  and remark9 != ''">remark9,</if>
            <if test="remark10 != null  and remark10 != ''">remark10,</if>
            <if test="remark2 != null  and remark2 != ''">remark2,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createDate != null ">create_date,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateDate != null ">update_date,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="remark1 != null  and remark1 != ''">remark1,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="sourceName != null  and sourceName != ''">#{sourceName},</if>
            <if test="nowName != null  and nowName != ''">#{nowName},</if>
            <if test="replaceIp != null  and replaceIp != ''">#{replaceIp},</if>
            <if test="replaceTime != null ">#{replaceTime},</if>
            <if test="factoryNo != null  and factoryNo != ''">#{factoryNo},</if>
            <if test="proFullName != null  and proFullName != ''">#{proFullName},</if>
            <if test="loc != null  and loc != ''">#{loc},</if>
            <if test="remark3 != null  and remark3 != ''">#{remark3},</if>
            <if test="remark4 != null  and remark4 != ''">#{remark4},</if>
            <if test="remark5 != null  and remark5 != ''">#{remark5},</if>
            <if test="remark6 != null  and remark6 != ''">#{remark6},</if>
            <if test="remark7 != null  and remark7 != ''">#{remark7},</if>
            <if test="remark8 != null  and remark8 != ''">#{remark8},</if>
            <if test="remark9 != null  and remark9 != ''">#{remark9},</if>
            <if test="remark10 != null  and remark10 != ''">#{remark10},</if>
            <if test="remark2 != null  and remark2 != ''">#{remark2},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createDate != null ">#{createDate},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateDate != null ">#{updateDate},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="remark1 != null  and remark1 != ''">#{remark1},</if>
         </trim>
    </insert>

    <update id="updateProjectEquiReplace" parameterType="ProjectEquiReplace">
        update project_equi_replace
        <trim prefix="SET" suffixOverrides=",">
            <if test="sourceName != null  and sourceName != ''">source_name = #{sourceName},</if>
            <if test="nowName != null  and nowName != ''">now_name = #{nowName},</if>
            <if test="replaceIp != null  and replaceIp != ''">replace_ip = #{replaceIp},</if>
            <if test="replaceTime != null ">replace_time = #{replaceTime},</if>
            <if test="factoryNo != null  and factoryNo != ''">factory_no = #{factoryNo},</if>
            <if test="proFullName != null  and proFullName != ''">pro_full_name = #{proFullName},</if>
            <if test="loc != null  and loc != ''">loc = #{loc},</if>
            <if test="remark3 != null  and remark3 != ''">remark3 = #{remark3},</if>
            <if test="remark4 != null  and remark4 != ''">remark4 = #{remark4},</if>
            <if test="remark5 != null  and remark5 != ''">remark5 = #{remark5},</if>
            <if test="remark6 != null  and remark6 != ''">remark6 = #{remark6},</if>
            <if test="remark7 != null  and remark7 != ''">remark7 = #{remark7},</if>
            <if test="remark8 != null  and remark8 != ''">remark8 = #{remark8},</if>
            <if test="remark9 != null  and remark9 != ''">remark9 = #{remark9},</if>
            <if test="remark10 != null  and remark10 != ''">remark10 = #{remark10},</if>
            <if test="remark2 != null  and remark2 != ''">remark2 = #{remark2},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateDate != null ">update_date = #{updateDate},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="remark1 != null  and remark1 != ''">remark1 = #{remark1},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectEquiReplaceById" parameterType="String">
        update  project_equi_replace set del_flag='1' where id = #{id}
    </delete>

    <delete id="deleteProjectEquiReplaceByIds" parameterType="String">
        update  project_equi_replace set del_flag='1'  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>