<div th:fragment="qa">
    <div class="form-group">
        <label class="col-sm-3 control-label">题目：</label>
        <div class="col-sm-8">
            <input id="title" name="title" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">答案：</label>
        <div class="col-sm-8">
            <input id="answer" name="answer" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">解析：</label>
        <div class="col-sm-8">
            <input id="answerTip" name="answerTip" class="form-control" type="text">
        </div>
    </div>
</div>