<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.worktask.mapper.SelfTaskProcessMapper">
    
    <resultMap type="SelfTaskProcess" id="SelfTaskProcessResult">
        <result property="id"    column="id"    />
        <result property="processText"    column="process_text"    />
        <result property="percentAge"    column="percent_age"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectSelfTaskProcessVo">
        select id, process_text, percent_age, create_time, update_by, update_time, create_by, remark from self_task_process
    </sql>
	
    <select id="selectSelfTaskProcessList" parameterType="SelfTaskProcess" resultMap="SelfTaskProcessResult">
        <include refid="selectSelfTaskProcessVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="processText != null  and processText != '' "> and process_text = #{processText}</if>
             <if test="percentAge != null  and percentAge != '' "> and percent_age = #{percentAge}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
         order by create_time desc
    </select>
    
    <select id="selectSelfTaskProcessById" parameterType="String" resultMap="SelfTaskProcessResult">
        <include refid="selectSelfTaskProcessVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSelfTaskProcess" parameterType="SelfTaskProcess">
        insert into self_task_process
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="processText != null  and processText != ''  ">process_text,</if>
			<if test="percentAge != null  and percentAge != ''  ">percent_age,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="processText != null  and processText != ''  ">#{processText},</if>
			<if test="percentAge != null  and percentAge != ''  ">#{percentAge},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateSelfTaskProcess" parameterType="SelfTaskProcess">
        update self_task_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="processText != null  and processText != ''  ">process_text = #{processText},</if>
            <if test="percentAge != null  and percentAge != ''  ">percent_age = #{percentAge},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSelfTaskProcessById" parameterType="String">
        delete from self_task_process where id = #{id}
    </delete>
	
    <delete id="deleteSelfTaskProcessByIds" parameterType="String">
        delete from self_task_process where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>