<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.worktask.mapper.SelfTaskMapper">
    
    <resultMap type="SelfTask" id="SelfTaskResult">
        <result property="id"    column="id"    />
        <result property="taskLevel"    column="task_level"    />
        <result property="pid"    column="pid"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="startDate"    column="start_date"    />
        <result property="requireTime"    column="require_time"    />
        <result property="selvalTaskType"    column="selval_task_type"    />
        <result property="priority"    column="priority"    />
        <result property="taskContent"    column="task_content"    />
        <result property="executorUser"    column="executor_user"    />
        <result property="acceptorUser"    column="acceptor_user"    />
        <result property="taskProgress"    column="task_progress"    />
        <result property="shareUser"    column="share_user"    />
        <result property="isShare"    column="is_share"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
        <result property="taskType"    column="task_type"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="remark6"    column="remark6"    />
        <result property="remark7"    column="remark7"    />
        <result property="remark8"    column="remark8"    />
        <result property="remark9"    column="remark9"    />
        <result property="remark10"    column="remark10"    />
    </resultMap>
    <resultMap type="Goodness" id="GoodnessResult">
        <result property="id"    column="id"    />
        <result property="taskLevel"    column="task_level"    />
        <result property="pid"    column="pid"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="startDate"    column="start_date"    />
        <result property="requireTime"    column="require_time"    />
        <result property="selvalTaskType"    column="selval_task_type"    />
        <result property="priority"    column="priority"    />
        <result property="taskContent"    column="task_content"    />
        <result property="executorUser"    column="executor_user"    />
        <result property="acceptorUser"    column="acceptor_user"    />
        <result property="taskProgress"    column="task_progress"    />
        <result property="shareUser"    column="share_user"    />
        <result property="isShare"    column="is_share"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
        <result property="taskType"    column="task_type"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="remark6"    column="remark6"    />
        <result property="remark7"    column="remark7"    />
        <result property="remark8"    column="remark8"    />
        <result property="remark9"    column="remark9"    />
        <result property="remark10"    column="remark10"    />
        <association property="leadDept" column="leader_id" javaType="SysDept" resultMap="leadDeptResult"/>
    </resultMap>
    <resultMap id="leadDeptResult" type="SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <sql id="selectSelfTaskVo">
        select id, task_level, pid, task_title, task_status, start_date, require_time, selval_task_type, priority, task_content, executor_user, acceptor_user, task_progress, share_user, is_share, create_time, update_by, update_time, create_by, remark, task_type, remark1, remark2, remark3, remark4, remark5, remark6, remark7, remark8, remark9, remark10 from self_task
    </sql>
	
    <select id="selectSelfTaskList" parameterType="SelfTask" resultMap="SelfTaskResult">
        <include refid="selectSelfTaskVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="taskLevel != null  and taskLevel != '' "> and task_level = #{taskLevel}</if>
             <if test="pid != null  and pid != '' "> and pid = #{pid}</if>
             <if test="taskTitle != null  and taskTitle != '' "> and task_title = #{taskTitle}</if>
             <if test="taskStatus != null  and taskStatus != '' "> and task_status = #{taskStatus}</if>
             <if test="startDate != null "> and start_date = #{startDate}</if>
             <if test="requireTime != null "> and require_time = #{requireTime}</if>
             <if test="selvalTaskType != null  and selvalTaskType != '' "> and selval_task_type = #{selvalTaskType}</if>
             <if test="priority != null  and priority != '' "> and priority = #{priority}</if>
             <if test="taskContent != null  and taskContent != '' "> and task_content = #{taskContent}</if>
             <if test="executorUser != null  and executorUser != '' ">and find_in_set(#{executorUser},executor_user) </if>
             <if test="acceptorUser != null  and acceptorUser != '' "> and acceptor_user = #{acceptorUser}</if>
             <if test="taskProgress != null  and taskProgress != '' "> and task_progress = #{taskProgress}</if>
             <if test="shareUser != null  and shareUser != '' "> and share_user = #{shareUser}</if>
             <if test="isShare != null  and isShare != '' "> and is_share = #{isShare}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="createBy != null  and createBy != '' "> and s.create_by = #{createBy}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="taskType != null  and taskType != '' "> and task_type = #{taskType}</if>
             <if test="remark1 != null  and remark1 != '' "> and remark1 = #{remark1}</if>
             <if test="remark2 != null  and remark2 != '' "> and remark2 = #{remark2}</if>
             <if test="remark3 != null  and remark3 != '' "> and remark3 = #{remark3}</if>
             <if test="remark4 != null  and remark4 != '' "> and remark4 = #{remark4}</if>
             <if test="remark5 != null  and remark5 != '' "> and remark5 = #{remark5}</if>
             <if test="remark6 != null  and remark6 != '' "> and remark6 = #{remark6}</if>
             <if test="remark7 != null  and remark7 != '' "> and remark7 = #{remark7}</if>
             <if test="remark8 != null  and remark8 != '' "> and remark8 = #{remark8}</if>
             <if test="remark9 != null  and remark9 != '' "> and remark9 = #{remark9}</if>
             <if test="remark10 != null  and remark10 != '' "> and remark10 = #{remark10}</if>
         </where>
    </select>
    <sql id="selectGoodnessTaskVo">
              SELECT
                id,
                task_level,
                pid,
                task_title,
                task_status,
                start_date,
                require_time,
                selval_task_type,
                priority,
                task_content,
                executor_user,
                acceptor_user,
                task_progress,
                share_user,
                is_share,
                s.create_time,
                s.update_by,
                s.update_time,
                s.create_by,
                s.remark,
                task_type,
                remark1,
                remark2,
                remark3,
                remark4,
                remark5,
                remark6,
                remark7,
                remark8,
                remark9,
                remark10,
                dept_name
        FROM
            self_task s
        INNER  JOIN sys_dept d ON d.dept_id = remark2
    </sql>
    <select id="goodnessTaskList" parameterType="Goodness" resultMap="GoodnessResult">
        <include refid="selectGoodnessTaskVo"/>
        <where>
            <if test="id != null  and id != '' "> and id = #{id}</if>
            <if test="taskLevel != null  and taskLevel != '' "> and task_level = #{taskLevel}</if>
            <if test="pid != null  and pid != '' "> and pid = #{pid}</if>
            <if test="taskTitle != null  and taskTitle != '' "> and task_title = #{taskTitle}</if>
            <if test="taskStatus != null  and taskStatus != '' "> and task_status = #{taskStatus}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="requireTime != null "> and require_time = #{requireTime}</if>
            <if test="selvalTaskType != null  and selvalTaskType != '' "> and selval_task_type = #{selvalTaskType}</if>
            <if test="priority != null  and priority != '' "> and priority = #{priority}</if>
            <if test="taskContent != null  and taskContent != '' "> and task_content = #{taskContent}</if>
            <if test="executorUser != null  and executorUser != '' ">and find_in_set(#{executorUser},executor_user) </if>
            <if test="acceptorUser != null  and acceptorUser != '' "> and acceptor_user = #{acceptorUser}</if>
            <if test="taskProgress != null  and taskProgress != '' "> and task_progress = #{taskProgress}</if>
            <if test="shareUser != null  and shareUser != '' "> and share_user = #{shareUser}</if>
            <if test="isShare != null  and isShare != '' "> and is_share = #{isShare}</if>
            <if test="createTime != null "> and  s.create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' "> and  s.update_by = #{updateBy}</if>
            <if test="updateTime != null "> and  s.update_time = #{updateTime}</if>
            <if test="createBy != null  and createBy != '' "> and  s.create_by = #{createBy}</if>
            <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
            <if test="taskType != null  and taskType != '' "> and task_type = #{taskType}</if>
            <if test="remark1 != null  and remark1 != '' "> and remark1 = #{remark1}</if>
            <if test="remark2 != null  and remark2 != '' "> and remark2 = #{remark2}</if>
            <if test="remark3 != null  and remark3 != '' "> and remark3 = #{remark3}</if>
            <if test="remark4 != null  and remark4 != '' "> and remark4 = #{remark4}</if>
            <if test="remark5 != null  and remark5 != '' "> and remark5 = #{remark5}</if>
            <if test="remark6 != null  and remark6 != '' "> and remark6 = #{remark6}</if>
            <if test="remark7 != null  and remark7 != '' "> and remark7 = #{remark7}</if>
            <if test="remark8 != null  and remark8 != '' "> and remark8 = #{remark8}</if>
            <if test="remark9 != null  and remark9 != '' "> and remark9 = #{remark9}</if>
            <if test="remark10 != null  and remark10 != '' "> and remark10 = #{remark10}</if>
        </where>
    </select>
    
    <select id="selectSelfTaskById" parameterType="String" resultMap="SelfTaskResult">
        <include refid="selectSelfTaskVo"/>
        where id = #{id}
    </select>

    <select id="selectGoodnessTaskById" parameterType="String" resultMap="GoodnessResult">
        <include refid="selectGoodnessTaskVo"/>
        where id = #{id}
    </select>
    <insert id="insertSelfTask" parameterType="SelfTask">
        insert into self_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="taskLevel != null  and taskLevel != ''  ">task_level,</if>
			<if test="pid != null  and pid != ''  ">pid,</if>
			<if test="taskTitle != null  and taskTitle != ''  ">task_title,</if>
			<if test="taskStatus != null  and taskStatus != ''  ">task_status,</if>
			<if test="startDate != null  ">start_date,</if>
			<if test="requireTime != null  ">require_time,</if>
			<if test="selvalTaskType != null  and selvalTaskType != ''  ">selval_task_type,</if>
			<if test="priority != null  and priority != ''  ">priority,</if>
			<if test="taskContent != null  and taskContent != ''  ">task_content,</if>
			<if test="executorUser != null  and executorUser != ''  ">executor_user,</if>
			<if test="acceptorUser != null  and acceptorUser != ''  ">acceptor_user,</if>
			<if test="taskProgress != null  and taskProgress != ''  ">task_progress,</if>
			<if test="shareUser != null  and shareUser != ''  ">share_user,</if>
			<if test="isShare != null  and isShare != ''  ">is_share,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="taskType != null  and taskType != ''  ">task_type,</if>
			<if test="remark1 != null  and remark1 != ''  ">remark1,</if>
			<if test="remark2 != null  and remark2 != ''  ">remark2,</if>
			<if test="remark3 != null  and remark3 != ''  ">remark3,</if>
			<if test="remark4 != null  and remark4 != ''  ">remark4,</if>
			<if test="remark5 != null  and remark5 != ''  ">remark5,</if>
			<if test="remark6 != null  and remark6 != ''  ">remark6,</if>
			<if test="remark7 != null  and remark7 != ''  ">remark7,</if>
			<if test="remark8 != null  and remark8 != ''  ">remark8,</if>
			<if test="remark9 != null  and remark9 != ''  ">remark9,</if>
			<if test="remark10 != null  and remark10 != ''  ">remark10,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="taskLevel != null  and taskLevel != ''  ">#{taskLevel},</if>
			<if test="pid != null  and pid != ''  ">#{pid},</if>
			<if test="taskTitle != null  and taskTitle != ''  ">#{taskTitle},</if>
			<if test="taskStatus != null  and taskStatus != ''  ">#{taskStatus},</if>
			<if test="startDate != null  ">#{startDate},</if>
			<if test="requireTime != null  ">#{requireTime},</if>
			<if test="selvalTaskType != null  and selvalTaskType != ''  ">#{selvalTaskType},</if>
			<if test="priority != null  and priority != ''  ">#{priority},</if>
			<if test="taskContent != null  and taskContent != ''  ">#{taskContent},</if>
			<if test="executorUser != null  and executorUser != ''  ">#{executorUser},</if>
			<if test="acceptorUser != null  and acceptorUser != ''  ">#{acceptorUser},</if>
			<if test="taskProgress != null  and taskProgress != ''  ">#{taskProgress},</if>
			<if test="shareUser != null  and shareUser != ''  ">#{shareUser},</if>
			<if test="isShare != null  and isShare != ''  ">#{isShare},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="taskType != null  and taskType != ''  ">#{taskType},</if>
			<if test="remark1 != null  and remark1 != ''  ">#{remark1},</if>
			<if test="remark2 != null  and remark2 != ''  ">#{remark2},</if>
			<if test="remark3 != null  and remark3 != ''  ">#{remark3},</if>
			<if test="remark4 != null  and remark4 != ''  ">#{remark4},</if>
			<if test="remark5 != null  and remark5 != ''  ">#{remark5},</if>
			<if test="remark6 != null  and remark6 != ''  ">#{remark6},</if>
			<if test="remark7 != null  and remark7 != ''  ">#{remark7},</if>
			<if test="remark8 != null  and remark8 != ''  ">#{remark8},</if>
			<if test="remark9 != null  and remark9 != ''  ">#{remark9},</if>
			<if test="remark10 != null  and remark10 != ''  ">#{remark10},</if>
         </trim>
    </insert>
	 
    <update id="updateSelfTask" parameterType="SelfTask">
        update self_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskLevel != null  and taskLevel != ''  ">task_level = #{taskLevel},</if>
            <if test="pid != null  and pid != ''  ">pid = #{pid},</if>
            <if test="taskTitle != null  and taskTitle != ''  ">task_title = #{taskTitle},</if>
            <if test="taskStatus != null  and taskStatus != ''  ">task_status = #{taskStatus},</if>
            <if test="startDate != null  ">start_date = #{startDate},</if>
            <if test="requireTime != null  ">require_time = #{requireTime},</if>
            <if test="selvalTaskType != null  and selvalTaskType != ''  ">selval_task_type = #{selvalTaskType},</if>
            <if test="priority != null  and priority != ''  ">priority = #{priority},</if>
            <if test="taskContent != null  and taskContent != ''  ">task_content = #{taskContent},</if>
            <if test="executorUser != null  and executorUser != ''  ">executor_user = #{executorUser},</if>
            <if test="acceptorUser != null  and acceptorUser != ''  ">acceptor_user = #{acceptorUser},</if>
            <if test="taskProgress != null  and taskProgress != ''  ">task_progress = #{taskProgress},</if>
            <if test="shareUser != null  and shareUser != ''  ">share_user = #{shareUser},</if>
            <if test="isShare != null  and isShare != ''  ">is_share = #{isShare},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="taskType != null  and taskType != ''  ">task_type = #{taskType},</if>
            <if test="remark1 != null  and remark1 != ''  ">remark1 = #{remark1},</if>
            <if test="remark2 != null  and remark2 != ''  ">remark2 = #{remark2},</if>
            <if test="remark3 != null  and remark3 != ''  ">remark3 = #{remark3},</if>
            <if test="remark4 != null  and remark4 != ''  ">remark4 = #{remark4},</if>
            <if test="remark5 != null  and remark5 != ''  ">remark5 = #{remark5},</if>
            <if test="remark6 != null  and remark6 != ''  ">remark6 = #{remark6},</if>
            <if test="remark7 != null  and remark7 != ''  ">remark7 = #{remark7},</if>
            <if test="remark8 != null  and remark8 != ''  ">remark8 = #{remark8},</if>
            <if test="remark9 != null  and remark9 != ''  ">remark9 = #{remark9},</if>
            <if test="remark10 != null  and remark10 != ''  ">remark10 = #{remark10},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSelfTaskById" parameterType="String">
        delete from self_task where id = #{id}
    </delete>
	
    <delete id="deleteSelfTaskByIds" parameterType="String">
        delete from self_task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>




    
</mapper>