<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.worktask.mapper.SelfTaskMapper">
    
    <resultMap type="SelfTask" id="SelfTaskResult">
        <result property="id"    column="id"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="startDate"    column="start_date"    />
        <result property="requireTime"    column="require_time"    />
        <result property="selvalTaskType"    column="selval_task_type"    />
        <result property="priority"    column="priority"    />
        <result property="taskContent"    column="task_content"    />
        <result property="executorUser"    column="executor_user"    />
        <result property="acceptorUser"    column="acceptor_user"    />
        <result property="taskProgress"    column="task_progress"    />
        <result property="isShare"    column="is_share"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="createdBy"    column="created_by"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>
	
	<sql id="selectSelfTaskVo">
        select id, task_title, start_date, require_time, selval_task_type, priority, task_content, executor_user, acceptor_user, task_progress, is_share, created_time, update_by, updated_time, created_by, remarks from self_task
    </sql>
	
    <select id="selectSelfTaskList" parameterType="SelfTask" resultMap="SelfTaskResult">
        <include refid="selectSelfTaskVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="taskTitle != null  and taskTitle != '' "> and task_title = #{taskTitle}</if>
             <if test="startDate != null "> and start_date = #{startDate}</if>
             <if test="requireTime != null "> and require_time = #{requireTime}</if>
             <if test="selvalTaskType != null  and selvalTaskType != '' "> and selval_task_type = #{selvalTaskType}</if>
             <if test="priority != null  and priority != '' "> and priority = #{priority}</if>
             <if test="taskContent != null  and taskContent != '' "> and task_content = #{taskContent}</if>
             <if test="executorUser != null  and executorUser != '' "> and executor_user = #{executorUser}</if>
             <if test="acceptorUser != null  and acceptorUser != '' "> and acceptor_user = #{acceptorUser}</if>
             <if test="taskProgress != null  and taskProgress != '' "> and task_progress = #{taskProgress}</if>
             <if test="isShare != null  and isShare != '' "> and is_share = #{isShare}</if>
             <if test="createdTime != null "> and created_time = #{createdTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
             <if test="createdBy != null  and createdBy != '' "> and created_by = #{createdBy}</if>
             <if test="remarks != null  and remarks != '' "> and remarks = #{remarks}</if>
         </where>
    </select>
    
    <select id="selectSelfTaskById" parameterType="String" resultMap="SelfTaskResult">
        <include refid="selectSelfTaskVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSelfTask" parameterType="SelfTask">
        insert into self_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="taskTitle != null  and taskTitle != ''  ">task_title,</if>
			<if test="startDate != null  ">start_date,</if>
			<if test="requireTime != null  ">require_time,</if>
			<if test="selvalTaskType != null  and selvalTaskType != ''  ">selval_task_type,</if>
			<if test="priority != null  and priority != ''  ">priority,</if>
			<if test="taskContent != null  and taskContent != ''  ">task_content,</if>
			<if test="executorUser != null  and executorUser != ''  ">executor_user,</if>
			<if test="acceptorUser != null  and acceptorUser != ''  ">acceptor_user,</if>
			<if test="taskProgress != null  and taskProgress != ''  ">task_progress,</if>
			<if test="isShare != null  and isShare != ''  ">is_share,</if>
			<if test="createdTime != null  ">created_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updatedTime != null  ">updated_time,</if>
			<if test="createdBy != null  and createdBy != ''  ">created_by,</if>
			<if test="remarks != null  and remarks != ''  ">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="taskTitle != null  and taskTitle != ''  ">#{taskTitle},</if>
			<if test="startDate != null  ">#{startDate},</if>
			<if test="requireTime != null  ">#{requireTime},</if>
			<if test="selvalTaskType != null  and selvalTaskType != ''  ">#{selvalTaskType},</if>
			<if test="priority != null  and priority != ''  ">#{priority},</if>
			<if test="taskContent != null  and taskContent != ''  ">#{taskContent},</if>
			<if test="executorUser != null  and executorUser != ''  ">#{executorUser},</if>
			<if test="acceptorUser != null  and acceptorUser != ''  ">#{acceptorUser},</if>
			<if test="taskProgress != null  and taskProgress != ''  ">#{taskProgress},</if>
			<if test="isShare != null  and isShare != ''  ">#{isShare},</if>
			<if test="createdTime != null  ">#{createdTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updatedTime != null  ">#{updatedTime},</if>
			<if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
			<if test="remarks != null  and remarks != ''  ">#{remarks},</if>
         </trim>
    </insert>
	 
    <update id="updateSelfTask" parameterType="SelfTask">
        update self_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskTitle != null  and taskTitle != ''  ">task_title = #{taskTitle},</if>
            <if test="startDate != null  ">start_date = #{startDate},</if>
            <if test="requireTime != null  ">require_time = #{requireTime},</if>
            <if test="selvalTaskType != null  and selvalTaskType != ''  ">selval_task_type = #{selvalTaskType},</if>
            <if test="priority != null  and priority != ''  ">priority = #{priority},</if>
            <if test="taskContent != null  and taskContent != ''  ">task_content = #{taskContent},</if>
            <if test="executorUser != null  and executorUser != ''  ">executor_user = #{executorUser},</if>
            <if test="acceptorUser != null  and acceptorUser != ''  ">acceptor_user = #{acceptorUser},</if>
            <if test="taskProgress != null  and taskProgress != ''  ">task_progress = #{taskProgress},</if>
            <if test="isShare != null  and isShare != ''  ">is_share = #{isShare},</if>
            <if test="createdTime != null  ">created_time = #{createdTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updatedTime != null  ">updated_time = #{updatedTime},</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by = #{createdBy},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSelfTaskById" parameterType="String">
        delete from self_task where id = #{id}
    </delete>
	
    <delete id="deleteSelfTaskByIds" parameterType="String">
        delete from self_task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>