<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bbs.mapper.TopicMapper">
    
    <resultMap type="Topic" id="TopicResult">
        <result property="id"    column="id"    />
        <result property="sid"    column="sid"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="clickCount"    column="click_count"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remarks"    column="remarks"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="remark6"    column="remark6"    />
        <result property="remark7"    column="remark7"    />
        <result property="remark8"    column="remark8"    />
        <result property="remark9"    column="remark9"    />
        <result property="remark10"    column="remark10"    />
        <association property="sysUser" column="create_by" javaType="SysUser" resultMap="SysUserResult"/>
        <association property="section" column="sid" javaType="Section" resultMap="SectionResult"/>
    </resultMap>
    <resultMap id="SysUserResult" type="SysUser">
        <id     property="userId"       column="user_id"      />
        <result property="avatar"       column="avatar"       />
        <result property="userName"     column="user_name"    />
    </resultMap>
    <resultMap id="SectionResult" type="Section">
        <result property="name"       column="name"       />
    </resultMap>
    <sql id="selectTopicVo">
      SELECT
	topic.id,
	topic.sid,
	topic.title,
	topic.content,
	topic.click_count,
	topic.create_by,
	topic.create_date,
	topic.update_by,
	topic.update_date,
	topic.remarks,
	topic.del_flag,
	topic.remark1,
	topic.remark2,
	topic.remark3,
	topic.remark4,
	topic.remark5,
	topic.remark6,
	topic.remark7,
	topic.remark8,
	topic.remark9,
	topic.remark10,
	user_id,
	avatar,
	user_name,
  bbs_section.`name`
FROM
	bbs_topic topic
INNER JOIN sys_user ON topic.create_by = sys_user.user_id
INNER JOIN bbs_section on bbs_section.id=topic.sid
    </sql>
	
    <select id="selectTopicList" parameterType="Topic" resultMap="TopicResult">
        <include refid="selectTopicVo"/>
        <where>  
            <if test="id != null  and id != '' "> and topic.id = #{id}</if>
             <if test="sid != null  and sid != '' "> and topic.sid = #{sid}</if>
             <if test="title != null  and title != '' "> and topic.title = #{title}</if>
             <if test="content != null  and content != '' "> and topic.content = #{content}</if>
             <if test="clickCount != null "> and topic.click_count = #{clickCount}</if>
             <if test="createBy != null  and createBy != '' "> and topic.create_by = #{createBy}</if>
             <if test="createDate != null "> and topic.create_date = #{createDate}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateDate != null "> and topic.update_date = #{updateDate}</if>
             <if test="remarks != null  and remarks != '' "> and topic.remarks = #{remarks}</if>
             <if test="delFlag != null  and delFlag != '' "> and topic.del_flag = #{delFlag}</if>
             <if test="remark1 != null  and remark1 != '' "> and topic.remark1 = #{remark1}</if>
             <if test="remark2 != null  and remark2 != '' "> and topic.remark2 = #{remark2}</if>
             <if test="remark3 != null  and remark3 != '' "> and topic.remark3 = #{remark3}</if>
             <if test="remark4 != null  and remark4 != '' "> and topic.remark4 = #{remark4}</if>
             <if test="remark5 != null  and remark5 != '' "> and topic.remark5 = #{remark5}</if>
             <if test="remark6 != null  and remark6 != '' "> and topic.remark6 = #{remark6}</if>
             <if test="remark7 != null  and remark7 != '' "> and topic.remark7 = #{remark7}</if>
             <if test="remark8 != null  and remark8 != '' "> and topic.remark8 = #{remark8}</if>
             <if test="remark9 != null  and remark9 != '' "> and topic.remark9 = #{remark9}</if>
             <if test="remark10 != null  and remark10 != '' "> and topic.remark10 = #{remark10}</if>
            and topic.del_flag='0'
         </where>
    </select>
    
    <select id="selectTopicById" parameterType="String" resultMap="TopicResult">
        <include refid="selectTopicVo"/>
        where topic.id = #{id} and topic.del_flag='0'
    </select>
        
    <insert id="insertTopic" parameterType="Topic">
        insert into bbs_topic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="sid != null  and sid != ''  ">sid,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="clickCount != null  ">click_count,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="remarks != null  and remarks != ''  ">remarks,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="remark1 != null  and remark1 != ''  ">remark1,</if>
			<if test="remark2 != null  and remark2 != ''  ">remark2,</if>
			<if test="remark3 != null  and remark3 != ''  ">remark3,</if>
			<if test="remark4 != null  and remark4 != ''  ">remark4,</if>
			<if test="remark5 != null  and remark5 != ''  ">remark5,</if>
			<if test="remark6 != null  and remark6 != ''  ">remark6,</if>
			<if test="remark7 != null  and remark7 != ''  ">remark7,</if>
			<if test="remark8 != null  and remark8 != ''  ">remark8,</if>
			<if test="remark9 != null  and remark9 != ''  ">remark9,</if>
			<if test="remark10 != null  and remark10 != ''  ">remark10,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="sid != null  and sid != ''  ">#{sid},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="clickCount != null  ">#{clickCount},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="remarks != null  and remarks != ''  ">#{remarks},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="remark1 != null  and remark1 != ''  ">#{remark1},</if>
			<if test="remark2 != null  and remark2 != ''  ">#{remark2},</if>
			<if test="remark3 != null  and remark3 != ''  ">#{remark3},</if>
			<if test="remark4 != null  and remark4 != ''  ">#{remark4},</if>
			<if test="remark5 != null  and remark5 != ''  ">#{remark5},</if>
			<if test="remark6 != null  and remark6 != ''  ">#{remark6},</if>
			<if test="remark7 != null  and remark7 != ''  ">#{remark7},</if>
			<if test="remark8 != null  and remark8 != ''  ">#{remark8},</if>
			<if test="remark9 != null  and remark9 != ''  ">#{remark9},</if>
			<if test="remark10 != null  and remark10 != ''  ">#{remark10},</if>
         </trim>
    </insert>
	 
    <update id="updateTopic" parameterType="Topic">
        update bbs_topic
        <trim prefix="SET" suffixOverrides=",">
            <if test="sid != null  and sid != ''  ">sid = #{sid},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="clickCount != null  ">click_count = #{clickCount},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="remark1 != null  and remark1 != ''  ">remark1 = #{remark1},</if>
            <if test="remark2 != null  and remark2 != ''  ">remark2 = #{remark2},</if>
            <if test="remark3 != null  and remark3 != ''  ">remark3 = #{remark3},</if>
            <if test="remark4 != null  and remark4 != ''  ">remark4 = #{remark4},</if>
            <if test="remark5 != null  and remark5 != ''  ">remark5 = #{remark5},</if>
            <if test="remark6 != null  and remark6 != ''  ">remark6 = #{remark6},</if>
            <if test="remark7 != null  and remark7 != ''  ">remark7 = #{remark7},</if>
            <if test="remark8 != null  and remark8 != ''  ">remark8 = #{remark8},</if>
            <if test="remark9 != null  and remark9 != ''  ">remark9 = #{remark9},</if>
            <if test="remark10 != null  and remark10 != ''  ">remark10 = #{remark10},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTopicById" parameterType="String">
        update   bbs_topic set del_flag='1' where id = #{id}
    </delete>
	
    <delete id="deleteTopicByIds" parameterType="String">
        update   bbs_topic set del_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>