<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<title>我的试卷</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" th:href="@{/exam/skins/default/style.css?v=20170616}">

<style type="text/css">
    .error{
        color: #f00;
    }
</style>
</head>

<body onbeforeunload="return tm_checkUnsubmit();" marginwidth="0" marginheight="0" style="">

<div class="tm_main">


    <div class="tm_container">

        <table border="0" width="100%" cellpadding="0" style="min-width:860px;">
            <tbody>
            <tr>
                <!-- left -->
                <td valign="top">
                    <form method="post" id="form_paper_detail">
                        <div class="tm_paper">
                            <div class="tm_paper_head">
                                <h1>2019入党积极分子考试</h1>

                                <h2 style="background:#ddd; padding:5px 0;">
                                    11
                                </h2>

                                <h2>
                                    <b>时间设定</b> :
                                    2019-06-09 20:02:00 --
                                    2019-06-28 20:02:00 &nbsp;&nbsp;
                                    <b>考试时长</b> : 90 分钟
                                </h2>
                                <h3>
                                    <b>卷面总分</b> : 128
                                    &nbsp;&nbsp;
                                    <b>及格分数</b> : 77
                                </h3>
                            </div>


                            <div class="tm_paper_body">

                                <div class="tm_paper_section">
                                    <h1>单选题</h1>
                                    <span th:each="question,questionStat:${paperQuestions}"
                                          th:if="${question.libraryDetail.libType eq '1'}">
                                    <span class="span-quick-nav" data-qid="d73fe867-8810-4412-82d7-9390edce32ba"
                                          th:id="${'quick-Q-'+question.questionId}"></span>
                                    <table border="0" cellpadding="0" cellspacing="0" class="tm_paper_question"
                                           style="table-layout:fixed;">
                                        <thead>
                                        <tr>
                                            <th valign="top" class="tm_question_lineheight"><cite
                                                    th:text="${(questionStat.index+1)}"></cite></th>
                                            <td class="tm_question_lineheight"
                                                th:text="${question.libraryDetail.title}">
                                            </td>
                                            <th valign="top" class="tm_question_lineheight"
                                                style="text-align:center; font-weight:normal">1分</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="3">
                                                <ul>

                                                    <li>
                                                        <input th:text="${question.libraryDetail.choiceA}" type="radio"
                                                               class="validate[required] single_choice qk-choice"
                                                               value="A"
                                                               th:name="${question.questionId}"
                                                               th:data-qid="${question.questionId}" >

                                                    </li>
                                                     <li>
                                                        <input th:text="${question.libraryDetail.choiceB}" type="radio"
                                                               class="validate[required] single_choice qk-choice"
                                                               value="B"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>
                                                       <li>
                                                        <input th:text="${question.libraryDetail.choiceC}" type="radio"
                                                               class="validate[required] single_choice qk-choice"
                                                               value="C"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>
                                                       <li>
                                                        <input th:if="${question.libraryDetail.choiceD!='' && question.libraryDetail.choiceD!=null}"
                                                               th:text="${question.libraryDetail.choiceD}" type="radio"
                                                               class="validate[required] single_choice qk-choice"
                                                               value="D"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>

                                                       <li>
                                                        <input th:if="${question.libraryDetail.choiceE!='' && question.libraryDetail.choiceE!=null}"
                                                               th:text="${question.libraryDetail.choiceE}" type="radio"
                                                               class="validate[required] single_choice qk-choice"
                                                               value="E"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>

                                                    <li>
                                                        <input th:if="${question.libraryDetail.choiceF!='' && question.libraryDetail.choiceF!=null}"
                                                               th:text="${question.libraryDetail.choiceF}" type="radio"
                                                               class="validate[required] single_choice qk-choice"
                                                               value="F"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>
                                                </ul>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                        </span>
                                </div>
                                <div class="tm_paper_section">
                                    <h1>多选题</h1>
                                    <span th:each="question,questionStat:${paperQuestions}"
                                          th:if="${question.libraryDetail.libType eq '2'}">
                                    <span class="span-quick-nav" data-qid="d73fe867-8810-4412-82d7-9390edce32ba"
                                          th:id="${'quick-Q-'+question.questionId}"></span>
                                    <table border="0" cellpadding="0" cellspacing="0" class="tm_paper_question"
                                           style="table-layout:fixed;">
                                        <thead>
                                        <tr>
                                            <th valign="top" class="tm_question_lineheight"><cite
                                                    th:text="${(questionStat.index+1)}"></cite></th>
                                            <td class="tm_question_lineheight"
                                                th:text="${question.libraryDetail.title}">
                                            </td>
                                            <th valign="top" class="tm_question_lineheight"
                                                style="text-align:center; font-weight:normal">1分</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="3">
                                                <ul>

                                                    <li>
                                                        <input th:text="${question.libraryDetail.choiceA}"
                                                               type="checkbox"
                                                               class="validate[required] qk-choice single_choice"
                                                               value="A"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >

                                                    </li>
                                                     <li>
                                                        <input th:text="${question.libraryDetail.choiceB}"
                                                               type="checkbox" class="validate[required] single_choice qk-choice"
                                                               value="B"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>
                                                       <li>
                                                        <input th:text="${question.libraryDetail.choiceC}"
                                                               type="checkbox"
                                                               class="validate[required] qk-choice single_choice"
                                                               value="C"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>
                                                       <li>
                                                        <input th:if="${question.libraryDetail.choiceD!='' && question.libraryDetail.choiceD!=null}"
                                                               th:text="${question.libraryDetail.choiceD}"
                                                               type="checkbox"
                                                               class="validate[required] qk-choice single_choice"
                                                               value="D"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>

                                                       <li>
                                                        <input th:if="${question.libraryDetail.choiceE!='' && question.libraryDetail.choiceE!=null}"
                                                               th:text="${question.libraryDetail.choiceE}"
                                                               type="checkbox"
                                                               class="validate[required] qk-choice single_choice"
                                                               value="E"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>

                                                    <li>
                                                        <input th:if="${question.libraryDetail.choiceF!='' && question.libraryDetail.choiceF!=null}"
                                                               th:text="${question.libraryDetail.choiceF}"
                                                               type="checkbox"
                                                               class="validate[required] qk-choice single_choice"
                                                               value="F"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}" >
                                                    </li>
                                                </ul>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                        </span>
                                </div>

                                <div class="tm_paper_section">
                                    <h1>判断题</h1>
                                    <span th:each="question,questionStat:${paperQuestions}"
                                          th:if="${question.libraryDetail.libType eq '4'}">
                                    <span class="span-quick-nav" data-qid="d73fe867-8810-4412-82d7-9390edce32ba"
                                          th:id="${'quick-Q-'+question.questionId}"></span>
                                    <table border="0" cellpadding="0" cellspacing="0" class="tm_paper_question"
                                           style="table-layout:fixed;">
                                        <thead>
                                        <tr>
                                            <th valign="top" class="tm_question_lineheight"><cite
                                                    th:text="${(questionStat.index+1)}"></cite></th>
                                            <td class="tm_question_lineheight"
                                                th:text="${question.libraryDetail.title}">
                                            </td>
                                            <th valign="top" class="tm_question_lineheight"
                                                style="text-align:center; font-weight:normal">1分</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="3">
                                                <ul>

                                                    <li>
                                                        <input th:text="${question.libraryDetail.choiceA}" type="radio"
                                                               class="validate[required] single_choice  qk-choice"
                                                               value="A"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}">

                                                    </li>
                                                     <li>
                                                        <input th:text="${question.libraryDetail.choiceB}" type="radio"
                                                               class="validate[required] single_choice qk-choice"
                                                               value="B"
                                                               th:data-qid="${question.questionId}"
                                                               th:name="${question.questionId}">
                                                    </li>

                                                </ul>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                        </span>
                                </div>

                                <!--                                <div class="tm_paper_section">-->
                                <!--                                    <h1>填空题</h1>-->
                                <!--                                    <span class="span-quick-nav" data-qid="419eee52-b74b-41ce-86d0-7d994522786c"-->
                                <!--                                          id="quick-Q-419eee52-b74b-41ce-86d0-7d994522786c"></span>-->

                                <!--                                    <table border="0" cellpadding="0" cellspacing="0" class="tm_paper_question"-->
                                <!--                                           style="table-layout:fixed;">-->
                                <!--                                        <thead>-->
                                <!--                                        <tr>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"><cite>101</cite></th>-->
                                <!--                                            <td class="tm_question_lineheight">-->

                                <!--                                                16、中国共产党的思想路线是 <input type="text"-->
                                <!--                                                                      name="Q-419eee52-b74b-41ce-86d0-7d994522786c"-->
                                <!--                                                                      data-qid="419eee52-b74b-41ce-86d0-7d994522786c"-->
                                <!--                                                                      class="validate[required] tm_txt qk-blank"> 。-->

                                <!--                                            </td>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"-->
                                <!--                                                style="text-align:center; font-weight:normal">1分-->
                                <!--                                            </th>-->
                                <!--                                        </tr>-->
                                <!--                                        </thead>-->
                                <!--                                        <tbody>-->
                                <!--                                        <tr>-->
                                <!--                                            <td colspan="3">-->

                                <!--                                            </td>-->
                                <!--                                        </tr>-->
                                <!--                                        </tbody>-->
                                <!--                                    </table>-->

                                <!--                                    <span class="span-quick-nav" data-qid="2010dc7b-5110-45b9-a312-fafeed4928f7"-->
                                <!--                                          id="quick-Q-2010dc7b-5110-45b9-a312-fafeed4928f7"></span>-->

                                <!--                                    <table border="0" cellpadding="0" cellspacing="0" class="tm_paper_question"-->
                                <!--                                           style="table-layout:fixed;">-->
                                <!--                                        <thead>-->
                                <!--                                        <tr>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"><cite>102</cite></th>-->
                                <!--                                            <td class="tm_question_lineheight">-->

                                <!--                                                4、2014年10月23日党的十八大四中全会提出全面推进依法治国的总目标是 <input type="text"-->
                                <!--                                                                                             name="Q-2010dc7b-5110-45b9-a312-fafeed4928f7"-->
                                <!--                                                                                             data-qid="2010dc7b-5110-45b9-a312-fafeed4928f7"-->
                                <!--                                                                                             class="validate[required] tm_txt qk-blank">-->
                                <!--                                                。-->

                                <!--                                            </td>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"-->
                                <!--                                                style="text-align:center; font-weight:normal">1分-->
                                <!--                                            </th>-->
                                <!--                                        </tr>-->
                                <!--                                        </thead>-->
                                <!--                                        <tbody>-->
                                <!--                                        <tr>-->
                                <!--                                            <td colspan="3">-->

                                <!--                                            </td>-->
                                <!--                                        </tr>-->
                                <!--                                        </tbody>-->
                                <!--                                    </table>-->


                                <!--                                </div>-->

                                <!--                                <div class="tm_paper_section">-->
                                <!--                                    <h1>问答题</h1>-->
                                <!--                                    <span class="span-quick-nav" data-qid="eeb2eb88-97f6-49cc-b009-f159ebde36d8"-->
                                <!--                                          id="quick-Q-eeb2eb88-97f6-49cc-b009-f159ebde36d8"></span>-->
                                <!--                                    <table border="0" cellpadding="0" cellspacing="0" class="tm_paper_question"-->
                                <!--                                           style="table-layout:fixed;">-->
                                <!--                                        <thead>-->
                                <!--                                        <tr>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"><cite>126</cite></th>-->
                                <!--                                            <td class="tm_question_lineheight">-->

                                <!--                                                1、中国共产党的性质？-->

                                <!--                                            </td>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"-->
                                <!--                                                style="text-align:center; font-weight:normal">1分-->
                                <!--                                            </th>-->
                                <!--                                        </tr>-->
                                <!--                                        </thead>-->
                                <!--                                        <tbody>-->
                                <!--                                        <tr>-->
                                <!--                                            <td colspan="3">-->

                                <!--                                                <div class="tm_marleft20"><textarea rows="5" cols="80"-->
                                <!--                                                                                    data-qid="eeb2eb88-97f6-49cc-b009-f159ebde36d8"-->
                                <!--                                                                                    name="Q-eeb2eb88-97f6-49cc-b009-f159ebde36d8"-->
                                <!--                                                                                    class="validate[required] tm_txtx qk-txt"></textarea>-->
                                <!--                                                </div>-->

                                <!--                                            </td>-->
                                <!--                                        </tr>-->
                                <!--                                        </tbody>-->
                                <!--                                    </table>-->

                                <!--                                    <span class="span-quick-nav" data-qid="ea81a38a-df69-48c7-b33d-37f552af3d02"-->
                                <!--                                          id="quick-Q-ea81a38a-df69-48c7-b33d-37f552af3d02"></span>-->

                                <!--                                    <table border="0" cellpadding="0" cellspacing="0" class="tm_paper_question"-->
                                <!--                                           style="table-layout:fixed;">-->
                                <!--                                        <thead>-->
                                <!--                                        <tr>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"><cite>127</cite></th>-->
                                <!--                                            <td class="tm_question_lineheight">-->

                                <!--                                                3、党的十八大提出的两个“五位一体”，内容是什么？-->

                                <!--                                            </td>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"-->
                                <!--                                                style="text-align:center; font-weight:normal">1分-->
                                <!--                                            </th>-->
                                <!--                                        </tr>-->
                                <!--                                        </thead>-->
                                <!--                                        <tbody>-->
                                <!--                                        <tr>-->
                                <!--                                            <td colspan="3">-->

                                <!--                                                <div class="tm_marleft20"><textarea rows="5" cols="80"-->
                                <!--                                                                                    data-qid="ea81a38a-df69-48c7-b33d-37f552af3d02"-->
                                <!--                                                                                    name="Q-ea81a38a-df69-48c7-b33d-37f552af3d02"-->
                                <!--                                                                                    class="validate[required] tm_txtx qk-txt"></textarea>-->
                                <!--                                                </div>-->

                                <!--                                            </td>-->
                                <!--                                        </tr>-->
                                <!--                                        </tbody>-->
                                <!--                                    </table>-->

                                <!--                                    <span class="span-quick-nav" data-qid="408cc92b-4e1d-4b8d-b60e-04639ac89387"-->
                                <!--                                          id="quick-Q-408cc92b-4e1d-4b8d-b60e-04639ac89387"></span>-->

                                <!--                                    <table border="0" cellpadding="0" cellspacing="0" class="tm_paper_question"-->
                                <!--                                           style="table-layout:fixed;">-->
                                <!--                                        <thead>-->
                                <!--                                        <tr>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"><cite>128</cite></th>-->
                                <!--                                            <td class="tm_question_lineheight">-->

                                <!--                                                2、党的基本路线？-->

                                <!--                                            </td>-->
                                <!--                                            <th valign="top" class="tm_question_lineheight"-->
                                <!--                                                style="text-align:center; font-weight:normal">1分-->
                                <!--                                            </th>-->
                                <!--                                        </tr>-->
                                <!--                                        </thead>-->
                                <!--                                        <tbody>-->
                                <!--                                        <tr>-->
                                <!--                                            <td colspan="3">-->

                                <!--                                                <div class="tm_marleft20"><textarea rows="5" cols="80"-->
                                <!--                                                                                    data-qid="408cc92b-4e1d-4b8d-b60e-04639ac89387"-->
                                <!--                                                                                    name="Q-408cc92b-4e1d-4b8d-b60e-04639ac89387"-->
                                <!--                                                                                    class="validate[required] tm_txtx qk-txt"></textarea>-->
                                <!--                                                </div>-->

                                <!--                                            </td>-->
                                <!--                                        </tr>-->
                                <!--                                        </tbody>-->
                                <!--                                    </table>-->

                                <!--                                </div>-->

                            </div>
                            <!-- /tm_paper_body -->

                            <div class="tm_adm_paper_foot">
                                <button class="tm_btn tm_btn_primary" type="button"
                                        onclick="submitPaper();">提交
                                </button>
                                <button class="tm_btn" type="button" onclick="javascript:history.go(-1);">取消</button>
                            </div>



                        </div>
                    </form>
                </td>
                <!-- /left -->

                <td width="10">&nbsp;</td>

                <!--  right-->
                <td width="220" valign="top">

                </td>
                <!--  /right-->
            </tr>
            </tbody>
        </table>

    </div>

</div>

<div id="div_processor" style="right: 15px;">
    <div id="div_processor_timer" style="margin-top:5px;"><span class="tm_label">1:00:00</span></div>
    <div id="div_processor_fastto">

        <dl>
            <dt>选择题</dt>
            <dd>
                <a th:each="question,state:${paperQuestions}" th:if="${question.libraryDetail.libType eq '1'}"
                   href="javascript:void(0);"
                   th:onclick="javascript:tmUserPaper.moveToQuestion([[${question.questionId}]])"
                   th:text="${state.index+1}" th:id="${'fast_'+question.questionId}">1</a>

                <div class="tm_clear"></div>
            </dd>
        </dl>
        <dl>
            <dt>多选题</dt>
            <dd>
                <a th:each="question,state:${paperQuestions}" th:if="${question.libraryDetail.libType eq '2'}"
                   href="javascript:void(0);"
                   th:onclick="javascript:tmUserPaper.moveToQuestion([[${question.questionId}]])"
                   th:text="${state.index+1}" th:id="${'fast_'+question.questionId}">1</a>

                <div class="tm_clear"></div>
            </dd>
        </dl>
        <dl>
            <dt>判断题</dt>
            <dd>
                <a th:each="question,state:${paperQuestions}" th:if="${question.libraryDetail.libType eq '4'}"
                   href="javascript:void(0);"
                   th:onclick="javascript:tmUserPaper.moveToQuestion([[${question.questionId}]])"
                   th:text="${state.index+1}" th:id="${'fast_'+question.questionId}">1</a>

                <div class="tm_clear"></div>
            </dd>
        </dl>


        <!--        <dl>-->
        <!--            <dt>填空题</dt>-->
        <!--            <dd>-->
        <!--                <a href="javascript:void(0);"-->
        <!--                   onclick="tmUserPaper.moveToQuestion('419eee52-b74b-41ce-86d0-7d994522786c')"-->
        <!--                   id="fast_419eee52-b74b-41ce-86d0-7d994522786c">101</a>-->
        <!--                <a href="javascript:void(0);"-->
        <!--                   onclick="tmUserPaper.moveToQuestion('2010dc7b-5110-45b9-a312-fafeed4928f7')"-->
        <!--                   id="fast_2010dc7b-5110-45b9-a312-fafeed4928f7">102</a>-->
        <!--                <div class="tm_clear"></div>-->
        <!--            </dd>-->
        <!--        </dl>-->

        <!--        <dl>-->
        <!--            <dt>问答题</dt>-->
        <!--            <dd>-->
        <!--                <a href="javascript:void(0);"-->
        <!--                   onclick="tmUserPaper.moveToQuestion('eeb2eb88-97f6-49cc-b009-f159ebde36d8')"-->
        <!--                   id="fast_eeb2eb88-97f6-49cc-b009-f159ebde36d8">126</a>-->
        <!--                <a href="javascript:void(0);"-->
        <!--                   onclick="tmUserPaper.moveToQuestion('ea81a38a-df69-48c7-b33d-37f552af3d02')"-->
        <!--                   id="fast_ea81a38a-df69-48c7-b33d-37f552af3d02">127</a>-->
        <!--                <a href="javascript:void(0);"-->
        <!--                   onclick="tmUserPaper.moveToQuestion('408cc92b-4e1d-4b8d-b60e-04639ac89387')"-->
        <!--                   id="fast_408cc92b-4e1d-4b8d-b60e-04639ac89387">128</a>-->
        <!--                <div class="tm_clear"></div>-->
        <!--            </dd>-->
        <!--        </dl>-->

    </div>
    <div id="div_processor_ops">
        <input type="button" value="提交" class="tm_btn" onclick="submitPaper();">
    </div>
</div>
<div th:include="include :: footer"></div>

<script type="text/javascript">
    // document.oncontextmenu = function() {
    //     return false;
    // }
    // document.onselectstart = function() {
    //     return false;
    // }
    // document.oncopy = function() {
    //     return false;
    // }
</script>
<script type="text/javascript">


    var tmUserPaper = {
        initPaper: function () {

        },

        moveToQuestion: function (qid) {
            var thetop = $("#quick-Q-" + qid).offset().top;
            $("html:not(:animated),body:not(:animated)").animate({scrollTop: thetop}, 500);
        }
    };

    $(".qk-choice").click(function () {
        var thename = $(this).attr("name");
        var theqid = $(this).data("qid");
        var chval = "";

        $.each($('input[name=' + thename + ']:checked'), function (idx, item) {
            chval += $(this).val();
        });

        if (chval != "") {
            $("#fast_" + theqid).css({"background-color": "#0f0", "color": "#000"});
        } else {
            $("#fast_" + theqid).css("background-color", "none");
        }

    });


</script>
<script type="text/javascript">


    function tm_checkUnsubmit() {

    }
    function singleValid(name) {
        var flag=true;
        var len_a886f197e97c492b902542efa480caf7= $("input[name="+name+"]").length;
        var count_a886f197e97c492b902542efa480caf7=0;
        $("input[name="+name+"]").each(function (a,b) {
            if(b.checked==false){
                count_a886f197e97c492b902542efa480caf7++;
            }
        });
        if(len_a886f197e97c492b902542efa480caf7==count_a886f197e97c492b902542efa480caf7){
            $("#fast_"+name ).css({"background-color": "#f00", "color": "#000"});
            flag=false;
        }
        return flag;
    }
    function submitPaper() {
        var flag=true;
        $(".single_choice").each(function (index,ele) {
            flag=singleValid($(ele).attr("name"))
        });
        if(flag){
            console.log($("#form_paper_detail").serialize())
            alert()
        }


        // $("#form_paper_detail").attr("action", "${tm_base}user/paper/submitPaper.do");
        // $("#form_paper_detail").submit();
        // var wcm = window.confirm('<tomtag:Message key="txt.user.paper.start.submit" />');
        // if (!wcm) {
        //     return;
        // }
        //
        // var formcheck = $("#form_paper_detail").validationEngine('validate', {
        //     validateNonVisibleFields: true,
        //     showPrompts: false
        // });
        // if (formcheck) {
        //     $(".tm_btn").attr("disabled", "disabled");
        //     $(".tm_btn").val('<tomtag:Message key="txt.user.paper.tips.submiting" />');
        //
        //     window.onbeforeunload = null;
        //     tm_page_confirm = true;
        //
        //
        //
        // } else {
        //     var wcm = window.confirm('<tomtag:Message key="message.user.paper.submit.notfinish" />');
        //     if (!wcm) {
        //         return;
        //     }
        //
        //     $(".tm_btn").attr("disabled", "disabled");
        //     $(".tm_btn").val('<tomtag:Message key="txt.user.paper.tips.submiting" />');
        //
        //     window.onbeforeunload = null;
        //     tm_page_confirm = true;
        //
        //     $("#form_paper_detail").attr("action", "${tm_base}user/paper/submitPaper.do");
        //     $("#form_paper_detail").submit();
        //
        // }
    }

    // document.oncontextmenu= function(){return false;}
    $("#form_paper_detail").validate({
        rules: {
            name: {
                required: true,
            }

        },
        focusCleanup: true
    });

    var tm_cost_seconds = 0;
    var tm_maxtime = eval("1") * 60;
    var tm_timer = null;
    tm_timer = setInterval(function(){
        tm_countdown();
    }, 1000);
    function tm_fn_formatSeconds(value) {
        var theTime = parseInt(value);// 秒
        var theTime1 = 0;// 分
        var theTime2 = 0;// 小时
        // alert(theTime);
        if(theTime > 60) {
            theTime1 = parseInt(theTime/60);
            theTime = parseInt(theTime%60);
            // alert(theTime1+"-"+theTime);
            if(theTime1 > 60) {
                theTime2 = parseInt(theTime1/60);
                theTime1 = parseInt(theTime1%60);
            }
        }
        var the_second = parseInt(theTime) < 10? "0" + theTime : theTime;
        var the_minute = parseInt(theTime1) < 10? "0" + theTime1 : theTime1;
        var result = theTime2 + ":" + the_minute + ":" + the_second;
        return result;
    }

    function tm_countdown(){
        //记录消耗的时间
        tm_cost_seconds = tm_cost_seconds + 1;
        $("#t_timecost").val(parseInt(tm_cost_seconds/60));

        //倒计时牌
        var tm_msg;
        if(tm_maxtime>0){
            tm_msg = "<span class='tm_label'>"+ tm_fn_formatSeconds(tm_maxtime) + "</span>";
            if(tm_maxtime <= 30){
                var ss = '<tomtag:Message key="txt.user.paper.tips.submiting" />';
                tm_msg += "<br/><font color='red'><b>"+ss+"</b></font>";
            }

            $("#div_processor_timer").html(tm_msg);

            if(tm_maxtime == 5*60) {
                alert('<tomtag:Message key="txt.user.paper.tips.five_minute_warn" />');
            }

            --tm_maxtime;

        }else{
            clearInterval(tm_timer);
            $("#div_processor_timer").html('<tomtag:Message key="txt.user.paper.tips.time_is_up" />');
            submitPaper()
        }
    }
</script>
</body>

</html>