<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="gray-bg">
	<div class="ui-layout-west">
		<div class="main-content">
			<div class="box box-main">
				<div class="box-header">
					<div class="box-title">
						<i class="fa icon-grid"></i> 组织机构
					</div>
					<div class="box-tools pull-right">
						<a type="button" class="btn btn-box-tool menuItem" href="#" onclick="dept()" title="管理部门"><i class="fa fa-edit"></i></a>
						<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
						<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
						<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
					</div>
				</div>
				<div class="ui-layout-content">
					<div id="tree" class="ztree"></div>
				</div>
			</div>
		</div>
	</div>
     <div class="container-div ui-layout-center">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<input type="hidden" id="categoryId" name="categoryId"/>
					<input type="hidden" id="parentId" name="parentId">
					<div class="select-list">
						<ul>

							<li>
								标题：<input type="text" name="title"/>
							</li>


							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="knowledge:article:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.editTab()" shiro:hasPermission="knowledge:article:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="knowledge:article:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="knowledge:article:import">
					<i class="fa fa-upload"></i> 导入
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="knowledge:article:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>

    <div th:include="include :: footer"></div>

	<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
	<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('knowledge:article:edit')}]];
        var removeFlag = [[${@permission.hasPermi('knowledge:article:remove')}]];
        var prefix = ctx + "knowledge/article";
		var previewUrl=ctx+"f/knowledge/article/article/";
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				importUrl: prefix + "/importData",
				importTemplateUrl: prefix + "/importTemplate",
                modalName: "文章",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '编号',
					visible: false
				},
				// {
				// 	field : 'categoryId',
				// 	title : '栏目编号',
				// 	sortable: true
				// },
				{
					field : 'title', 
					title : '标题',
					sortable: true,
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class=" ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>'+value+'</a> ');
						return actions.join('');
					}
				},
				// {
				// 	field : 'link',
				// 	title : '文章链接',
				// 	sortable: true
				// },
				// {
				// 	field : 'color',
				// 	title : '标题颜色',
				// 	sortable: true
				// },
				// {
				// 	field : 'image',
				// 	title : '文章图片',
				// 	sortable: true
				// },
				// {
				// 	field : 'keywords',
				// 	title : '关键字',
				// 	sortable: true
				// },
				// {
				// 	field : 'description',
				// 	title : '摘要',
				// 	sortable: true
				// },
				{
					field : 'weight', 
					title : '权重',
					sortable: true
				},
				// {
				// 	field : 'weightDate',
				// 	title : '权重期限',
				// 	sortable: true
				// },
				{
					field : 'hits', 
					title : '点击数',
					sortable: true
				},
				// {
				// 	field : 'posid',
				// 	title : '推荐位，多选',
				// 	sortable: true
				// },
				// {
				// 	field : 'customContentView',
				// 	title : '自定义内容视图',
				// 	sortable: true
				// },
				// {
				// 	field : 'viewConfig',
				// 	title : '视图配置',
				// 	sortable: true
				// },
				// {
				// 	field : 'createBy',
				// 	title : '创建者',
				// 	sortable: true
				// },
				// {
				// 	field : 'createDate',
				// 	title : '创建时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'updateBy',
				// 	title : '更新者',
				// 	sortable: true
				// },
				// {
				// 	field : 'updateDate',
				// 	title : '更新时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'remarks',
				// 	title : '备注信息',
				// 	sortable: true
				// },
				// {
				// 	field : 'delFlag',
				// 	title : '删除标记',
				// 	sortable: true
				// },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-primary  btn-xs ' + editFlag + '" href="'+previewUrl+row.id+'" target="_blank" ><i class="fa fa-eye"></i>预览</a>');
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);

			var panehHidden = false;
			if ($(this).width() < 769) {
				panehHidden = true;
			}
			$('body').layout({ initClosed: panehHidden, west__size: 185 });
			// $('body').layout({ initClosed: panehHidden, west__size: 185 });
			queryDeptTree();
        });


		function queryDeptTree()
		{
			var url = ctx +"knowledge/cmsCategory/treeData";
			var options = {
				url: url,
				expandLevel: 2,
				onClick : zOnClick
			};
			$.tree.init(options);

			function zOnClick(event, treeId, treeNode) {
				$("#categoryId").val(treeNode.id);
				$("#parentId").val(treeNode.pId);
				$.table.search();
			}
		}


    </script>
</body>

<form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none;">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			<input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
			&nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</html>