<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<style type="text/css">
    .ui-layout-content li{
        line-height: 10px;
        padding: 10px;
    }
</style>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="main-content">
        <div class="box box-main">

            <div class="ui-layout-content">
                <ul>
                    <li th:each="lib:${libraryList}"><a  th:onclick="selectLibQuestion([[${lib.id}]])" th:text="${lib.name}"  ></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-div  ui-layout-center">
    <div class="row">
        <div class="col-sm-12 search-collapse" style="display: none">
            <form id="formId">
                <input type="hidden" id="libId" name="libId"/>

            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">



        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('exam:library:edit')}]];
    var removeFlag = [[${@permission.hasPermi('exam:library:remove')}]];
    var prefix = ctx + "exam/libraryDetail";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "试题库",
            showExport: true,
            columns: [{
                checkbox: true,
                formatter: function (value, row, index) {
                    // return {
                    //     disabled : true,//设置是否可用
                    //     checked : true//设置选中
                    // };

                    return value;
                }
            },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'title',
                    title: '题目',
                    sortable: true
                },
                {
                    field: 'libType',
                    title: '题型',
                    sortable: true, formatter: function (value, row, index) {
                        if(value==1){
                            return "单选题";
                        }else   if(value==2){
                            return "多选题";
                        }  if(value==3){
                            return "填空题";
                        }  if(value==4){
                            return "判断题";
                        }  if(value==5){
                            return "简答题";
                        }
                    }
                },]
        };
        $.table.init(options);

        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 185 });

    });

    function selectLibQuestion(id) {
        $("#libId").val(id)
        $.table.search();
    }
    function submitHandler() {
        var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        var data = { "ids": rows.join(),"examPaperId":[[${paper.id}]] };
        var config = {
            url: ctx+"exam/paperQuestion/add",
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
            },
            success: function(result) {
                $.operate.ajaxSuccess(result);
            }
        };
        $.ajax(config)
        parent.layer.close(index);
    }
</script>
</body>
</html>