<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								试卷名称：<input type="text" name="name"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="exam:paper:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="exam:paper:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="exam:paper:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="exam:paper:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('exam:paper:edit')}]];
        var removeFlag = [[${@permission.hasPermi('exam:paper:remove')}]];
        var prefix = ctx + "exam/paper";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "试卷",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'name', 
					title : '试卷名称',
					sortable: true,
					formatter: function (value, row, index) {
						var actions = [];
						actions.push('<a class=" ' + editFlag + '" href="#" onclick="$.operate.addSubTab(\''+row.name+'\',\'' +prefix +'/query/'+row.id + '\')"><i class="fa fa-edit"></i>'+row.name+'</a> ');
						return actions.join('');
					}
				},
				// {
				// 	field : 'permission',
				// 	title : '权限设置0私密1公开',
				// 	sortable: true
				// },
				// {
				// 	field : 'questionMethod',
				// 	title : '0固定出题、1随机出题',
				// 	sortable: true
				// },
				{
					field : 'totalQuestion', 
					title : '总题数',
					sortable: true
				},
				{
					field : 'totalSore', 
					title : '总分',
					sortable: true
				},

		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="addQuestion(\'' + row.id + '\')"><i class="fa fa-edit"></i>选择试题</a> ');
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class=" ' + editFlag + '" href="#" onclick="$.operate.addSubTab(\''+row.name+'\',\'' +prefix +'/query/'+row.id + '\')"><i class="fa fa-edit"></i>查看</a> ');
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
		function addQuestion(id) {
			// $.modal.open("选择试题", "/exam/library", "1000", "600");
			layer.open({
				type: 2,
				area: [1000 + 'px', 600 + 'px'],
				fix: false,
				//不固定
				maxmin: true,
				shade: 0.3,
				title: "选择试题",
				content: prefix+"/chooseLibrary/"+id,
				btn: ['确定', '关闭'],
				// 弹层外区域关闭
				shadeClose: false,
				yes: function(index, layero) {
					var iframeWin = layero.find('iframe')[0];
					iframeWin.contentWindow.submitHandler();
				},
				cancel: function(index) {
					return true;
				}
			});

		}

    </script>
</body>
</html>