<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<style type="text/css">
    .title{
        background: rgb(247,247,247);
        line-height: 30px;
    }
   ul li{
        list-style-type: none;
    }
</style>
<head th:include="include :: header"></head>

<body >
<div class="container-div form-horizontal m" id="page-content">
    <div class="row">
        <div class="search-collapse" style="padding: 40px;background: #fff">
            <div>
                <h3  style="color:rgb(51,153,255) ">一、单选题</h3>
                <div  style=" list-style-type: none;" th:each="question,questionStat:${paperQuestions}"   th:if="${question.libraryDetail.libType eq '1'}">

                    <div class="title">
                        <h4 style="display: inline-block"
                            th:text="${(questionStat.index+1)+'.'+question.libraryDetail.title}"></h4>
                    </div>
                    <span th:if="${question.libraryDetail.libType eq '1'}"></span>
                    <div th:if="${question.libraryDetail.libType eq '1'}">
                        <h5 style="margin-top: 5px;font-weight: 600;font-size: 12px;" th:text="${'A-'+question.libraryDetail.choiceA}"></h5>
                        <h5  th:text="${'B-'+question.libraryDetail.choiceB}"></h5>
                        <h5>C-<span th:text="${question.libraryDetail.choiceC}"></span></h5>
                        <h5 th:if="${question.libraryDetail.choiceD!='' && question.libraryDetail.choiceD!=null}">D-<span th:text="${question.libraryDetail.choiceD}"></span></h5>
                        <h5 th:if="${question.libraryDetail.choiceE!='' && question.libraryDetail.choiceE!=null}" >E-<span th:text="${question.libraryDetail.choiceE}"></span></h5>
                        <h5  th:if="${question.libraryDetail.choiceF!='' && question.libraryDetail.choiceF!=null}" >F-<span th:text="${question.libraryDetail.choiceF}"></span></h5>
                    </div>
                </div>
                <h3  style="color:rgb(51,153,255) ">二、多选题</h3>
                <div  style=" list-style-type: none;" th:each="question,questionStat:${paperQuestions}"   th:if="${question.libraryDetail.libType eq '2'}">

                    <div class="title">
                        <h4 style="display: inline-block"
                            th:text="${(questionStat.index+1)+'.'+question.libraryDetail.title}"></h4>
                    </div>
                    <!--                    <span th:text="${}"></span>-->

                    <div th:if="${question.libraryDetail.libType eq '2'}">
                        <div  style=" list-style-type: none;">
                            <h5>A- <span th:text="${question.libraryDetail.choiceA}"></span> </h5>
                            <h5>B-<span th:text="${question.libraryDetail.choiceB}"></span></h5>
                            <h5>C-<span th:text="${question.libraryDetail.choiceC}"></span></h5>
                            <h5 th:if="${question.libraryDetail.choiceD!='' && question.libraryDetail.choiceD!=null}" >D-<span th:text="${question.libraryDetail.choiceD}"></span></h5>
                            <h5  th:if="${question.libraryDetail.choiceE!='' && question.libraryDetail.choiceE!=null}">E-<span th:text="${question.libraryDetail.choiceE}"></span></h5>
                            <h5 th:if="${question.libraryDetail.choiceF!='' && question.libraryDetail.choiceF!=null}" >F-<span th:text="${question.libraryDetail.choiceF}"></span></h5>
                        </div>
                    </div>
                </div>
                <h3  style="color:rgb(51,153,255) ">三、填空题</h3>
                <div  style=" list-style-type: none;" th:each="question,questionStat:${paperQuestions}"   th:if="${question.libraryDetail.libType eq '3'}">

                    <div class="title">
                        <h4 style="display: inline-block"
                            th:text="${(questionStat.index+1)+'.'+question.libraryDetail.title}"></h4>
<!--                        <h4 style="display: inline-block" th:text="${question.remark4+'（分）'}"></h4>-->
                    </div>

                    <div th:if="${question.libraryDetail.libType eq '3'}">
                        <div  style=" list-style-type: none;">
                            <h5 th:each="dayCyc : ${#numbers.sequence(1,question.libraryDetail.remark1)}">
                            </h5>
                        </div>
                    </div>
                </div>
                <h3  style="color:rgb(51,153,255) ">四、判断题</h3>
                <div  style=" list-style-type: none;" th:each="question,questionStat:${paperQuestions}"   th:if="${question.libraryDetail.libType eq '4'}">

                    <div class="title">
                        <h4 style="display: inline-block"
                            th:text="${(questionStat.index+1)+'.'+question.libraryDetail.title}"></h4>
                    </div>
                    <div th:if="${question.libraryDetail.libType eq '4'}">
                        <div  style=" list-style-type: none;">
                            <h5>A-<span th:text="${question.libraryDetail.choiceA}"></span></h5>
                            <h5>B-<span th:text="${question.libraryDetail.choiceB}"></span></h5>
                        </div>
                    </div>

                </div>
                <h3  style="color:rgb(51,153,255) ">五、简答题</h3>
                <div  style=" list-style-type: none;" th:each="question,questionStat:${paperQuestions}"   th:if="${question.libraryDetail.libType eq '5'}">

                    <div class="title">
                        <h4 style="display: inline-block"
                            th:text="${(questionStat.index+1)+'.'+question.libraryDetail.title}"></h4>
                    </div>

                    <div th:if="${question.libraryDetail.libType eq '5'}">
                        <div   style=" list-style-type: none;">
                            <h5>

                            </h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a class="btn btn-primary btn-edit word-export ">
            <i class="fa fa-edit"></i> 导出
        </a>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/word_export/FileSaver.js}"></script>
<script th:src="@{/ajax/libs/word_export/jquery.wordexport.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $("a.word-export").click(function(event) {
            $("#page-content").wordExport();
        });
    });
</script>
</body>
</html>