<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.knowledge.mapper.ArticleDataMapper">
    
    <resultMap type="ArticleData" id="ArticleDataResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="copyfrom"    column="copyfrom"    />
        <result property="relation"    column="relation"    />
        <result property="allowComment"    column="allow_comment"    />
        <result property="appearance"    column="appearance"    />
        <result property="reason"    column="reason"    />
        <result property="solution"    column="solution"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
    </resultMap>
	
	<sql id="selectArticleDataVo">
        select id, content, copyfrom, relation, allow_comment, appearance, reason, solution, remark1, remark2, remark3 from cms_article_data
    </sql>
	
    <select id="selectArticleDataList" parameterType="ArticleData" resultMap="ArticleDataResult">
        <include refid="selectArticleDataVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="copyfrom != null  and copyfrom != '' "> and copyfrom = #{copyfrom}</if>
             <if test="relation != null  and relation != '' "> and relation = #{relation}</if>
             <if test="allowComment != null  and allowComment != '' "> and allow_comment = #{allowComment}</if>
             <if test="appearance != null  and appearance != '' "> and appearance = #{appearance}</if>
             <if test="reason != null  and reason != '' "> and reason = #{reason}</if>
             <if test="solution != null  and solution != '' "> and solution = #{solution}</if>
             <if test="remark1 != null  and remark1 != '' "> and remark1 = #{remark1}</if>
             <if test="remark2 != null  and remark2 != '' "> and remark2 = #{remark2}</if>
             <if test="remark3 != null  and remark3 != '' "> and remark3 = #{remark3}</if>
         </where>
    </select>
    
    <select id="selectArticleDataById" parameterType="String" resultMap="ArticleDataResult">
        <include refid="selectArticleDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertArticleData" parameterType="ArticleData">
        insert into cms_article_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="copyfrom != null  and copyfrom != ''  ">copyfrom,</if>
			<if test="relation != null  and relation != ''  ">relation,</if>
			<if test="allowComment != null  and allowComment != ''  ">allow_comment,</if>
			<if test="appearance != null  and appearance != ''  ">appearance,</if>
			<if test="reason != null  and reason != ''  ">reason,</if>
			<if test="solution != null  and solution != ''  ">solution,</if>
			<if test="remark1 != null  and remark1 != ''  ">remark1,</if>
			<if test="remark2 != null  and remark2 != ''  ">remark2,</if>
			<if test="remark3 != null  and remark3 != ''  ">remark3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="copyfrom != null  and copyfrom != ''  ">#{copyfrom},</if>
			<if test="relation != null  and relation != ''  ">#{relation},</if>
			<if test="allowComment != null  and allowComment != ''  ">#{allowComment},</if>
			<if test="appearance != null  and appearance != ''  ">#{appearance},</if>
			<if test="reason != null  and reason != ''  ">#{reason},</if>
			<if test="solution != null  and solution != ''  ">#{solution},</if>
			<if test="remark1 != null  and remark1 != ''  ">#{remark1},</if>
			<if test="remark2 != null  and remark2 != ''  ">#{remark2},</if>
			<if test="remark3 != null  and remark3 != ''  ">#{remark3},</if>
         </trim>
    </insert>
	 
    <update id="updateArticleData" parameterType="ArticleData">
        update cms_article_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="copyfrom != null  and copyfrom != ''  ">copyfrom = #{copyfrom},</if>
            <if test="relation != null  and relation != ''  ">relation = #{relation},</if>
            <if test="allowComment != null  and allowComment != ''  ">allow_comment = #{allowComment},</if>
            <if test="appearance != null  and appearance != ''  ">appearance = #{appearance},</if>
            <if test="reason != null  and reason != ''  ">reason = #{reason},</if>
            <if test="solution != null  and solution != ''  ">solution = #{solution},</if>
            <if test="remark1 != null  and remark1 != ''  ">remark1 = #{remark1},</if>
            <if test="remark2 != null  and remark2 != ''  ">remark2 = #{remark2},</if>
            <if test="remark3 != null  and remark3 != ''  ">remark3 = #{remark3},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteArticleDataById" parameterType="String">
        delete from cms_article_data where id = #{id}
    </delete>
	
    <delete id="deleteArticleDataByIds" parameterType="String">
        delete from cms_article_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>