<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style type="text/css">
	.type{
		display: none;
	}
</style>
<body class="white-bg">

<div class="container-div form-horizontal m">
	<div class="search-collapse" style="padding: 10px;">
		<h4 th:text="${library.name}"></h4>
	</div>
	<div class="row">

		<form class="form-horizontal m" id="form-add">
			<input id="libId" name="libId" type="hidden" th:value="${library.id}" class="form-control">
			<input id="libType" name="libType" class="form-control" type="hidden">
			<input id="prifix" name="prifix" type="hidden" class="form-control">
			<div class="form-group">
				<label class="col-sm-3 control-label">题库类型：</label>
				<div class="col-sm-8">
					<select name="type" id="type" class="form-control m-b"
							th:with="type=${@dict.getType('library_type')}">
						<option value=""></option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
								th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div id="ques"></div>
			<div class="row">
				<div class="col-sm-offset-5 col-sm-10">
					<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存
					</button>
					&nbsp;
					<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
					</button>
				</div>
			</div>
		</form>

	</div>
</div>

<div th:include="include::footer"></div>

<!--单选题-->
<div id="type1" class="type">
	<div th:include="exam/singleChoice/add::choice"></div>
</div>
<!--多选题-->
<div id="type2" class="type">
	<div th:include="exam/multChoice/add::multChoice"></div>
</div>
<!--填空题-->
<div id="type3" class="type">
	<div th:include="exam/blank/add::blank"></div>
</div>
<!--判断题-->
<div id="type4" class="type">
	<div th:include="exam/judge/add::judge"></div>
</div>
<!--简答题-->
<div id="type5" class="type">
	<div th:include="exam/qa/add::qa"></div>
</div>

<script type="text/javascript">
	var prefix = ctx + "exam/libraryDetail";
	$("#prifix").val(prefix);
	$("#form-add").validate({
		rules: {
			type:{
				required: true,
			},
			title: {
				required: true,
			},
			choiceA: {
				required: true,
			},
			choiceB: {
				required: true,
			},
			choiceC: {
				required: true,
			},
			choiceD: {
				required: true,
			},
			answer: {
				required: true,
			},
		},
		focusCleanup: true
	});
	$(function () {
		$(".type").hide();
		//切换题型
		$("#type").change(function () {
			var typeval=$(this).val();
			$("#libType").val(typeval)
			$("#ques").html($("#type"+typeval).html())
		});


	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.saveTab(prefix + "/add", $('#form-add').serialize());
		}
	}
</script>
</body>
</html>
