<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="blank" class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="form-group">
        <label class="col-sm-3 control-label">题目：</label>
        <div class="col-sm-8">
            <textarea id="title" name="title" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">答案数量：</label>
        <div class="col-sm-8">
            <select name="remark1" id="remark1" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
    </div>
    <div class="form-group blank">
        <label class="col-sm-3 control-label">空1：</label>
        <div class="col-sm-8">
            <input id="choiceA" name="choiceA" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group blank">
        <label class="col-sm-3 control-label">空2：</label>
        <div class="col-sm-8">
            <input id="choiceB" name="choiceB" class="form-control " type="text">
        </div>
    </div>
    <div class="form-group blank">
        <label class="col-sm-3 control-label">空3：</label>
        <div class="col-sm-8">
            <input id="choiceC" name="choiceC" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group blank">
        <label class="col-sm-3 control-label">空4：</label>
        <div class="col-sm-8">
            <input id="choiceD" name="choiceD" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group blank">
        <label class="col-sm-3 control-label">空5：</label>
        <div class="col-sm-8">
            <input id="choiceE" name="choiceE" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group blank">
        <label class="col-sm-3 control-label">空6：</label>
        <div class="col-sm-8">
            <input id="choiceF" name="choiceF" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group  blank">
        <label class="col-sm-3 control-label">空7：</label>
        <div class="col-sm-8">
            <input id="choiceG" name="choiceG" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group blank">
        <label class="col-sm-3 control-label">空8：</label>
        <div class="col-sm-8">
            <input id="choiceH" name="choiceG" class="form-control" type="text">
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".blank").hide();
            $(".blank").eq(0).show();
            //切换题型
            $("#remark1").change(function () {
                $(".blank").hide();
                $(".blank:lt("+$(this).val()+")").show()
            })

        });
    </script>
</div>


