<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.LibraryDetailMapper">
    
    <resultMap type="LibraryDetail" id="LibraryDetailResult">
        <result property="id"    column="id"    />
        <result property="libType"    column="lib_type"    />
        <result property="title"    column="title"    />
        <result property="choiceA"    column="choice_a"    />
        <result property="choiceB"    column="choice_b"    />
        <result property="choiceC"    column="choice_c"    />
        <result property="choiceD"    column="choice_d"    />
        <result property="choiceE"    column="choice_e"    />
        <result property="choiceF"    column="choice_f"    />
        <result property="choiceG"    column="choice_g"    />
        <result property="choiceH"    column="choice_h"    />
        <result property="answer"    column="answer"    />
        <result property="answerTip"    column="answer_tip"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="libId"    column="lib_id"    />
        <result property="remark1"    column="remark1"    />
        <result property="remark2"    column="remark2"    />
        <result property="remark3"    column="remark3"    />
        <result property="remark4"    column="remark4"    />
        <result property="remark5"    column="remark5"    />
        <result property="remark6"    column="remark6"    />
        <result property="remark7"    column="remark7"    />
        <result property="remark8"    column="remark8"    />
        <result property="remark9"    column="remark9"    />
        <result property="remark10"    column="remark10"    />
    </resultMap>
	
	<sql id="selectLibraryDetailVo">
        select id, lib_type, title, choice_a, choice_b, choice_c, choice_d, choice_e, choice_f, choice_g, choice_h, answer, answer_tip, create_by, create_date, update_by, update_date, remark, del_flag, lib_id, remark1, remark2, remark3, remark4, remark5, remark6, remark7, remark8, remark9, remark10 from exam_library_detail
    </sql>
	
    <select id="selectLibraryDetailList" parameterType="LibraryDetail" resultMap="LibraryDetailResult">
        <include refid="selectLibraryDetailVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="libType != null  and libType != '' "> and lib_type = #{libType}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="choiceA != null  and choiceA != '' "> and choice_a = #{choiceA}</if>
             <if test="choiceB != null  and choiceB != '' "> and choice_b = #{choiceB}</if>
             <if test="choiceC != null  and choiceC != '' "> and choice_c = #{choiceC}</if>
             <if test="choiceD != null  and choiceD != '' "> and choice_d = #{choiceD}</if>
             <if test="choiceE != null  and choiceE != '' "> and choice_e = #{choiceE}</if>
             <if test="choiceF != null  and choiceF != '' "> and choice_f = #{choiceF}</if>
             <if test="choiceG != null  and choiceG != '' "> and choice_g = #{choiceG}</if>
             <if test="choiceH != null  and choiceH != '' "> and choice_h = #{choiceH}</if>
             <if test="answer != null  and answer != '' "> and answer = #{answer}</if>
             <if test="answerTip != null  and answerTip != '' "> and answer_tip = #{answerTip}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="libId != null  and libId != '' "> and lib_id = #{libId}</if>
             <if test="remark1 != null  and remark1 != '' "> and remark1 = #{remark1}</if>
             <if test="remark2 != null  and remark2 != '' "> and remark2 = #{remark2}</if>
             <if test="remark3 != null  and remark3 != '' "> and remark3 = #{remark3}</if>
             <if test="remark4 != null  and remark4 != '' "> and remark4 = #{remark4}</if>
             <if test="remark5 != null  and remark5 != '' "> and remark5 = #{remark5}</if>
             <if test="remark6 != null  and remark6 != '' "> and remark6 = #{remark6}</if>
             <if test="remark7 != null  and remark7 != '' "> and remark7 = #{remark7}</if>
             <if test="remark8 != null  and remark8 != '' "> and remark8 = #{remark8}</if>
             <if test="remark9 != null  and remark9 != '' "> and remark9 = #{remark9}</if>
             <if test="remark10 != null  and remark10 != '' "> and remark10 = #{remark10}</if>
            and del_flag = '0'
         </where>
    </select>
    
    <select id="selectLibraryDetailById" parameterType="String" resultMap="LibraryDetailResult">
        <include refid="selectLibraryDetailVo"/>
        where id = #{id}  and del_flag = '0'
    </select>
        
    <insert id="insertLibraryDetail" parameterType="LibraryDetail">
        insert into exam_library_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="libType != null  and libType != ''  ">lib_type,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="choiceA != null  and choiceA != ''  ">choice_a,</if>
			<if test="choiceB != null  and choiceB != ''  ">choice_b,</if>
			<if test="choiceC != null  and choiceC != ''  ">choice_c,</if>
			<if test="choiceD != null  and choiceD != ''  ">choice_d,</if>
			<if test="choiceE != null  and choiceE != ''  ">choice_e,</if>
			<if test="choiceF != null  and choiceF != ''  ">choice_f,</if>
			<if test="choiceG != null  and choiceG != ''  ">choice_g,</if>
			<if test="choiceH != null  and choiceH != ''  ">choice_h,</if>
			<if test="answer != null  and answer != ''  ">answer,</if>
			<if test="answerTip != null  and answerTip != ''  ">answer_tip,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="libId != null  and libId != ''  ">lib_id,</if>
			<if test="remark1 != null  and remark1 != ''  ">remark1,</if>
			<if test="remark2 != null  and remark2 != ''  ">remark2,</if>
			<if test="remark3 != null  and remark3 != ''  ">remark3,</if>
			<if test="remark4 != null  and remark4 != ''  ">remark4,</if>
			<if test="remark5 != null  and remark5 != ''  ">remark5,</if>
			<if test="remark6 != null  and remark6 != ''  ">remark6,</if>
			<if test="remark7 != null  and remark7 != ''  ">remark7,</if>
			<if test="remark8 != null  and remark8 != ''  ">remark8,</if>
			<if test="remark9 != null  and remark9 != ''  ">remark9,</if>
			<if test="remark10 != null  and remark10 != ''  ">remark10,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="libType != null  and libType != ''  ">#{libType},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="choiceA != null  and choiceA != ''  ">#{choiceA},</if>
			<if test="choiceB != null  and choiceB != ''  ">#{choiceB},</if>
			<if test="choiceC != null  and choiceC != ''  ">#{choiceC},</if>
			<if test="choiceD != null  and choiceD != ''  ">#{choiceD},</if>
			<if test="choiceE != null  and choiceE != ''  ">#{choiceE},</if>
			<if test="choiceF != null  and choiceF != ''  ">#{choiceF},</if>
			<if test="choiceG != null  and choiceG != ''  ">#{choiceG},</if>
			<if test="choiceH != null  and choiceH != ''  ">#{choiceH},</if>
			<if test="answer != null  and answer != ''  ">#{answer},</if>
			<if test="answerTip != null  and answerTip != ''  ">#{answerTip},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="libId != null  and libId != ''  ">#{libId},</if>
			<if test="remark1 != null  and remark1 != ''  ">#{remark1},</if>
			<if test="remark2 != null  and remark2 != ''  ">#{remark2},</if>
			<if test="remark3 != null  and remark3 != ''  ">#{remark3},</if>
			<if test="remark4 != null  and remark4 != ''  ">#{remark4},</if>
			<if test="remark5 != null  and remark5 != ''  ">#{remark5},</if>
			<if test="remark6 != null  and remark6 != ''  ">#{remark6},</if>
			<if test="remark7 != null  and remark7 != ''  ">#{remark7},</if>
			<if test="remark8 != null  and remark8 != ''  ">#{remark8},</if>
			<if test="remark9 != null  and remark9 != ''  ">#{remark9},</if>
			<if test="remark10 != null  and remark10 != ''  ">#{remark10},</if>
         </trim>
    </insert>
	 
    <update id="updateLibraryDetail" parameterType="LibraryDetail">
        update exam_library_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="libType != null  and libType != ''  ">lib_type = #{libType},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="choiceA != null  and choiceA != ''  ">choice_a = #{choiceA},</if>
            <if test="choiceB != null  and choiceB != ''  ">choice_b = #{choiceB},</if>
            <if test="choiceC != null  and choiceC != ''  ">choice_c = #{choiceC},</if>
            <if test="choiceD != null  and choiceD != ''  ">choice_d = #{choiceD},</if>
            <if test="choiceE != null  and choiceE != ''  ">choice_e = #{choiceE},</if>
            <if test="choiceF != null  and choiceF != ''  ">choice_f = #{choiceF},</if>
            <if test="choiceG != null  and choiceG != ''  ">choice_g = #{choiceG},</if>
            <if test="choiceH != null  and choiceH != ''  ">choice_h = #{choiceH},</if>
            <if test="answer != null  and answer != ''  ">answer = #{answer},</if>
            <if test="answerTip != null  and answerTip != ''  ">answer_tip = #{answerTip},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="libId != null  and libId != ''  ">lib_id = #{libId},</if>
            <if test="remark1 != null  and remark1 != ''  ">remark1 = #{remark1},</if>
            <if test="remark2 != null  and remark2 != ''  ">remark2 = #{remark2},</if>
            <if test="remark3 != null  and remark3 != ''  ">remark3 = #{remark3},</if>
            <if test="remark4 != null  and remark4 != ''  ">remark4 = #{remark4},</if>
            <if test="remark5 != null  and remark5 != ''  ">remark5 = #{remark5},</if>
            <if test="remark6 != null  and remark6 != ''  ">remark6 = #{remark6},</if>
            <if test="remark7 != null  and remark7 != ''  ">remark7 = #{remark7},</if>
            <if test="remark8 != null  and remark8 != ''  ">remark8 = #{remark8},</if>
            <if test="remark9 != null  and remark9 != ''  ">remark9 = #{remark9},</if>
            <if test="remark10 != null  and remark10 != ''  ">remark10 = #{remark10},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteLibraryDetailById" parameterType="String">
         update exam_library_detail set del_flag=1  where id = #{id}
    </delete>
	
    <delete id="deleteLibraryDetailByIds" parameterType="String">
        update exam_library_detail set del_flag=1  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>