<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.LibraryMapper">
    
    <resultMap type="Library" id="LibraryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="permission"    column="permission"    />
        <result property="cateId"    column="cate_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>
	
	<sql id="selectLibraryVo">
        select id, name, permission, cate_id, create_by, create_date, update_by, update_date, remark, del_flag from exam_library
    </sql>
	<select id="selectLibraryQuestionList" parameterType="LibraryQuestion" resultType="LibraryQuestion">
        select * from (
        select id,title,'填空题' type,create_by,update_date,lib_id from exam_blank where  del_flag = '0'
        UNION ALL
        select id,title,'多选题' type,create_by,update_date,lib_id  from exam_mult_choice where  del_flag = '0'
        UNION ALL
        select id,title,'判断题' type,create_by,update_date,lib_id  from exam_judge where  del_flag = '0'
        UNION ALL
        select id,title,'单选题' type,create_by,update_date,lib_id  from exam_single_choice where  del_flag = '0'
        UNION ALL
        select id,title,'简答题' type,create_by,update_date,lib_id   from exam_qa where  del_flag = '0') t where t.lib_id=#{libId} ORDER by t.type
    </select>
    <select id="selectLibraryList" parameterType="Library" resultMap="LibraryResult">
        <include refid="selectLibraryVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="permission != null  and permission != '' "> and permission = #{permission}</if>
            <if test="cateId != null  and cateId != '' ">
                AND (cate_id = #{cateId} OR cate_id IN ( SELECT id FROM exam_library_category t WHERE FIND_IN_SET (#{cateId},parent_ids) ))
            </if>
             <if test="createBy != null  and createBy != '' "> or create_by = #{createBy}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
         </where>
    </select>
    
    <select id="selectLibraryById" parameterType="String" resultMap="LibraryResult">
        <include refid="selectLibraryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLibrary" parameterType="Library">
        insert into exam_library
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="permission != null  and permission != ''  ">permission,</if>
			<if test="cateId != null  and cateId != ''  ">cate_id,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="permission != null  and permission != ''  ">#{permission},</if>
			<if test="cateId != null  and cateId != ''  ">#{cateId},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
         </trim>
    </insert>
	 
    <update id="updateLibrary" parameterType="Library">
        update exam_library
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="permission != null  and permission != ''  ">permission = #{permission},</if>
            <if test="cateId != null  and cateId != ''  ">cate_id = #{cateId},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteLibraryById" parameterType="String">
        delete from exam_library where id = #{id}
    </delete>
	
    <delete id="deleteLibraryByIds" parameterType="String">
        delete from exam_library where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>