<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.ResultMapper">
    
    <resultMap type="Result" id="ResultResult">
        <result property="examId"    column="exam_id"    />
        <result property="questionId"    column="question_id"    />
        <result property="userId"    column="user_id"    />
        <result property="score"    column="score"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="questionAnwser"    column="question_anwser"    />
    </resultMap>
	
	<sql id="selectResultVo">
        select exam_id, question_id, user_id, score, create_by, create_date, update_by, update_date, remark, del_flag, question_anwser from exam_result
    </sql>
	
    <select id="selectResultList" parameterType="Result" resultMap="ResultResult">
        <include refid="selectResultVo"/>
        <where>  
            <if test="examId != null  and examId != '' "> and exam_id = #{examId}</if>
             <if test="questionId != null  and questionId != '' "> and question_id = #{questionId}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="score != null "> and score = #{score}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateDate != null "> and update_date = #{updateDate}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="questionAnwser != null  and questionAnwser != '' "> and question_anwser = #{questionAnwser}</if>
         </where>
    </select>
    
    <select id="selectResultById" parameterType="String" resultMap="ResultResult">
        <include refid="selectResultVo"/>
        where exam_id = #{examId}
    </select>
        
    <insert id="insertResult" parameterType="Result">
        insert into exam_result
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="examId != null  and examId != ''  ">exam_id,</if>
			<if test="questionId != null  and questionId != ''  ">question_id,</if>
			<if test="userId != null  and userId != ''  ">user_id,</if>
			<if test="score != null  ">score,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="questionAnwser != null  and questionAnwser != ''  ">question_anwser,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="examId != null  and examId != ''  ">#{examId},</if>
			<if test="questionId != null  and questionId != ''  ">#{questionId},</if>
			<if test="userId != null  and userId != ''  ">#{userId},</if>
			<if test="score != null  ">#{score},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="questionAnwser != null  and questionAnwser != ''  ">#{questionAnwser},</if>
         </trim>
    </insert>
	 
    <update id="updateResult" parameterType="Result">
        update exam_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionId != null  and questionId != ''  ">question_id = #{questionId},</if>
            <if test="userId != null  and userId != ''  ">user_id = #{userId},</if>
            <if test="score != null  ">score = #{score},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="questionAnwser != null  and questionAnwser != ''  ">question_anwser = #{questionAnwser},</if>
        </trim>
        where exam_id = #{examId}
    </update>

	<delete id="deleteResultById" parameterType="String">
        delete from exam_result where exam_id = #{examId}
    </delete>
	
    <delete id="deleteResultByIds" parameterType="String">
        delete from exam_result where exam_id in 
        <foreach item="examId" collection="array" open="(" separator="," close=")">
            #{examId}
        </foreach>
    </delete>
    
</mapper>