 
 
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Fly Template v3.0，基于 layui 的极简社区页面模版</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" th:href="@{/ajax/libs/bbs/res/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/ajax/libs/bbs/res/css/global.css}">
</head>
<body>
<div class="fly-header layui-bg-black"  th:include="front/bbs/common/header::header"></div>

<div class="layui-hide-xs">
  <div class="fly-panel fly-column"  th:include="front/bbs/common/column::column">
  </div>
</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1 th:text="${topic.title}">Fly Template v3.0，基于 layui 的极简社区页面模版</h1>
        <div class="fly-detail-info">
          <!-- <span class="layui-badge">审核中</span> -->
          <span class="layui-badge layui-bg-green fly-detail-column">动态</span>

          <span class="layui-badge" style="background-color: #999;">未结</span>
          <!-- <span class="layui-badge" style="background-color: #5FB878;">已结</span> -->

          <span class="layui-badge layui-bg-black">置顶</span>
          <span class="layui-badge layui-bg-red">精帖</span>
          
<!--          <div class="fly-admin-box" data-id="123">-->
<!--            <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>-->
<!--            -->
<!--            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span> -->
<!--            &lt;!&ndash; <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> &ndash;&gt;-->
<!--            -->
<!--            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span> -->
<!--            &lt;!&ndash; <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> &ndash;&gt;-->
<!--          </div>-->
          <span class="fly-list-nums"> 
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> </a>
            <i class="iconfont" title="人气">&#xe60b;</i>
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" href="../user/home.html">
            <img   th:src="@{'/profile/avatar/'+${topic.sysUser.avatar}}" th:alt="${topic.sysUser.userName}">
          </a>
          <div class="fly-detail-user">
<!--            <a href="../user/home.html" class="fly-link">-->
              <a class="fly-link">
              <cite th:text="${topic.sysUser.userName}" >贤心</cite>
              <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
              <i class="layui-badge fly-badge-vip">VIP3</i>
            </a>
            <span th:text="${#dates.format(topic.createDate,'yyyy-MM-dd HH:mm')}">2017-11-30</span>

          </div>
          <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
            <span style="padding-right: 10px; color: #FF7200">
<!--              悬赏：60飞吻-->
            </span>
<!--            <span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add.html">编辑此贴</a></span>-->
          </div>
        </div>
        <div class="detail-body photos" th:utext="${topic.content}">

        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda" id="jieda">
          <li th:each="reply:${replies}" th:data-id="${reply.id}" class="jieda-daan">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="">
                <img   th:src="@{'/profile/avatar/'+${reply.sysUser.avatar}}" th:alt="${reply.sysUser.userName}">

              </a>
              <div class="fly-detail-user">
                <a href="" class="fly-link">
                  <cite th:text="${topic.sysUser.userName}">贤心</cite>
                  <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                  <i class="layui-badge fly-badge-vip">VIP3</i>              
                </a>
                
                <span>(楼主)</span>
                <!--
                <span style="color:#5FB878">(管理员)</span>
                <span style="color:#FF9E3F">（社区之光）</span>
                <span style="color:#999">（该号已被封）</span>
                -->
              </div>

              <div class="detail-hits">
                <span th:text="${#dates.format(topic.createDate,'yyyy-MM-dd HH:mm')}">刚刚</span>
              </div>

              <i class="iconfont icon-caina" title="最佳答案"></i>
            </div>
            <div class="detail-body jieda-body photos" th:utext="${reply.content}">
              <p>香菇那个蓝瘦，这是一条被采纳的回帖</p>
            </div>
            <div class="jieda-reply">
              <span class="jieda-zan zanok" type="zan">
                <i class="iconfont icon-zan"></i>
                <em>66</em>
              </span>
              <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
<!--              <div class="jieda-admin">-->
<!--                <span type="edit">编辑</span>-->
<!--                <span type="del">删除</span>-->
<!--                 <span class="jieda-accept" type="accept">采纳</span> -->
<!--              </div>-->
            </div>
          </li>
          

          
          <!-- 无数据时 -->
          <!-- <li class="fly-none">消灭零回复</li> -->
        </ul>
        
        <div class="layui-form layui-form-pane">
          <form action="/f/bbs/reply/add" method="post">
            <input type="hidden" name="tid" th:value="${topic.id}">
            <div class="layui-form-item layui-form-text">
              <a name="comment"></a>
              <div class="layui-input-block" id="divContent">
                <textarea id="content" name="content" required lay-verify="required"
                          placeholder="详细描述" class="layui-textarea"
                          style="height: 260px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <input type="hidden" name="jid" value="123">
              <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->
<!--        <dd>-->
<!--          <a href="">基于 layui 的极简社区页面模版</a>-->
<!--          <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--        </dd>-->

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
      </dl>

      <div class="fly-panel">
        <div class="fly-panel-title">
          这里可作为广告区域
        </div>
        <div class="fly-panel-main">
          <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
        </div>
      </div>

      <div class="fly-panel" style="padding: 20px 0; text-align: center;">
        <img src="../../res/images/weixin.jpg" style="max-width: 100%;" alt="layui">
        <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
      </div>

    </div>
  </div>
</div>

<div class="fly-footer" th:include="front/bbs/common/footer::footer">

</div>
<script type="text/javascript" charset="utf-8" th:src="@{/ueditor/ueditor.config.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/ueditor/ueditor.all.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
<script th:src="@{/ajax/libs/bbs/res/layui/layui.js}"></script>

<script>

  var editor= UE.getEditor('content', {
    toolbars: [
      [
        'fontfamily', //字体
        'undo', //撤销
        'redo', //重做
        'emotion',
        //'formatmatch', //格式刷
        //'pasteplain', //纯文本粘贴模式
        //'selectall', //全选
        'simpleupload', //单图上传
        // 'insertimage', //多图上传
        'spechars', //特殊字符
        'justifyleft', //居左对齐
        'justifyright', //居右对齐
        'justifycenter', //居中对齐
        'justifyjustify', //两端对齐
        'forecolor', //字体颜色
        //'attachment', //附件
        //'lineheight', //行间距
        //'searchreplace', //查询替换
      ]
    ],
    autoHeightEnabled: true,
    autoFloatEnabled: true,
    // initialFrameWidth:795,//初始化编辑器宽度，默认1000
    //initialFrameHeight  //初始化编辑器高度，默认320
    enableAutoSave :true,//启用自动保存 [默认值：true]
    saveInterval:500, //[默认值：500] //自动保存间隔时间，单位ms
    pasteplain :true // [默认值：false] 是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
  });
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/ajax/libs/bbs/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '/ajax/libs/bbs/res/mods/'
}).extend({
  fly: 'index'
}).use(['fly', 'face'], function(){
  var $ = layui.$
  ,fly = layui.fly;
  //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
  /*
  $('.detail-body').each(function(){
    var othis = $(this), html = othis.html();
    othis.html(fly.content(html));
  });
  */
});
</script>

</body>
</html>