<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.taskscore.mapper.ScoreActivityDetailMapper">
    
    <resultMap type="ScoreActivityDetail" id="ScoreActivityDetailResult">
        <result property="id"    column="id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="scorePointerId"    column="score_pointer_id"    />
        <result property="score"    column="score"    />
        <result property="scoreDescription"    column="score_description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="activityStatus"    column="activity_status"    />
        <association property="scoringPointer" column="score_pointer_id" javaType="ScoringPointer" resultMap="ScoringPointerResult"/>
        <association property="scoreActivity" column="activity_id" javaType="ScoreActivity" resultMap="ScoreActivityResult"/>
    </resultMap>
    <resultMap type="ScoreActivity" id="ScoreActivityResult">
        <result property="id"    column="activity_id"    />
        <result property="name"    column="activity_name"    />
    </resultMap>
    <resultMap type="ScoringPointer" id="ScoringPointerResult">
        <result property="id" column="score_pointer_id"/>
        <result property="name" column="score_pointer_name"/>
        <result property="weight" column="weight"/>
        <result property="remark" column="score_pointer_remark"/>
        <result property="deptId" column="dept_id"/>
        <result property="evalDeptId" column="eval_dept_id"/>
        <association property="pointerType" column="pointer_type_id" javaType="PointerType"  resultMap="PointerTypeResult"/>
        <association property="dept" column="dept_id" javaType="SysDept" resultMap="deptResult"/>
        <association property="evalDept" column="eval_dept_id" javaType="SysDept" resultMap="evalDeptResult"/>
    </resultMap>
    <resultMap id="deptResult" type="SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>
    <resultMap id="evalDeptResult" type="SysDept">
        <id property="deptId" column="eval_dept_id"/>
        <id property="deptName" column="eval_dept_name"/>
    </resultMap>
    <resultMap id="PointerTypeResult" type="PointerType">
        <result property="id" column="pointer_id"/>
        <result property="name" column="pointer_name"/>
    </resultMap>
	<sql id="selectScoreActivityDetailVo">
        SELECT
            detail.id,
            detail.score_pointer_id,
            detail.score,
            detail.score_description,
            detail.create_by,
            detail.create_time,
            detail.update_by,
            detail.update_time,
            detail.del_flag,
            detail.remark,
            detail.activity_status,
            pointer.weight,
            pointer.dept_id,
            pointer.eval_dept_id,
            pointer.NAME AS score_pointer_name,
            pointer.remark AS score_pointer_remark,
            pointer_type.id AS pointer_id,
            pointer_type. NAME AS pointer_name,
            evalDept.dept_id AS eval_dept_id,
            evalDept.dept_name AS eval_dept_name,
            d.dept_id,
            d.dept_name,
            score_activity.`name` as activity_name,
            score_activity.`id` as activity_id
        FROM
            score_activity_detail detail
        LEFT JOIN scoring_pointer pointer ON detail.score_pointer_id = pointer.id
        LEFT JOIN pointer_type ON pointer_type.id = pointer.pointer_type_id
        LEFT JOIN sys_dept d ON d.dept_id = pointer.dept_id
        LEFT JOIN sys_dept evalDept ON evalDept.dept_id = pointer.eval_dept_id
        LEFT JOIN score_activity ON score_activity.id = detail.activity_id
    </sql>
	
    <select id="selectScoreActivityDetailList" parameterType="ScoreActivityDetail" resultMap="ScoreActivityDetailResult">
        <include refid="selectScoreActivityDetailVo"/>
        <where>  
            <if test="id != null  and id != '' "> and detail.id = #{id}</if>
             <if test="activityId != null  and activityId != '' "> and detail.activity_id = #{activityId}</if>
             <if test="scorePointerId != null  and scorePointerId != '' "> and detail.score_pointer_id = #{scorePointerId}</if>
             <if test="score != null "> and detail.score = #{score}</if>
             <if test="scoreDescription != null  and scoreDescription != '' "> and detail.score_description = #{scoreDescription}</if>
             <if test="createBy != null  and createBy != '' "> and detail.create_by = #{createBy}</if>
             <if test="createTime != null "> and detail.create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and detail.update_by = #{updateBy}</if>
             <if test="updateTime != null "> and detail.update_time = #{updateTime}</if>
             <if test="delFlag != null  and delFlag != '' "> and detail.del_flag = #{delFlag}</if>
             <if test="remark != null  and remark != '' "> and detail.remark = #{remark}</if>
            <if test="activityStatus != null  and activityStatus != '' "> and activity_status = #{activityStatus}</if>
            <if test="evalDeptId!= null  and evalDeptId != '' "> and pointer.eval_dept_id = #{evalDeptId}</if>
        </where>
    </select>
    
    <select id="selectScoreActivityDetailById" parameterType="String" resultMap="ScoreActivityDetailResult">
        <include refid="selectScoreActivityDetailVo"/>
        where detail.id = #{id}
    </select>
        
    <insert id="insertScoreActivityDetail" parameterType="ScoreActivityDetail">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into score_activity_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="activityId != null  and activityId != ''  ">activity_id,</if>
			<if test="scorePointerId != null  and scorePointerId != ''  ">score_pointer_id,</if>
			<if test="score != null  ">score,</if>
			<if test="scoreDescription != null  and scoreDescription != ''  ">score_description,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
            <if test="activityStatus != null  and activityStatus != ''  ">activity_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="activityId != null  and activityId != ''  ">#{activityId},</if>
			<if test="scorePointerId != null  and scorePointerId != ''  ">#{scorePointerId},</if>
			<if test="score != null  ">#{score},</if>
			<if test="scoreDescription != null  and scoreDescription != ''  ">#{scoreDescription},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="activityStatus != null  and activityStatus != ''  ">#{activityStatus},</if>
         </trim>
    </insert>
	 
    <update id="updateScoreActivityDetail" parameterType="ScoreActivityDetail">
        update score_activity_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityId != null  and activityId != ''  ">activity_id = #{activityId},</if>
            <if test="scorePointerId != null  and scorePointerId != ''  ">score_pointer_id = #{scorePointerId},</if>
            <if test="score != null  ">score = #{score},</if>
            <if test="scoreDescription != null  and scoreDescription != ''  ">score_description = #{scoreDescription},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="activityStatus != null  and activityStatus != ''  ">activity_status = #{activityStatus},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteScoreActivityDetailById" parameterType="String">
        delete from score_activity_detail where id = #{id}
    </delete>
	
    <delete id="deleteScoreActivityDetailByIds" parameterType="String">
        delete from score_activity_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>