<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.taskscore.mapper.ScoringPointerMapper">

    <resultMap type="ScoringPointer" id="ScoringPointerResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="weight" column="weight"/>
        <result property="pointerTypeId" column="pointer_type_id"/>
        <result property="scoreDescription" column="score_description"/>
        <result property="score" column="score"/>
        <result property="deptId" column="dept_id"/>
        <result property="evalDeptId" column="eval_dept_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <association property="dept" column="dept_id" javaType="SysDept" resultMap="deptResult"/>
        <association property="evalDept" column="eval_dept_id" javaType="SysDept" resultMap="evalDeptResult"/>
        <association property="pointerType" column="pointer_type_id" javaType="PointerType"  resultMap="PointerTypeResult"/>

    </resultMap>
    <resultMap id="deptResult" type="SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>
    <resultMap id="evalDeptResult" type="SysDept">
        <id property="deptId" column="eval_dept_id"/>
        <id property="deptName" column="eval_dept_name"/>
    </resultMap>

    <resultMap id="PointerTypeResult" type="PointerType">
        <result property="id" column="pointer_id"/>
        <result property="name" column="pointer_name"/>
    </resultMap>

    <sql id="selectScoringPointerVo">
        select pointer.id, pointer.name, weight, pointer_type_id, score_description, score, evalDept.dept_id as eval_dept_id,
        evalDept.dept_name as eval_dept_name, d.dept_id, d.dept_name,pointer_type.id as pointer_id ,pointer_type.name as pointer_name
         from scoring_pointer pointer
        left join sys_dept d on d.dept_id = pointer.dept_id
        left join sys_dept evalDept on evalDept.dept_id = pointer.eval_dept_id
         left join pointer_type  on pointer_type.id = pointer.pointer_type_id
    </sql>

    <select id="selectScoringPointerList" parameterType="ScoringPointer" resultMap="ScoringPointerResult">
        <include refid="selectScoringPointerVo"/>
        <where>
            <if test="id != null  and id != '' ">and pointer.id = #{id}</if>
            <if test="name != null  and name != '' ">and pointer.name = #{name}</if>
            <if test="weight != null ">and weight = #{weight}</if>
            <if test="pointerTypeId != null ">and pointer_type_id = #{pointerTypeId}</if>
            <if test="scoreDescription != null  and scoreDescription != '' ">and score_description =
                #{scoreDescription}
            </if>
            <if test="score != null ">and score = #{score}</if>
            <if test="deptId != null  and deptId != '' ">and pointer.dept_id = #{deptId}</if>
            <if test="evalDeptId != null  and evalDeptId != '' ">and eval_dept_id = #{evalDeptId}</if>
            <if test="createBy != null  and createBy != '' ">and create_by = #{createBy}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and update_by = #{updateBy}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
            <if test="delFlag != null  and delFlag != '' ">and del_flag = #{delFlag}</if>
            <if test="remark != null  and remark != '' ">and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectScoringPointerById" parameterType="String" resultMap="ScoringPointerResult">
        <include refid="selectScoringPointerVo"/>
        where pointer.id = #{id}
    </select>

    <insert id="insertScoringPointer" parameterType="ScoringPointer">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into scoring_pointer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id,</if>
            <if test="name != null  and name != ''  ">name,</if>
            <if test="weight != null  ">weight,</if>
            <if test="pointerTypeId != null  ">pointer_type_id,</if>
            <if test="scoreDescription != null  and scoreDescription != ''  ">score_description,</if>
            <if test="score != null  ">score,</if>
            <if test="deptId != null  and deptId != ''  ">dept_id,</if>
            <if test="evalDeptId != null  and evalDeptId != ''  ">eval_dept_id,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="name != null  and name != ''  ">#{name},</if>
            <if test="weight != null  ">#{weight},</if>
            <if test="pointerTypeId != null  ">#{pointerTypeId},</if>
            <if test="scoreDescription != null  and scoreDescription != ''  ">#{scoreDescription},</if>
            <if test="score != null  ">#{score},</if>
            <if test="deptId != null  and deptId != ''  ">#{deptId},</if>
            <if test="evalDeptId != null  and evalDeptId != ''  ">#{evalDeptId},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
        </trim>
    </insert>

    <update id="updateScoringPointer" parameterType="ScoringPointer">
        update scoring_pointer
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="weight != null  ">weight = #{weight},</if>
            <if test="pointerTypeId != null  ">pointer_type_id = #{pointerTypeId},</if>
            <if test="scoreDescription != null  and scoreDescription != ''  ">score_description = #{scoreDescription},
            </if>
            <if test="score != null  ">score = #{score},</if>
            <if test="deptId != null  and deptId != ''  ">dept_id = #{deptId},</if>
            <if test="evalDeptId != null  and evalDeptId != ''  ">eval_dept_id = #{evalDeptId},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScoringPointerById" parameterType="String">
        delete from scoring_pointer where id = #{id}
    </delete>

    <delete id="deleteScoringPointerByIds" parameterType="String">
        delete from scoring_pointer where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>