<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/bootstrap-fileinput-master/css/fileinput.css}" media="all" rel="stylesheet" type="text/css"/>
<link th:href="@{/ajax/libs/bootstrap-fileinput-master/themes/explorer-fas/theme.css}" media="all" rel="stylesheet" type="text/css"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-train-add">
			<input id="id" name="id" th:value="${train.id}"  type="hidden">
			<input id="trainStatus" name="trainStatus" class="form-control" type="hidden">
<!--			<div class="form-group">	-->
<!--				<label class="col-sm-3 control-label">培训人员姓名：</label>-->
<!--				<div class="col-sm-8">-->
<!--					<input id="userName" name="userName" class="form-control" type="text">-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="form-group">	-->
<!--				<label class="col-sm-3 control-label">培训人员id：</label>-->
<!--				<div class="col-sm-8">-->
<!--					<input id="userId" name="userId" class="form-control" type="text">-->
<!--				</div>-->
<!--			</div>-->
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>出发时间：</label>
				<div class="col-sm-8">
					<input id="startDate" name="startDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>回程时间：</label>
				<div class="col-sm-8">
					<input id="endDate" name="endDate" class="form-control" type="text">
				</div>
			</div>



			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>交通工具：</label>
				<div class="col-sm-8">
					<select name="transportation" class="form-control m-b" th:with="type=${@dict.getType('transportation')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>出差类别：</label>
				<div class="col-sm-8">
					<select name="trainType" class="form-control m-b" th:with="type=${@dict.getType('trainType')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>主办单位是否安排食宿：</label>
				<div class="col-sm-8">
					<label class="radio-box"> <input type="radio" name="isFood" value="是" checked/>是 </label>
					<label class="radio-box"> <input type="radio" name="isFood" value="否" /> 否 </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>途程及住勤地点：</label>
				<div class="col-sm-8">
					<input id="address" name="address" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">出差依据：</label>
				<div class="col-sm-8">
					<input id="file" multiple name="file" class="form-control" type="file" >
<!--					<ul id="task_file_list" class="attch-list" style="display: block;">-->
<!--						<li id="file_file_0_0" class="attch-item" th:each="file:${workTaskFiles}"><i class="attch-itm-icon xlsx"></i><a-->
<!--								class="attch-itm-name"-->
<!--								th:href="'/worktask/workTaskFile/downloadFile/'+${file.id}"-->
<!--								target="_blank" th:text="${file.fileName}" th:title="${file.fileName}" ></a><span-->
<!--								class="attch-itm-size"></span><span class="attch-itm-state"></span><a-->
<!--								class="attch-itm-dload"-->
<!--								th:href="'/worktask/workTaskFile/downloadFile/'+${file.id}"-->
<!--								target="_blank">下载</a>-->
<!--							<a class="attch-itm-delete"  th:onclick="'javascript:deleteFile(\''+${file.id}+'\');'">删除</a></li>-->
<!--					</ul>-->
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>总经理：</label>
				<div class="col-sm-8">
					<select id="zjl" name="zjl" class="form-control select2-hidden-accessible" >
						<option th:each="user:${sysUsers}" th:value="${user.userId}"
								th:text="${user.userName}" th:selected="${user.userName eq '姚勇'}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>主管副总经理：</label>
				<div class="col-sm-8">
					<select id="zfgzjl" name="zfgzjl" class="form-control select2-hidden-accessible" required>
						<option value=""></option>
						<option th:each="user:${sysUsers}" th:value="${user.userId}"
								th:text="${user.userName}" th:selected="${user.userName eq '王喆'}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>技术负责人：</label>
				<div class="col-sm-8">
					<select id="jsfzr" name="jsfzr" class="form-control select2-hidden-accessible">
						<option value=""></option>
						<option th:each="user:${sysUsers}" th:value="${user.userId}"
								th:text="${user.userName}" th:selected="${user.userName eq '郝咏梅'}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>教育培训委员会办公室：</label>
				<div class="col-sm-8">
					<select id="pxwyhbgs" name="pxwyhbgs" class="form-control select2-hidden-accessible">
						<option value=""></option>
						<option th:each="user:${sysUsers}" th:value="${user.userId}"
								th:text="${user.userName}" th:selected="${user.userName eq '何颖'}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>办公室：</label>
				<div class="col-sm-8">
					<select id="bgs" name="bgs" class="form-control select2-hidden-accessible">
						<option value=""></option>
						<option th:each="user:${sysUsers}" th:value="${user.userId}"
								th:text="${user.userName}" th:selected="${user.userName eq '钟立兵'}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>部门主任：</label>
				<div class="col-sm-8">
					<select id="bmzr" name="bmzr" class="form-control select2-hidden-accessible">
						<option value=""></option>
						<option th:each="user:${sysUsers}" th:value="${user.userId}"
								th:text="${user.userName}" ></option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-sm-offset-5 col-sm-10">
			<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
			<button type="button" class="btn btn-sm btn-success" onclick="submitTrainHandler()"><i class="fa fa-check"></i>申请培训</button>&nbsp;
			<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
		</div>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/bootstrap-fileinput-master/js/fileinput.js}" type="text/javascript"></script>
	<script th:src="@{/ajax/libs/bootstrap-fileinput-master/js/locales/zh.js}" type="text/javascript"></script>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		$('#file').fileinput({
			language: 'zh',
			showPreview: false, //是否显示预览
			showUpload: true, //是否显示上传按钮
			showRemove: true, //显示移除按钮
			enctype: 'multipart/form-data',
			uploadUrl: ctx + 'worktask/workTaskFile/upload', // you must set a valid URL here else you will get an error
			uploadExtraData: {"workTaskId": '[[${train.id}]]'},
			// allowedFileExtensions: ['ppt', 'xls', 'xlsx', "doc", "docx", "pptx", "pdf"],
			overwriteInitial: false,
			maxFileSize: 10000,
			maxFilesNum: 10,

		});
		var prefix = ctx + "train/train";

		layui.use('laydate', function () {
			var laydate = layui.laydate;
			laydate.render({
				elem: '#startDate',
				theme: 'molv',
				type: 'date',
			});
			laydate.render({
				elem: '#endDate',
				theme: 'molv',
				type: 'date',
			});
		});

		$("#form-train-add").validate({
			rules:{
				startDate:{
					required:true,
				},
				endDate:{
					required:true,
				},
				transportation:{
					required:true,
				},
				trainType:{
					required:true,
				},
				isFood:{
					required:true,
				},
				zjl:{
					required:true,
				},
				zfgzjl:{
					required:true,
				},
				jsfzr:{
					required:true,
				},
				pxwyhbgs:{
					required:true,
				},
				bgs:{
					required:true,
				},
				bmzr:{
					required:true,
				},
				address:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$("#trainStatus").val("1")
	            $.operate.saveTab(prefix + "/add", $('#form-train-add').serialize());
	        }
	    }
		function submitTrainHandler() {
			if ($.validate.form()) {
				$("#trainStatus").val("2")
				$.operate.saveTab(prefix + "/add", $('#form-train-add').serialize());
			}
		}
	</script>
</body>
</html>
