<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/bootstrap-fileinput-master/css/fileinput.css}" media="all" rel="stylesheet" type="text/css"/>
<link th:href="@{/ajax/libs/bootstrap-fileinput-master/themes/explorer-fas/theme.css}" media="all" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/uploadfile.css}" media="all" rel="stylesheet" type="text/css"/>

<body class="white-bg">
	<div  th:include="train_comm::traincomm"></div>
	<div class="row">
		<div class="col-sm-offset-5 col-sm-10">
			<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
			<button type="button" class="btn btn-sm btn-success" onclick="submitTrainHandler()"><i class="fa fa-check"></i>申请培训</button>&nbsp;
			<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
		</div>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/bootstrap-fileinput-master/js/fileinput.js}" type="text/javascript"></script>
	<script th:src="@{/ajax/libs/bootstrap-fileinput-master/js/locales/zh.js}" type="text/javascript"></script>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script type="text/javascript">
		$('#file').fileinput({
			language: 'zh',
			showPreview: false, //是否显示预览
			showUpload: true, //是否显示上传按钮
			showRemove: true, //显示移除按钮
			enctype: 'multipart/form-data',
			uploadUrl: ctx + 'worktask/workTaskFile/upload', // you must set a valid URL here else you will get an error
			uploadExtraData: {"workTaskId": '[[${train.id}]]'},
			// allowedFileExtensions: ['ppt', 'xls', 'xlsx', "doc", "docx", "pptx", "pdf"],
			overwriteInitial: false,
			maxFileSize: 10000,
			maxFilesNum: 10,

		});
		var prefix = ctx + "train/train";
		layui.use('laydate', function () {
			var laydate = layui.laydate;
			laydate.render({
				elem: '#startDate',
				theme: 'molv',
				type: 'date',
			});
			laydate.render({
				elem: '#endDate',
				theme: 'molv',
				type: 'date',
			});
		});
		$("#form-train-edit").validate({
			rules:{
				startDate:{
					required:true,
				},
				endDate:{
					required:true,
				},
				transportation:{
					required:true,
				},
				trainType:{
					required:true,
				},
				isFood:{
					required:true,
				},
				zjl:{
					required:true,
				},
				zfgzjl:{
					required:true,
				},
				jsfzr:{
					required:true,
				},
				pxwyhbgs:{
					required:true,
				},
				bgs:{
					required:true,
				},
				bmzr:{
					required:true,
				},
				address:{
					required:true,
				},
			},
			focusCleanup: true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$("#trainStatus").val("1")
				$.operate.saveTab(prefix + "/edit", $('#form-train-edit').serialize());
			}
		}
		function submitTrainHandler() {
			if ($.validate.form()) {
				$("#trainStatus").val("2")
				$.operate.saveTab(prefix + "/edit", $('#form-train-edit').serialize());
			}
		}
		function deleteFile(id){
			var data = { "ids": id };
			$.ajax({
				url:ctx  + "worktask/workTaskFile/delete",
				type: "post",
				dataType: "json",
				data: data,
				beforeSend: function () {
					$.modal.loading("正在处理中，请稍后...");
				},
				success: function(result) {
					$.modal.closeLoading();
					window.location.reload()
				}
			})
		}
	</script>
</body>
</html>
