<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div  th:include="train_comm::traincomm"></div>
	<div class="row">
		<div class="col-sm-offset-5 col-sm-10">
			<button type="button" class="btn btn-sm btn-primary" onclick="workProcessDetail()"><i class="fa fa-reply-all"></i>查看流程 </button>
			<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
		</div>
	</div>
<!--	<iframe th:src="${'/diagram-viewer/index.html?processDefinitionId=pxsqlc:1:147508&processInstanceId='+train.processInstanceId}"-->
<!--			frameborder="0" width="1250px" height="600px" align="center" ></iframe>-->
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
		function workProcessDetail(){
			$.modal.openTab("查看流程",ctx +"diagram-viewer/index.html?processDefinitionId=pxsqlc:1:157631&processInstanceId="+[[${train.processInstanceId}]]);

		}
	</script>
</body>
</html>
