<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div  th:include="train_comm::traincomm"></div>
	<div class="row">
		<div class="col-sm-offset-5 col-sm-10">
			<button type="button" class="btn btn-sm btn-primary" onclick="pass()"><i class="fa fa-check"></i>通过</button>&nbsp;
			<button type="button" class="btn btn-sm btn-success" onclick="noPass()"><i class="fa fa-check"></i>不通过</button>&nbsp;
			<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
		</div>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script type="text/javascript">
		var prefix = ctx + "train/train";

		function pass() {
			var data = { "result": 1,"id":$("#id").val() };
			$.operate.submit(prefix+"/check", "post", "json", data);
		}
		function noPass() {
			var data = { "result": 1,"id":$("#id").val() };
			$.operate.submit(prefix+"/check", "post", "json", data);
		}
	</script>
</body>
</html>
