<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-jobsummary-edit" th:object="${jobsummary}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
	<!--		<div class="form-group">
				<label class="col-sm-3 control-label">创建者：</label>
				<div class="col-sm-8">
					<input id="createBy" name="createBy" th:field="*{createBy}" class="form-control" type="text">
				</div>
			</div>-->

			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<span class="form-control" th:text="${#dates.format(jobsummary.createDate,'yyyy-MM-dd HH:mm')}"></span>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开始时间：</label>
				<div class="col-sm-8">
					<span class="form-control"  th:text="${#dates.format(jobsummary.stratTime,'yyyy-MM-dd HH:mm:ss')}"></span>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">结束时间：</label>
				<div class="col-sm-8">
					<span class="form-control"  th:text="${#dates.format(jobsummary.endTime,'yyyy-MM-dd HH:mm:ss')}"></span>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工作总结类型：</label>
				<div class="col-sm-8">
					<span class="form-control" th:if="${jobsummary.jobType eq '1'}">周报</span>
					<span class="form-control" th:if="${jobsummary.jobType eq '2'}">月报</span>
					<span class="form-control" th:if="${jobsummary.jobType eq '3'}">年报</span>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工作内容：</label>
				<div class="col-sm-8">
					<span class="form-control"  th:text="*{jobContent}" ></span>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工作总结：</label>
				<div class="col-sm-8">
					<span class="form-control"  th:text="*{jobSumm}" ></span>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工作计划：</label>
				<div class="col-sm-8">
					<span class="form-control"  th:text="*{jobPlan}" ></span>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注信息：</label>
				<div class="col-sm-8">
					<span class="form-control"  th:text="*{remark}" ></span>
				</div>
			</div>
<!--			<div class="form-group">
				<label class="col-sm-3 control-label">更新者：</label>
				<div class="col-sm-8">
					<input id="updateBy" name="updateBy" th:field="*{updateBy}" class="form-control" type="text">
				</div>
			</div>-->
<!--			<div class="form-group">
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updateDate" name="updateDate" th:field="*{updateDate}" class="form-control" type="text">
				</div>
			</div>-->
<!--			<div class="form-group">
				<label class="col-sm-3 control-label">删除标记：</label>
				<div class="col-sm-8">
					<input id="delFlag" name="delFlag" th:field="*{delFlag}" class="form-control" type="text">
				</div>
			</div>-->
		</form>
    </div>
	<div class="row">
		<div class="col-sm-offset-5 col-sm-10">
			<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
			<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
		</div>
	</div>
    <div th:include="include::footer"></div>
	<script type="text/javascript" charset="utf-8" th:src="@{/ueditor/ueditor.config.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/ueditor/ueditor.all.js}"></script>
	<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
	<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
	<script type="text/javascript" charset="utf-8" th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
    <script type="text/javascript">
		$(function () {
			UE.getEditor('jobPlan');
			UE.getEditor('jobSumm');
			UE.getEditor('jobContent');
		});
		var prefix = ctx + "jobsumm/jobsummary";
		$("#form-jobsummary-edit").validate({
			rules:{
				stratTime:{
					required:true,
				},
				endTime:{
					required:true,
				},
				jobType:{
					required:true,
				},
				jobContent:{
					required:true,
				},
				jobSumm:{
					required:true,
				},
				jobPlan:{
					required:true,
				},
			},
			focusCleanup: true
		});
		layui.use('laydate', function () {
			var laydate = layui.laydate;
			var stratTime = laydate.render({
				elem: '#stratTime',
				theme: 'molv',
				type: 'datetime',
				format: 'yyyy-MM-dd HH:mm:ss',
				<!-- 设置endTime控件可允许选择的最小值 -->
				done: function (value, dates){
					endTime.config.min = {
						year:dates.year,
						month:dates.month-1,
						date:dates.date,
						hours: 0,
						minutes: 0,
						seconds : 0
					}
				},
			});

			var endTime = laydate.render({
				elem: '#endTime',
				theme: 'molv',
				type: 'datetime',
				format: 'yyyy-MM-dd HH:mm:ss'
			});
		});

		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-jobsummary-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
