<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
<link th:href='@{/fullcalendar-scheduler-4.0.1/packages/core/main.css}' rel='stylesheet'/>
<link th:href='@{/fullcalendar-scheduler-4.0.1/packages/daygrid/main.css}' rel='stylesheet'/>
<link th:href='@{/fullcalendar-scheduler-4.0.1/packages/timegrid/main.css}' rel='stylesheet'/>
<link th:href="@{/week/css/week.css}" rel="stylesheet" type="text/css">
<body class="white-bg">
<!--<div class="form-horizontal m" style="text-align: center">-->
<!--<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">-->
<!--添加会议-->
<!--</button>-->
<!--</div>-->
<!-- 按钮触发模态框 -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    预约会议
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m" id="form-meeting-add">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议名称：</label>
                        <div class="col-sm-8">
                            <input id="meetingName" name="meetingName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议主题：</label>
                        <div class="col-sm-8">
                            <textarea id="meetingSubject" name="meetingSubject" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议开始时间：</label>
                        <div class="col-sm-8">
                            <input id="meetingBeginTime" name="meetingBeginTime" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议结束时间：</label>
                        <div class="col-sm-8">
                            <input id="meetingEndTime" name="meetingEndTime" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议室</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="meetroomId" id="meetroomIdForm">
                                <option th:each="room: ${meetrooms}" th:text="${room.meetroomName}"
                                        th:value="${room.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-8">
                            <textarea id="remarks" name="remarks" class="form-control"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="save">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="vieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="vieModalLabel">
                    查看会议
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal m">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议名称：</label>
                        <div class="col-sm-8">
                            <input id="vmeetingName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议主题：</label>
                        <div class="col-sm-8">
                            <textarea id="vmeetingSubject" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">预约部门：</label>
                        <div class="col-sm-8">
                            <input id="deptName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">预约人：</label>
                        <div class="col-sm-8">
                            <input id="userName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">预约手机：</label>
                        <div class="col-sm-8">
                            <input id="phonenumber" class="form-control">
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="bd_w jcalendar_week" id="jcalendar_week"></div>
        <h2 id="nowDate" style="text-align: center">日期</h2>
    </div>
    <div class="row">
        <!--        <div class="col-lg-2">-->
        <!--            <div id="dateControl" ></div>-->
        <!--        </div>-->
        <div id='calendar'></div>
    </div>
</div>

<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.min.js}"></script>

<script th:src='@{/fullcalendar-scheduler-4.0.1/packages/core/main.js}'></script>
<script th:src='@{/fullcalendar-scheduler-4.0.1/packages/interaction/main.js}'></script>
<script th:src='@{/fullcalendar-scheduler-4.0.1/packages/daygrid/main.js}'></script>
<script th:src='@{/fullcalendar-scheduler-4.0.1/packages/timegrid/main.js}'></script>
<script th:src='@{/fullcalendar-scheduler-4.0.1/packages/resource-common/main.js}'></script>
<script th:src='@{/fullcalendar-scheduler-4.0.1/packages/resource-daygrid/main.js}'></script>
<script th:src='@{/fullcalendar-scheduler-4.0.1/packages/resource-timegrid/main.js}'></script>
<script type="text/javascript" th:src="@{/week/js/week.js}"></script>
<script type="text/javascript">

    var prefix = ctx + "meeting/meeting"
    $("#form-meeting-add").validate({
        rules: {
            meetingName: {
                required: true,
            },
            meetingBeginTime: {
                required: true,
            },
            meetingEndTime: {
                required: true,
            },

        },
        focusCleanup: true
    });

    function submitHandler() {

        if ($.validate.form()) {
            var config = {
                url: prefix + "/add",
                type: "post",
                dataType: "json",
                data: $('#form-meeting-add').serialize(),
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function (result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess(result.msg);
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                    initCalendar();
                    $("#myModal").modal('hide')
                }
            };
            $.ajax(config)
        }
    }

    $('#save').click(function () {
        submitHandler();
    });
    document.addEventListener('DOMContentLoaded', function () {
        initCalendar();
    });

    function initCalendar() {
        var calendarEl = document.getElementById('calendar');


        var calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            plugins: ['interaction', 'resourceDayGrid', 'resourceTimeGrid'],
            defaultView: 'resourceTimeGridDay',
            defaultDate: new Date(),
            editable: false,
            navLinks: true, // can click day/week names to navigate views
            selectMirror: true,
            locale: 'zh-cn',
            selectable: true,
            eventOverlap: false,
            minTime: '07:00:00',//开始时间早上七点
            maxTime: '22:00:00',//终止时间晚上19点
            slotDuration: '00:30', // 间隔30分钟
            eventLimit: true, // allow "more" link when too many events
            header: false,

            views: {
                resourceTimeGridTwoDay: {
                    type: 'resourceTimeGrid',
                    duration: {
                        days: 2
                    },
                    buttonText: '两天',
                },
                resourceTimeGridDay: {
                    type: 'resourceTimeGrid',
                    duration: {
                        days: 1
                    },
                    buttonText: '一天',
                }
                ,
                resourceTimeGridThreeDay: {
                    type: 'resourceTimeGrid',
                    duration: {
                        days: 3
                    },
                    buttonText: '三天',
                }
            },

            //// uncomment this line to hide the all-day slot
            //allDaySlot: false,
            resources: { // you can also specify a plain string like 'json/resources.json'
                url: '/meeting/meetroom/selectMeetroomList'
            },
            events: { // you can also specify a plain string like 'json/events.json'
                url: prefix + "/findList"
            },

            select: function (info) {
                $("#meetroomIdForm").val(info.resource.id);
                var startStr = info.startStr.replace('T', ' ').replace('+08:00', '');
                var endStr = info.endStr.replace('T', ' ').replace('+08:00', '');
                $("#meetingBeginTime").val(startStr);
                $("#meetingEndTime").val(endStr);
                $("#myModal").modal('show')
            },
            dateClick: function (arg) {
                console.log(
                    'dateClick',
                    arg.date,
                    arg.resource ? arg.resource.id : '(no resource)'
                );
            },
            eventClick: function (info) {
                var meetingId = info.event.id;
                var config = {
                    url: prefix + "/get",
                    type: "post",
                    dataType: "json",
                    data: {id: meetingId},
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                        $.modal.disable();
                    },
                    success: function (result) {
                        $.modal.closeLoading();
                        $("#vmeetingName").val(result.meeting.meetingName)
                        $("#vmeetingSubject").val(result.meeting.meetingSubject);
                        $("#phonenumber").val(result.sysUser.phonenumber);
                        $("#userName").val(result.sysUser.userName);
                        $("#deptName").val(result.sysUser.dept.deptName);
                        $("#vieModal").modal('show')
                    }
                };
                $.ajax(config)

            },

        });

        calendar.render();
        $("#calendar .fc-slats table tr").each(function (a, b) {
            $(this).find("span").text($(this).attr("data-time"))
        });
        var nowStr = FullCalendar.formatDate(new Date(), {
            month: 'long',
            year: 'numeric',
            day: 'numeric',
            locale: 'zh-ch'
        });
        $("#nowDate").text(nowStr);

        layui.use('laydate', function () {
            var laydate = layui.laydate;
            var meetingBeginTime = laydate.render({
                elem: '#meetingBeginTime',
                theme: 'molv',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss'
            });

            var meetingEndTime = laydate.render({
                elem: '#meetingEndTime',
                theme: 'molv',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss'
            });
            var weekfn = new jcalendar_week({
                element: "#jcalendar_week",//填充日历的dom元素
                dayaddclass: function (date) {
                    //添加某天时给添加类名
                    return "";
                },
                dayclick: function (value, obj) {
                    // calendar.gotoDate("2019-04-17");
                    calendar.gotoDate(value);
                    $("#calendar .fc-slats table tr").each(function (a, b) {
                        $(this).find("span").text($(this).attr("data-time"))
                    });
                    $("#nowDate").text(value)
                    //day点击事件
                    $(obj).addClass("calendar_day_act").siblings().removeClass("calendar_day_act");
                }
            });
        });

    }

    $('#meetroomId').on('change', function () {
        $("#meetroomIdForm").val($(this).val());
        initCalendar();
    });

</script>

</body>
</html>
