<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>

<link th:href='@{/fullcalendar/fullcalendar.min.css}' rel='stylesheet'/>
<body class="white-bg">
<div class="form-horizontal m">
    <label class="col-sm-3 control-label">会议室：</label>
    <div class="col-sm-4">
        <select class="form-control" name="meetroomId" id="meetroomId">
            <option th:each="room: ${meetrooms}" th:text="${room.meetroomName}" th:value="${room.id}"></option>
        </select>
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        添加会议
    </button>
</div>
<!-- 按钮触发模态框 -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    预约会议
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m" id="form-meeting-add">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议名称：</label>
                        <div class="col-sm-8">
                            <input id="meetingName" name="meetingName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议主题：</label>
                        <div class="col-sm-8">
                            <textarea id="meetingSubject" name="meetingSubject" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议开始时间：</label>
                        <div class="col-sm-8">
                            <input id="meetingBeginTime" name="meetingBeginTime" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议结束时间：</label>
                        <div class="col-sm-8">
                            <input id="meetingEndTime" name="meetingEndTime" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会议室</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="meetroomId" id="meetroomIdForm">
                                <option th:each="room: ${meetrooms}" th:text="${room.meetroomName}"
                                        th:value="${room.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-8">
                            <textarea id="remarks" name="remarks" class="form-control"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="save">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div id='calendar'></div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src='@{/fullcalendar/lib/moment.min.js}'></script>
<!--<script th:src='@{/fullcalendar/lib/jquery.min.js}'></script>-->
<script th:src='@{/fullcalendar/fullcalendar.min.js}'></script>
<script th:src='@{/fullcalendar/locale-all.js}'></script>
<script type="text/javascript">

    var prefix = ctx + "meeting/meeting"
    $("#form-meeting-add").validate({
        rules: {
            meetingName: {
                required: true,
            },
            meetingBeginTime: {
                required: true,
            },
            meetingEndTime: {
                required: true,
            },

        },
        focusCleanup: true
    });
    $("#meetingBeginTime").datetimepicker({//选择年月日
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        language: 'zh-CN',
        minuteStep: 1
    });
    $("#meetingEndTime").datetimepicker({//选择年月日
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        language: 'zh-CN',
        minuteStep: 1
    });
    function submitHandler() {

        if ($.validate.form()) {
            var config = {
                url: prefix + "/add",
                type: "post",
                dataType: "json",
                data: $('#form-meeting-add').serialize(),
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function (result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess(result.msg);
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                    $('#calendar').fullCalendar('refetchEvents')
                }
            };
            $.ajax(config)
        }
    }
    $('#save').click(function () {
        submitHandler();
    });
    $(document).ready(function () {

        initFullCalendar();
        function initFullCalendar() {
            var initialLocaleCode = 'zh-cn';
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                defaultDate: new Date(),
                defaultView: 'agendaWeek',
                locale: initialLocaleCode,
                buttonIcons: true, // show the prev/next text
                weekNumbers: true,
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                selectable: true,
                //允许用户拖动
                select: function (startDate, endDate, allDay, jsEvent, view) {

                },
                eventLimit: true, // allow "more" link when too many events
                events: function (start, end, timezone, callback) {
                    var config = {
                        url: prefix + "/findList",
                        type: "post",
                        dataType: "json",
                        data: {meetroomId: $("#meetroomId").val()},
                        beforeSend: function () {
                            $.modal.loading("正在处理中，请稍后...");
                            $.modal.disable();
                        },
                        success: function (result) {
                            $.modal.closeLoading();
                            callback(result);
                        }
                    };
                    $.ajax(config)
                },
            });

            // build the locale selector's options
            $.each($.fullCalendar.locales, function (localeCode) {
                $('#locale-selector').append(
                        $('<option/>')
                                .attr('value', localeCode)
                                .prop('selected', localeCode == initialLocaleCode)
                                .text(localeCode)
                );
            });
        }


        // when the selected option changes, dynamically change the calendar option
        $('#locale-selector').on('change', function () {
            if (this.value) {
                $('#calendar').fullCalendar('option', 'locale', this.value);
            }
        });
        $('#meetroomId').on('change', function () {
            $('#calendar').fullCalendar('refetchEvents');
            $("#meetroomIdForm").val($(this).val())
        });

    });

</script>
</body>
</html>
