<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
		<title> 导航栏 </title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/home.css}" rel="stylesheet"/>
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

</head>
	<body>
		<nav class="navbar navbar-inverse"  th:fragment="navigation" role="navigation" style="border-radius :0px; background-color: rgba(63,63,63,1);margin: 0;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img th:src="@{/img/loo.png}" style="height:30px; width: auto;"></a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li>
							<a href="/f/fIndexController/index#">首页</a>
						</li>


						<li th:each="menu:${cmsCategories}">
							<a th:href="${menu.href+menu.id}" > <span th:text="${menu.name}"></span> </a>
<!--							<ul class="dropdown-menu" style="min-width: 100%;background-color: rgba(63,63,63,1);">-->
<!--								<li>-->
<!--									<a href="#">企业文档</a>-->
<!--								</li>-->
<!--								<li>-->
<!--									<a href="#">知识结构</a>-->
<!--								</li>-->
<!--							</ul>-->
						</li>

					</ul>

					<!-- 向右对齐 -->
					<ul class="nav navbar-nav navbar-right">
						<!-- 搜索框  -->
<!--						<form class="navbar-form navbar-left" role="search">-->
<!--							<div class="input-group">-->
<!--								<input type="text" class="form-control" style="border-radius :0px;" placeholder="输入关键字搜索..." />-->
<!--								<span class="input-group-btn">-->
<!--									<button class="btn btn-default" type="submit" style="border-radius :0px;">-->
<!--										<span class="glyphicon glyphicon-search" style="color: dodgerblue;"></span>-->
<!--									</button>-->
<!--								</span>-->
<!--							</div>-->
<!--						</form>-->
						<li style="margin-top: 10px;">
							<!-- 头像 -->
							<img th:src="@{/img/滑稽.jpg}" class="img-circle" style="height: 30px; width: 30px;" />
						</li>
						<li>
							<a href="#" style="font-size: 14px; color: darkgray; padding-left: 10px; " class="dropdown-toggle" data-toggle="dropdown">
								曾祥<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" style="min-width: 100%;">
								<li>
									<a href="#" style="color: black;"><span class="glyphicon glyphicon-user"></span> 个人中心</a>
								</li>
								<li>
									<a href="#" style="color: black;"><span class="badge">3</span>消息</a>
								</li>
								<li>
									<a href="#" style="color: black;"><span class="glyphicon glyphicon-log-out"></span> 注销</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>