<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>甘肃电信noc介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <head th:include="include :: header"></head>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">

        <div class="row" >
<!--            <div class="col-lg-3">-->
<!--                <div class="widget style1 lazur-bg">-->
<!--                    <div class="row">-->
<!--                        <div class="col-xs-4">-->
<!--                            <i class="fa fa-envelope-o fa-5x"></i>-->
<!--                        </div>-->
<!--                        <div class="col-xs-8 text-right">-->
<!--                            <span> 通知公告 </span>-->
<!--                            <h2 class="font-bold">260</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3">-->
<!--                <div class="widget style1">-->
<!--                    <div class="row">-->
<!--                        <div class="col-xs-4 text-center">-->
<!--                            <i class="fa fa-trophy fa-5x"></i>-->
<!--                        </div>-->
<!--                        <div class="col-xs-8 text-right">-->
<!--                            <span> 今天收入 </span>-->
<!--                            <h2 class="font-bold">$ 4,232</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 待办专项工作 </span>
                            <h2 class="font-bold" >
                                <a  class="font-bold" style="color: #fff" href="/activiti/task" id="getTaskToDoCount"></a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-music fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> 当前在线 </span>
                            <h2 class="font-bold" id="onlineUser">12</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="ibox">-->



<!--                    <div class="ibox-content">-->

<!--                        <div class="row">-->
<!--                            <div class="col-sm-4">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label" for="product_name">项目名</label>-->
<!--                                    <input type="text" id="product_name" name="product_name" value="" placeholder="Project Name" class="form-control">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-2">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label" for="price">名称</label>-->
<!--                                    <input type="text" id="price" name="price" value="" placeholder="Name" class="form-control">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-2">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label" for="quantity">公司</label>-->
<!--                                    <input type="text" id="quantity" name="quantity" value="" placeholder="Company" class="form-control">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-4">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label" for="status">状态</label>-->
<!--                                    <select name="status" id="status" class="form-control">-->
<!--                                        <option value="1" selected="">已完成</option>-->
<!--                                        <option value="0">待完成</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="table-responsive">-->
<!--                            <table class="table table-striped">-->

<!--                                <tbody>-->
<!--                                <tr>-->
<!--                                    <td>1</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$892,074</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>20%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>2</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$963,486</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>40%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>3</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$996,824</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>75%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>4</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$105,192</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>18%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>5</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$674,803</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>40%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>6</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$174,729</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>20%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>7</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$823,198</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>18%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>8</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$778,696</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>20%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>9</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$861,063</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>40%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>10</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$109,125</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>75%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>11</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$600,978</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>18%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>12</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$150,161</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>40%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>13</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$160,586</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>20%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>14</td>-->
<!--                                    <td>王者农药</td>-->
<!--                                    <td>天美工作室</td>-->
<!--                                    <td>$110,612</td>-->
<!--                                    <td>企鹅公司</td>-->
<!--                                    <td><strong>18%</strong></td>-->
<!--                                    <td>2017.12.12</td>-->
<!--                                    <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>访问量统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="weekLoginCount" style="height: 300px;background: #fff"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>部门登陆人数统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content" >
                        <div id="deptLoginCount" style="height: 600px;background: #fff"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>会议室预约次数统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            <a class="close-link"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="getMeetRoomCount" style="height: 600px;background: #fff"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>部门会议预约次数数统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="getMeetingCountByDept" style="height: 300px;background: #fff"></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
<!--                        <h5>磁盘状态</h5>-->
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

<!--                        <div class="row">-->
<!--                            <div class="col-sm-12">-->
<!--                                <table class="table table-hover margin bottom">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>盘符路径</th>-->
<!--                                        <th>文件系统</th>-->
<!--                                        <th>盘符类型</th>-->
<!--                                        <th>总大小</th>-->
<!--                                        <th>可用大小</th>-->
<!--                                        <th>已用大小</th>-->
<!--                                        <th>已用百分比</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <td>C:\</td>-->
<!--                                        <td>NTFS</td>-->
<!--                                        <td>本地固定磁盘 (C:)</td>-->
<!--                                        <td>100.0 GB</td>-->
<!--                                        <td>43.1 GB</td>-->
<!--                                        <td>56.9 GB</td>-->
<!--                                        <td>56.92%</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>D:\</td>-->
<!--                                        <td>NTFS</td>-->
<!--                                        <td>本地固定磁盘 (D:)</td>-->
<!--                                        <td>830.3 GB</td>-->
<!--                                        <td>819.8 GB</td>-->
<!--                                        <td>10.4 GB</td>-->
<!--                                        <td>1.26%</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td>E:\</td>-->
<!--                                        <td></td>-->
<!--                                        <td>光盘 (E:)</td>-->
<!--                                        <td>0 B</td>-->
<!--                                        <td>0 B</td>-->
<!--                                        <td>0 B</td>-->
<!--                                        <td>0.0%</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/echarts/dists/echarts.js}"></script>
<script>
    $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function() {
        var div_ibox = $(this).closest("div.ibox"),
            e = $(this).find("i"),
            i = div_ibox.find("div.ibox-content");
        i.slideToggle(200),
            e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
            div_ibox.toggleClass("").toggleClass("border-bottom"),
            setTimeout(function() {
                div_ibox.resize();
            }, 50);
    }), $(".close-link").click(function () {
        var div_ibox = $(this).closest("div.ibox");
        div_ibox.remove()
    });
</script>

<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: '/echarts/dists'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/line',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var deptLoginCountChart = ec.init(document.getElementById('deptLoginCount'));
            // 为echarts对象加载数据
            deptLoginCountChart.setOption({
                tooltip: {
                    show: true
                },
                legend: {
                    data:['部门']
                },
                xAxis : [
                    {
                        type : 'category',
                        data : []
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"部门",
                        "type":"bar",
                        "data":[]
                    }
                ]
            });
            deptLoginCountChart.showLoading();    //数据加载完之前先显示一段简单的loading动画
            var names=[];    //类别数组（实际用来盛放X轴坐标值）
            var nums=[];    //销量数组（实际用来盛放Y坐标值）
            $.ajax({
                type : "post",
                async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : "/monitor/logininfor" + "/getDeptLoginCount",    //请求发送到TestServlet处
                data : {},
                dataType : "json",        //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result.data) {
                        names=[];
                        nums=[];
                        for(var i=0;i<result.data.length;i++){
                            names.push(result.data[i].name);    //挨个取出类别并填入类别数组
                        }
                        for(var i=0;i<result.data.length;i++){
                            nums.push(result.data[i].value);    //挨个取出销量并填入销量数组
                        }
                        console.log(nums)
                        deptLoginCountChart.hideLoading();    //隐藏加载动画
                        deptLoginCountChart.setOption({
                            tooltip: {
                                show: true
                            },
                            legend: {
                                data:['部门']
                            },
                            xAxis : [
                                {
                                    type : 'category',
                                    data : names
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value'
                                }
                            ],
                            series : [
                                {
                                    "name":"部门",
                                    "type":"bar",
                                    "data":nums
                                }
                            ]
                        });

                    }

                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    deptLoginCountChart.hideLoading();
                }
            })

            var getMeetRoomCountChart = ec.init(document.getElementById('getMeetRoomCount'));
            getMeetRoomCountChart.setOption({
                tooltip: {
                    show: true
                },
                legend: {
                    data:['会议室']
                },
                yAxis : [
                    {
                        type : 'category',
                        data : []
                    }
                ],
                xAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"会议室",
                        "type":"bar",
                        "data":[]
                    }
                ]
            });
            getMeetRoomCountChart.showLoading();

             names=[];    //类别数组（实际用来盛放X轴坐标值）
             nums=[];    //销量数组（实际用来盛放Y坐标值）
            $.ajax({
                type : "post",
                async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : "/monitor/logininfor" + "/getMeetRoomCount",    //请求发送到TestServlet处
                data : {},
                dataType : "json",        //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result.data) {
                        names=[];
                        nums=[];
                        for(var i=0;i<result.data.length;i++){
                            names.push(result.data[i].name);    //挨个取出类别并填入类别数组
                        }
                        for(var i=0;i<result.data.length;i++){
                            nums.push(result.data[i].value);    //挨个取出销量并填入销量数组
                        }
                        console.log(nums)
                        getMeetRoomCountChart.hideLoading();    //隐藏加载动画
                        getMeetRoomCountChart.setOption({
                            tooltip: {
                                show: true
                            },
                            legend: {
                                data:['会议室']
                            },
                            yAxis : [
                                {
                                    type : 'category',
                                    data : names
                                }
                            ],
                            xAxis : [
                                {
                                    type : 'value'
                                }
                            ],
                            series : [
                                {
                                    "name":"会议室",
                                    "type":"bar",
                                    "data":nums
                                }
                            ]
                        });

                    }

                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    getMeetRoomCountChart.hideLoading();
                }
            });


            var getMeetingCountByDeptChart = ec.init(document.getElementById('getMeetingCountByDept'));
            getMeetingCountByDeptChart.setOption({
                tooltip: {
                    show: true
                },
                legend: {
                    data:['部门']
                },
                xAxis : [
                    {
                        type : 'category',
                        data : []
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"部门",
                        "type":"bar",
                        "data":[]
                    }
                ]
            });
            getMeetingCountByDeptChart.showLoading();
             names=[];    //类别数组（实际用来盛放X轴坐标值）
             nums=[];    //销量数组（实际用来盛放Y坐标值）
            $.ajax({
                type : "post",
                async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : "/monitor/logininfor" + "/getMeetingCountByDept",    //请求发送到TestServlet处
                data : {},
                dataType : "json",        //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result.data) {
                        names=[];
                        nums=[];
                        for(var i=0;i<result.data.length;i++){
                            names.push(result.data[i].name);    //挨个取出类别并填入类别数组
                        }
                        for(var i=0;i<result.data.length;i++){
                            nums.push(result.data[i].value);    //挨个取出销量并填入销量数组
                        }
                        console.log(nums)
                        getMeetingCountByDeptChart.hideLoading();    //隐藏加载动画
                        getMeetingCountByDeptChart.setOption({
                            tooltip: {
                                show: true
                            },
                            legend: {
                                data:['部门']
                            },
                            xAxis : [
                                {
                                    type : 'category',
                                    data : names
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value'
                                }
                            ],
                            series : [
                                {
                                    "name":"部门",
                                    "type":"bar",
                                    "data":nums
                                }
                            ]
                        });

                    }

                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    getMeetingCountByDeptChart.hideLoading();
                }
            });


            var weekLoginCountChart = ec.init(document.getElementById('weekLoginCount'));
            weekLoginCountChart.setOption({
                tooltip: {
                    show: true
                },
                legend: {
                    data:['人数']
                },
                xAxis : [
                    {
                        type : 'category',
                        data : []
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"人数",
                        "type":"line",
                        "data":[]
                    }
                ]
            });
            weekLoginCountChart.showLoading();
            names=[];    //类别数组（实际用来盛放X轴坐标值）
            nums=[];    //销量数组（实际用来盛放Y坐标值）
            $.ajax({
                type : "post",
                async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : "/monitor/logininfor" + "/weekLoginCount",    //请求发送到TestServlet处
                data : {},
                dataType : "json",        //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result.data) {
                        names=[];
                        nums=[];
                        for(var i=0;i<result.data.length;i++){
                            names.push(result.data[i].name);    //挨个取出类别并填入类别数组
                        }
                        for(var i=0;i<result.data.length;i++){
                            nums.push(result.data[i].value);    //挨个取出销量并填入销量数组
                        }
                        console.log(nums)
                        weekLoginCountChart.hideLoading();    //隐藏加载动画
                        weekLoginCountChart.setOption({
                            tooltip: {
                                show: true
                            },
                            legend: {
                                data:['人数']
                            },
                            xAxis : [
                                {
                                    type : 'category',
                                    data : names
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value'
                                }
                            ],
                            series : [
                                {
                                    "name":"人数",
                                    "type":"line",
                                    "data":nums
                                }
                            ]
                        });

                    }

                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    weekLoginCountChart.hideLoading();
                }
            });


        }
    );

 $(function () {
     getTaskToDoCount();
 });
    function getTaskToDoCount() {
        $.ajax({
            type : "post",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "/activiti/task" + "/getTaskToDoCount",    //请求发送到TestServlet处
            data : {},
            dataType : "json",        //返回数据形式为json
            success : function(result) {
                //请求成功时执行该函数内容，result即为服务器返回的json对象
                if (result.data) {
                    $("#getTaskToDoCount").text(result.data)
                }else{
                    $("#getTaskToDoCount").text(0)
                }
            },
            error : function(errorMsg) {
            }
        });
    }

    $.ajax({
        url: ctx + "monitor/online" + "/getOnlineCount",
        type: 'post',
        cache: false,
        data: {},
        processData: false,
        contentType: false,
        dataType: "json",
        beforeSend: function () {

        },
        success: function (result) {
            $("#onlineUser").text(result.data+"人")
        }
    });

</script>
</body>
</html>
