<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-workTask-edit" th:object="${workTask}" enctype="multipart/form-data">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <input id="pid" name="pid" th:field="*{pid}" type="hidden">
        <!--<div class="form-group">	-->
        <!--<label class="col-sm-3 control-label">上级任务的id：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="pid" name="pid" th:field="*{pid}" class="form-control" type="text">-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>任务名称：</label>
                    <div class="col-sm-8">
                        <input id="workName" th:field="*{workName}" readonly name="workName" class="form-control"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">任务进度：</label>
                    <div class="col-sm-8">
                        <input id="rateProgress" th:field="*{rateProgress}" readonly name="rateProgress" value="0"
                               class="form-control" type="number" min="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-4 control-label">牵头部门：</label>
                    <div class="col-sm-8">
                        <input readonly onclick="selectLeadDeptTree()" id="leadDeptName" type="text"
                               placeholder="请选择归牵头部门" class="form-control" required th:field="*{leadDeptName}">
                        <input name="leadDeptId" type="hidden" id="leadDeptId" th:field="*{leadDeptId}"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">配合部门：</label>
                    <div class="col-sm-8">
                        <!--<input id="cooperateDeptId" name="cooperateDeptId" class="form-control" type="text">-->
                        <input readonly onclick="selectCooperateDeptTree()" id="cooperateDeptName" type="text"
                               placeholder="请选择归牵头部门" class="form-control" required th:field="*{cooperateDeptName}">
                        <input name="cooperateDeptId" type="hidden" id="cooperateDeptId" th:field="*{cooperateDeptId}"/>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">评分：</label>
                    <div class="col-sm-8">
                        <input readonly id="workScore" name="workScore" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">分管领导：</label>
                    <div class="col-sm-8">
                        <select id="leaderId" readonly class="form-control select2-hidden-accessible">
                            <option th:each="user:${users}" th:value="${user.userId}"
                                    th:text="${user.userName}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group" style="display: none">
            <label class="col-sm-3 control-label">工作类型：</label>
            <div class="col-sm-8">
                <label class="radio-box" style="margin-top: 8px;">
                    <div class="iradio-blue ">
                        <input type="radio" checked="" value="1" th:field="*{workType}" id="workType1" name="workType">
                    </div>
                    重点工作
                </label>
                <label class="radio-box">
                    <div class="iradio-blue">
                        <input type="radio" value="2" th:field="*{workType}" id="workType2" name="workType">
                    </div>
                    班组
                </label>
                <label class="radio-box">
                    <div class="iradio-blue">
                        <input type="radio" value="3" th:field="*{workType}" id="workType3" name="workType">
                    </div>
                    个人任务
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">任务描述：</label>
                    <div class="col-xs-10">
                        <textarea name="description" readonly th:field="*{description}" autocomplete="off"
                                  maxlength="500" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">存在的问题：</label>
                    <div class="col-xs-10">
                        <textarea name="openQuestion" readonly th:field="*{openQuestion}" autocomplete="off"
                                  maxlength="500" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="form-header h4">其他信息</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">附件：</label>
                    <div class="col-xs-10">

                        <p th:each="taskfile:${workTaskFiles}">
                            <a th:onclick="'javascript:downloadFile(\''+${taskfile.id}+'\');'"
                               th:text="${taskfile.fileName}"></a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">备注：</label>
                    <div class="col-xs-10">
                        <textarea name="remark" disabled autocomplete="off" th:field="*{remark}" maxlength="500"
                                  class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <h4 class="form-header h4">汇报内容</h4>
    <form class="form-horizontal m" id="form-workTaskActivity-add" enctype="multipart/form-data">
        <div class="form-group" style="display: none">
            <label class="col-sm-3 control-label">任务：</label>
            <div class="col-sm-8">
                <input id="workTaskId" name="workTaskId" th:value="${workTask.id}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">汇报内容：</label>
            <div class="col-sm-8">
                <textarea id="content" name="content" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">附件：</label>
            <div class="col-sm-8">
                <input type="file" id="file" name="file">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control"></textarea>
            </div>
        </div>

    </form>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保存</button>
            &nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>

    <div class="form-horizontal m">
        <div th:each="workActivity: ${workTaskActivities}">
            <h4 class="form-header h4"><span th:text="${workActivity.createBy}"></span> &nbsp;<span th:text="${#dates.format(workActivity.createTime, 'yyyy-MM-dd HH:mm')}"></span></h4>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-3 control-label">创建人：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input id="createBy" name="createBy" class="form-control" type="text" >-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-3 control-label">创建时间：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input id="createTime" name="createTime" class="form-control" type="text"  th:value="${#dates.format(workActivity.createTime, 'yyyy-MM-dd HH:mm')}" >-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">汇报内容：</label>
                <div class="col-sm-8">
                    <textarea class="form-control" disabled th:text="${workActivity.content}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">附件：</label>
                <div class="col-sm-8">
                    <p th:each="taskfile:${workActivity.workTaskFiles}">
                        <a th:onclick="'javascript:downloadFile(\''+${taskfile.id}+'\');'"
                           th:text="${taskfile.fileName}"></a>
                    </p>

                </div>
            </div>




        </div>

    </div>
</div>

<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>

<script type="text/javascript">
    var prefix = ctx + "worktask/workTaskActivity"
    $("#form-workTaskActivity-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var formData = new FormData($("#form-workTaskActivity-add")[0]);
            formData.append('file', $('#file')[0].files[0]);
            $.ajax({
                url: prefix + "/add",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function (result) {
                    $.operate.successTabCallback(result);
                }
            });
//            $.operate.saveTab(prefix + "/add", $('#form-workTaskActivity-add').serialize());
        }
    }
    function downloadFile(fileId){
        window.location.href = ctx + "worktask/workTaskFile/downloadFile/" + fileId;
    }
</script>
</body>
</html>
