<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/css/flowChart.css}" />
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-workTask-edit" th:object="${workTask}" enctype="multipart/form-data">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <input id="pid" name="pid" th:field="*{pid}" type="hidden">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>任务名称：</label>
                    <div class="col-sm-8">
                        <input id="workName" th:field="*{workName}" name="workName" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">任务进度：</label>
                    <div class="col-sm-8">
                        <input id="rateProgress" th:field="*{rateProgress}" th:readonly="*{hasChild}"
                               name="rateProgress" value="0" class="form-control" type="number" min="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-4 control-label">牵头部门：</label>
                    <div class="col-sm-8">
                        <input onclick="selectLeadDeptTree()" id="leadDeptName" type="text"
                               placeholder="请选择归牵头部门" class="form-control" required th:field="*{leadDeptName}">
                        <input name="leadDeptId" type="hidden" id="leadDeptId" th:field="*{leadDeptId}"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">配合部门：</label>
                    <div class="col-sm-8">
                        <!--<input id="cooperateDeptId" name="cooperateDeptId" class="form-control" type="text">-->
                        <!--<input  onclick="selectCooperateDeptTree()" id="cooperateDeptName" type="text"-->
                        <!--placeholder="请选择归牵头部门" class="form-control" required  th:field="*{cooperateDeptName}">-->
                        <!--<input name="cooperateDeptId" type="hidden" id="cooperateDeptId" th:field="*{cooperateDeptId}"/>-->
                        <select id="cooperateDeptId" class="form-control select2-hidden-accessible" multiple required>
                            <option th:each="dept:${depts}" th:value="${dept.deptId}"
                                    th:text="${dept.deptName}"
                                    th:selected="${workTask?.cooperateDeptId?.contains(dept.deptId.toString())}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">评分：</label>
                    <div class="col-sm-8">
                        <input id="workScore" name="workScore" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">分管领导：</label>
                    <div class="col-sm-8">
                        <select id="leaderId" class="form-control select2-hidden-accessible">
                            <option th:each="user:${users}" th:value="${user.userId}"
                                    th:text="${user.userName}"
                                    th:selected="${workTask?.leaderId?.contains(user.userId.toString())}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
        <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label"><span style="color: red; ">*</span>开始时间：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="beginTime"  th:value="${#dates.format(workTask.beginTime, 'yyyy-MM-dd HH:mm')}" name="beginTime" class="form-control" readonly type="text" >-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
        <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label"><span style="color: red; ">*</span>结束时间：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="endTime"  th:value="${#dates.format(workTask.endTime, 'yyyy-MM-dd HH:mm')}" name="endTime" class="form-control" readonly type="text" >-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
        <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label">执行人：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<select id="userIds" class="form-control select2-hidden-accessible" multiple="">-->
        <!--<option th:each="user:${users}" th:value="${user.userId}" th:text="${user.userName}"  th:selected="${workTask?.userIds?.contains(user.userId.toString())}" ></option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
        <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label">督办情况：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<label class="radio-box" style="margin-top: 8px;">-->
        <!--<div class="iradio-blue">-->
        <!--<input type="radio" value="2" th:field="*{result}" id="result2" name="result">-->
        <!--</div>-->
        <!--绿灯-->
        <!--</label>-->
        <!--<label class="radio-box">-->
        <!--<div class="iradio-blue">-->
        <!--<input type="radio" value="3"  th:field="*{result}" id="result3" name="result">-->
        <!--</div>-->
        <!--黄灯-->
        <!--</label>-->
        <!--<label class="radio-box" >-->
        <!--<div class="iradio-blue ">-->
        <!--<input type="radio" checked="" th:field="*{result}"  value="1" id="result1" name="result">-->
        <!--</div>-->
        <!--红灯-->
        <!--</label>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        <div class="form-group" style="display: none">
            <label class="col-sm-3 control-label">工作类型：</label>
            <div class="col-sm-8">
                <label class="radio-box" style="margin-top: 8px;">
                    <div class="iradio-blue ">
                        <input type="radio" checked="" value="1" th:field="*{workType}" id="workType1" name="workType">
                    </div>
                    重点工作
                </label>
                <label class="radio-box">
                    <div class="iradio-blue">
                        <input type="radio" value="2" th:field="*{workType}" id="workType2" name="workType">
                    </div>
                    班组
                </label>
                <label class="radio-box">
                    <div class="iradio-blue">
                        <input type="radio" value="3" th:field="*{workType}" id="workType3" name="workType">
                    </div>
                    个人任务
                </label>
            </div>
        </div>


        <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
        <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label">任务完成工时：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="workTime" name="workTime" th:field="*{workTime}" class="form-control" type="text">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
        <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label">任务状态：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<label class="radio-box" style="margin-top: 8px;">-->
        <!--<div class="iradio-blue ">-->
        <!--<input type="radio" checked="" th:field="*{workStatus}" value="1" id="workStatus1" name="workStatus">-->
        <!--</div>-->
        <!--进行中-->
        <!--</label>-->
        <!--<label class="radio-box">-->
        <!--<div class="iradio-blue">-->
        <!--<input type="radio" value="2" th:field="*{workStatus}" id="workStatus2" name="workStatus">-->
        <!--</div>-->
        <!--已完成-->
        <!--</label>-->
        <!--<label class="radio-box">-->
        <!--<div class="iradio-blue">-->
        <!--<input type="radio" value="3" th:field="*{workStatus}" id="workStatus3" name="workStatus">-->
        <!--</div>-->
        <!--已归档-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">主要目标：</label>
                    <div class="col-xs-10">
                        <textarea name="description" th:field="*{description}" autocomplete="off" maxlength="500"
                                  class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">存在的问题：</label>
                    <div class="col-xs-10">
                        <textarea name="openQuestion" th:field="*{openQuestion}" autocomplete="off" maxlength="500"
                                  class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="form-header h4">其他信息</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">附件：</label>
                    <div class="col-xs-10">
                        <p th:each="taskfile:${workTaskFiles}">
                            <a th:onclick="'javascript:downloadFile(\''+${taskfile.id}+'\');'"
                               th:text="${taskfile.fileName}"></a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">备注：</label>
                    <div class="col-xs-10">
                        <textarea name="remark" autocomplete="off" th:field="*{remark}" maxlength="500"
                                  class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--<div class="row">-->
    <!--<div class="col-sm-offset-5 col-sm-10">-->
        <!--<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存-->
        <!--</button>&nbsp;-->
        <!--<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->


<!--<form class="form-horizontal m" id="form-workTaskActivity-add" enctype="multipart/form-data">-->
    <!--<h4 class="form-header h4">任务目标添加</h4>-->
    <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label"><span style="color: red; ">*</span>任务目标：</label>-->
        <!--<div class="col-sm-8">-->
            <!--<textarea id="target" name="target" class="form-control"></textarea>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label"><span style="color: red; ">*</span>目标月份：</label>-->
        <!--<div class="col-sm-8">-->
            <!--<input id="targetMonth" name="targetMonth" class="form-control" type="text">-->
        <!--</div>-->
    <!--</div>-->
    <!--<input id="workTaskId" name="workTaskId" th:value="${workTask.id}" class="form-control" type="hidden">-->

    <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">备注：</label>-->
        <!--<div class="col-sm-8">-->
            <!--<textarea id="remark" name="remark" class="form-control"></textarea>-->
        <!--</div>-->
    <!--</div>-->

<!--</form>-->
<!--<div class="row">-->
    <!--<div class="col-sm-offset-5 col-sm-10">-->
        <!--<button type="button" class="btn btn-sm btn-primary" onclick="submitWorkTaskActivityAddHandler()"><i-->
                <!--class="fa fa-check"></i>保存-->
        <!--</button>-->
        <!--&nbsp;-->
        <!--<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i-->
                <!--class="fa fa-reply-all"></i>关 闭-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->

<div class="wrapper wrapper-content animated fadeInRight ibox-content">

    <div class="form-horizontal m">
        <div th:each="workActivity: ${workTaskActivities}">
            <h4 class="form-header h4">目标月份：<span th:text="${workActivity.targetMonth}"></span>月 &nbsp;任务得分：<span
                    th:text="${workActivity.targetScore}"></span></h4>
            <div class="form-group">
                <label class="col-sm-3 control-label">任务目标：</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="5" disabled th:text="${workActivity.target}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">任务得分：</label>
                <div class="col-sm-8">
                    <input name="targetScore" readonly th:value="${workActivity.targetScore}" class="form-control"
                           type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">汇报内容：</label>
                <div class="col-sm-8">
                    <textarea name="content" rows="5" readonly th:text="${workActivity.content}" class="form-control"
                    ></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">附件：</label>
                <div class="col-sm-8">
                    <p th:each="taskfile:${workActivity.workTaskFiles}">
                        <a th:onclick="'javascript:downloadFile(\''+${taskfile.id}+'\');'"
                           th:text="${taskfile.fileName}"></a>
                    </p>
                </div>
            </div>

            <!--<div class="row"  th:if='${workActivity.workStatus  eq "1" }'>-->
                <!--<div class="col-sm-offset-5 col-md-10">-->
                    <!--<button th:data-id="${workActivity.id}" type="button" class="btn btn-sm btn-primary" onclick="startWork(this.getAttribute('data-id'))" ><i-->
                            <!--class="fa fa-check"></i>开始督办-->
                    <!--</button>-->
                    <!--&nbsp;-->
                    <!--<button th:data-id="${workActivity.id}" type="button"   onclick="deleteWorkActiviti(this.getAttribute('data-id'))"  class="btn btn-sm btn-danger" ><i-->
                            <!--class="fa fa-reply-all"></i>删除目标-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->

<!--            <div class="row"  th:if='${workActivity.workStatus  eq "2" }'>-->
<!--                <img th:src="${workActivity.taskVO.createBy}" alt="">-->
<!--                <div class="col-sm-offset-5 col-md-10">-->
<!--&lt;!&ndash;                    <button th:data-processDefinitionId="${workActivity.taskVO.processDefinitionId}" th:data-instanceid="${workActivity.process_instance_id}"&ndash;&gt;-->
<!--&lt;!&ndash;                            type="button" class="btn btn-sm btn-primary" onclick="workProcessDetail(this.getAttribute('data-processDefinitionId'),this.getAttribute('data-instanceid'))" ><i&ndash;&gt;-->
<!--&lt;!&ndash;                            class="fa fa-check"></i>流程详情&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->

<!--                    &nbsp;-->
<!--                    <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i-->
<!--                            class="fa fa-reply-all"></i>关 闭-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="row"  th:if='${workActivity.workStatus eq "3"}'>-->
<!--                <div class="col-sm-offset-5 col-md-10">-->
<!--                    <button th:data-id="${workActivity.process_instance_id}" type="button" class="btn btn-sm btn-primary" onclick="workDetail(this.getAttribute('data-id'))" ><i-->
<!--                            class="fa fa-check"></i>查看详情-->
<!--                    </button>-->
<!--                    &nbsp;-->
<!--                    <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i-->
<!--                            class="fa fa-reply-all"></i>关 闭-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->


            <!--<h4>事件时间轴</h4>-->
            <!--<hr />-->
            <!--事件时间轴-->
            <div class="flowChart">
                <!--左侧轴-->
                <div class="flowChart-left">
                    <!--虚线-->
                    <div class="dashed"></div>
                </div>
                <!--右侧内容-->
                <div class="flowChart-right">
                    <!--一个节点-->
                    <div class="oneNode" th:each="his: ${workActivity.historyTaskVos}">
                        <!--左侧小球-->
                        <div class="check check-danger" th:text="${his.activityName}">
                        </div>
                        <div class="tag-boder">
                            <div class="tag">
                            </div>
                        </div>
                        <!--右侧内容-->
                        <div class="NodeDetail">
                            <!--上-->
                            <div class="NodeDetail-title">
                                <!--头像-->
                                <!--<img src="img/headImg.jpg" />-->
                                <!--内容-->
                                <div class="details">
                                    <h4 th:text="${his.assignee==null?his.activityName:'任务办理人：'+his.assignee}"></h4>
<!--                                    -->
                                    <h4 th:text="${his.queryVariables==null?'':'下一步任务办理人：'+his.queryVariables}"></h4>
                                    <p th:text="${his.description}"></p>
                                </div>
                            </div>
                            <!--中-->
                            <!--<div class="NodeDetail-content">
                                <span class="badge">回复:</span>

                                <p>两年后，前女友突然发短信来说：“我们复合吧，转了一圈才发现你是最好的，我后悔了。”
    短短几字倾刻间击溃我所有的伪装与防备，热泪流进挥之不去的记忆，夜夜思念的那些牵手在一起的美好日子又悄然浮上心头，感觉不再累多么温暖。
    紧张，激动，焦急，我颤抖着双手解脱般地回复道：“活该！”</p>
                            </div>-->
                            <!--下-->
                            <div class="NodeDetail-footer">
                                <span th:text="${#dates.format(his.endTime, 'yyyy-MM-dd HH:mm')}">2017-10-31 22:22:31</span>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--<h4>事件时间轴</h4>-->

        </div>
    </div>

</div>

<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>

<script type="text/javascript">
    var prefix = ctx + "worktask/workTask";
    $("#form-workTask-edit").validate({
        submitHandler: function (form) {
            var userIds = $.form.selectSelects("userIds");
            var leaderId = $.form.selectSelects("leaderId");
            var cooperateDeptId = $.form.selectSelects("cooperateDeptId");
            var formData = new FormData($("#form-workTask-edit")[0]);
            formData.append('userIds', userIds);
            formData.append('leaderId', leaderId);
            formData.append('cooperateDeptId', cooperateDeptId);
            formData.append('file', $('#file')[0].files[0]);
            $.ajax({
                url: prefix + "/edit",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function (result) {
                    $.operate.successTabCallback(result);
                }
            });
        },
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });


    function downloadFile(fileId) {
        window.location.href = ctx + "worktask/workTaskFile/downloadFile/" + fileId;
    }

    /*用户管理-新增-选择部门树*/
    function selectLeadDeptTree() {
        var leadDeptId = $("#leadDeptId").val();
        var deptId = $.common.isEmpty(leadDeptId) ? "100" : $("#leadDeptId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: ctx + "system/dept/selectDeptTree/" + deptId,
            callBack: doSubmitLeadDept
        };
        $.modal.openOptions(options);
    }

    function doSubmitLeadDept(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#leadDeptId").val(body.find('#treeId').val());
            $("#leadDeptName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }

    function selectCooperateDeptTree() {
        var leadDeptId = $("#cooperateDeptId").val();

        var deptId = $.common.isEmpty(leadDeptId) ? "100" : $("#cooperateDeptId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: ctx + "system/dept/selectDeptTree/" + deptId,
            callBack: doSubmitCooperateDept
        };
        $.modal.openOptions(options);
    }

    function doSubmitCooperateDept(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#cooperateDeptId").val(body.find('#treeId').val());
            $("#cooperateDeptName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }

    //添加任务目标
    $("#form-workTaskActivity-add").validate({
        submitHandler: function (form) {
            $.operate.saveTab(ctx + "worktask/workTaskActivity/add", $('#form-workTaskActivity-add').serialize());
        },
        rules: {
            target: {
                required: true,
            },
            targetMonth: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        $("#form-workTask-edit").submit();
    }
    function submitWorkTaskActivityAddHandler() {
        $("#form-workTaskActivity-add").submit();
    }

    function startWork(id) {
        var url = ctx + "worktask/workTaskActivity/startTask";
        $.operate.submit(url, "post", "json", {id:id});
    }
    function workDetail(process_instance_id) {
        $.modal.openTab("查看详情",ctx +"worktask/workTaskActivity/workTaskActivityDetail?process_instance_id="+process_instance_id);
    }
    function workProcessDetail(processDefinitionId,process_instance_id){
        $.modal.openTab("查看详情",ctx +"diagram-viewer/index.html?processDefinitionId="+processDefinitionId+"&processInstanceId="+process_instance_id);

    }



    function deleteWorkActiviti(id) {
        $.modal.confirm("确定删除该条信息吗？", function() {
            var url = ctx + "worktask/workTaskActivity/remove";
            $.operate.submit(url, "post", "json", {ids:id});
        });

    }
</script>
</body>
</html>
