<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            培训人员姓名：<input type="text" name="userName"/>
                        </li>

                        <li>
                            出发时间：<input type="text" id="startDate" name="startDate"/>
                        </li>

                        <li>
                            回程时间：<input type="text"  id="endDate" name="endDate"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('train:train:edit')}]];
    var removeFlag = [[${@permission.hasPermi('train:train:remove')}]];
    var prefix = ctx + "train/approve";
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#startDate',
            theme: 'molv',
            type: 'date',
        });
        laydate.render({
            elem: '#endDate',
            theme: 'molv',
            type: 'date',
        });
    });
    $(function () {
        var options = {
            url: prefix + "/myTask",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "培训审批",
            showExport: true,
            columns: [
                {
                    field : 'sqdw',
                    title : '审请单位',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var actions = [];
                        var title="付款审批单";
                        actions.push('<a class=" ' + editFlag + '" href="#" onclick="$.operate.addSubTab(\''+title+'\',\'' +prefix +'/query/'+row.id + '\')"><i class="fa fa-edit"></i>' + value + '</a> ');
                        return actions.join('');
                    }
                },

                {
                    field : 'htbh',
                    title : '合同编号',
                    sortable: true
                },

                {
                    field : 'htmc',
                    title : '合同名称',
                    sortable: true
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var title="付款审批";
                        actions.push('<a class=" ' + editFlag + '" href="#" onclick="$.operate.addSubTab(\''+title+'\',\'' +prefix +'/shenhe/'+row.id+'/'+row.task.id  + '\')"><i class="fa fa-edit"></i>审核</a> ');
                        return actions.join('');

                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>