<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="choice" class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="form-group">
        <label class="col-sm-3 control-label">题目：</label>
        <div class="col-sm-8">
            <input id="title" name="title" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">选项A：</label>
        <div class="col-sm-8">
            <input id="choiceA" name="choiceA" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">选项B：</label>
        <div class="col-sm-8">
            <input id="choiceB" name="choiceB" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">选项C：</label>
        <div class="col-sm-8">
            <input id="choiceC" name="choiceC" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">选项D：</label>
        <div class="col-sm-8">
            <input id="choiceD" name="choiceD" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">答案：</label>
        <div class="col-sm-8">
            <input id="answer" name="answer" class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">解析：</label>
        <div class="col-sm-8">
            <input id="answerTip" name="answerTip" class="form-control" type="text">
        </div>
    </div>
</div>


