<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 企业知识库 - 首页 </title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-inverse"  th:include="head::navigation" role="navigation" style="border-radius :0px; background-color: rgba(63,63,63,1);margin: 0;">
</nav>
<!-- end nav -->


<div id="myCarousel" class="carousel slide">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img th:src="@{/img/1512440732674_674.jpg}" alt="First slide" class="img-responsive">
        </div>
        <div class="item">
            <img th:src="@{/img/1513048034943_943.png}" alt="Second slide" class="img-responsive">
        </div>
    </div>
</div>

<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">有问题吗？</h3>
        <p class="search-tag-line">如果您有任何问题，可以在下面提问或输入您要查找的内容！</p>

        <form id="search-form" class="search-form clearfix" method="get" action="/f/knowledge/article/search" autocomplete="off"
              novalidate="novalidate">
            <input class="search-term required" type="text" id="keywords" name="keywords" placeholder="输入关键字进行搜索"
                   title="* Please enter a search term!" autocomplete="off">
            <input class="search-btn" type="submit" value="搜索">
            <div id="search-error-container"></div>
        </form>
    </div>
</div>
<!-- 热门分类  -->
<div class="container" style="padding-top: 10px; padding-bottom:10px;background: white;">
    <div class="row">
        <div class="col-md-3">
            <div class="contents">
                <h4>云计算</h4>
                <ul>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="contents">
                <h4>传输网
                </h4>
                <ul>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="contents">
                <h4>数据网</h4>
                <ul>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="contents">
                <h4>IPTV</h4>
                <ul>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                    <a href="#">
                        <li>货币金融学</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end 热门分类  -->

<!-- 热门知识结构 -->
<div style="width: 100%;background: #EDF1F5;box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);padding-top: 10px; padding-bottom: 10px; margin-top: 5px;margin-bottom: 5px;">
    <div class="container">
        <h3 style="text-align: center;font-family:'microsoft yahei' ">热门知识结构</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="knlg-struct">
                    <img th:src="@{/img/1453169124795_795.jpg}" style="width: 100%; height: auto;"/>
                    <a href="#">
                        <h4>微观经济学</h4></a>
                    <p class="text-center"> 256 <span class="text-muted">关注者 </span> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; |
                        &nbsp; &nbsp; &nbsp; 24 <span class="text-muted">关联知识</span></p>
                    <div style="text-align: center; margin-top: 15px;">
                        <button class="btn btn-defualt btn-sm btn-view">查看知识结构</button>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="knlg-struct">
                    <img th:src="@{/img/1453169124795_795.jpg}" style="width: 100%; height: auto;"/>
                    <a href="#">
                        <h4>微观经济学</h4></a>
                    <p class="text-center"> 256 <span class="text-muted">关注者 </span> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; |
                        &nbsp; &nbsp; &nbsp; 24 <span class="text-muted">关联知识</span></p>
                    <div style="text-align: center; margin-top: 15px;">
                        <button class="btn btn-defualt btn-sm btn-view">查看知识结构</button>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="knlg-struct">
                    <img th:src="@{/img/1453169124795_795.jpg}" style="width: 100%; height: auto;"/>
                    <a href="#">
                        <h4>微观经济学</h4></a>
                    <p class="text-center"> 256 <span class="text-muted">关注者 </span> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; |
                        &nbsp; &nbsp; &nbsp; 24 <span class="text-muted">关联知识</span></p>
                    <div style="text-align: center; margin-top: 15px;">
                        <button class="btn btn-defualt btn-sm btn-view">查看知识结构</button>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="knlg-struct">
                    <img th:src="@{/img/1453169124795_795.jpg}" style="width: 100%; height: auto;"/>
                    <a href="#">
                        <h4>微观经济学</h4></a>
                    <p class="text-center"> 256 <span class="text-muted">关注者 </span> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; |
                        &nbsp; &nbsp; &nbsp; 24 <span class="text-muted">关联知识</span></p>
                    <div style="text-align: center; margin-top: 15px;">
                        <button class="btn btn-defualt btn-sm btn-view">查看知识结构</button>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="knlg-struct">
                    <img th:src="@{/img/1453169124795_795.jpg}" style="width: 100%; height: auto;"/>
                    <a href="#">
                        <h4>微观经济学</h4></a>
                    <p class="text-center"> 256 <span class="text-muted">关注者 </span> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; |
                        &nbsp; &nbsp; &nbsp; 24 <span class="text-muted">关联知识</span></p>
                    <div style="text-align: center; margin-top: 15px;">
                        <button class="btn btn-defualt btn-sm btn-view">查看知识结构</button>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="knlg-struct">
                    <img th:src="@{/img/1453169124795_795.jpg}" style="width: 100%; height: auto;"/>
                    <a href="#">
                        <h4>微观经济学</h4></a>
                    <p class="text-center"> 256 <span class="text-muted">关注者 </span> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; |
                        &nbsp; &nbsp; &nbsp; 24 <span class="text-muted">关联知识</span></p>
                    <div style="text-align: center; margin-top: 15px;">
                        <button class="btn btn-defualt btn-sm btn-view">查看知识结构</button>
                    </div>

                </div>
            </div>

            <!-- end container -->
            <div style="text-align: center; margin-top: 15px;">
                <a href="#" class="btn btn-default"
                   style="padding: 5px 20px 5px 20px;color: #989898; font-family: 'microsoft yahei';">
                    查看更多 <span class="glyphicon glyphicon-circle-arrow-right" style="color: #989898;"></span>
                </a>
            </div>
        </div>

    </div>
    <!-- end 热门知识结构 -->

    <!-- 热门学习路径 -->
    <div style="width: 100%;padding-top: 10px; padding-bottom: 20px; margin-top: 5px;margin-bottom: 5px;">
        <div class="container">
            <h3 style="text-align: center;font-family:'microsoft yahei' ">热门学习路径</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="path">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object" th:src="@{/img/1455589744746_746.jpg}" alt="媒体对象">
                            </a>
                            <div class="media-body">
                                <p class="text-muted">
                                    <small>创建者：曾祥</small>
                                </p>
                                <p class="text-muted">
                                    <small>收录知识：28</small>
                                </p>
                                <p class="text-muted">
                                    <small>学习人数：508</small>
                                </p>
                            </div>
                        </div>
                        <hr style="margin-top: 10px; margin-bottom: 10px;">
                        <a href="#">
                            <h5 style="font-weight:bold; font-size: 15px; margin: 0;">信用管理——信用管理师必看</h5></a>
                    </div>
                </div>

            </div>
        </div>
        <!-- end container -->
    </div>
    <!-- end 热门学习路径  -->

    <div style="width: 100%;background: #EDF1F5;box-shadow:0px 0px 1px rgba(0, 0, 0, 0.349019607843137);padding-top: 10px; padding-bottom: 10px; margin-top: 5px;">
        <h3 style="text-align: center;font-family:'microsoft yahei' ">文档悬赏</h3>
    </div>

</div>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>