<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="judge" class="wrapper wrapper-content animated fadeInRight ibox-content">
<div class="form-group">
	<label class="col-sm-3 control-label">题目：</label>
	<div class="col-sm-8">
		<input id="title" name="title" class="form-control" type="text">
	</div>
</div>
<!--<div class="form-group">-->
	<!--<label class="col-sm-3 control-label">选项	A：</label>-->
	<!--<div class="col-sm-8">-->
		<!--&lt;!&ndash;<input id="answer" name="answer" class="form-control" type="text">&ndash;&gt;-->
		<!--<input type="radio" name="judge" value="正确">正确-->
	<!--</div>-->
	<!--<label class="col-sm-3 control-label">选项B：</label>-->
	<!--<div class="col-sm-8">-->
		<!--&lt;!&ndash;<input id="answer" name="answer" class="form-control" type="text">&ndash;&gt;-->
		<!--<input type="radio" name="judge" value="错误">错误<br>-->
	<!--</div>-->
<!--</div>-->
	<div class="form-group">
		<label class="col-sm-3 control-label">选项A：</label>
		<div class="col-sm-8">
			<input id="choiceA" name="choiceA" class="form-control" type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">选项B：</label>
		<div class="col-sm-8">
			<input id="choiceB" name="choiceB" class="form-control" type="text">
		</div>
	</div>
<div class="form-group">
	<label class="col-sm-3 control-label">解析：</label>
	<div class="col-sm-8">
		<input id="answerTip" name="answerTip" class="form-control" type="text">
	</div>
</div>
</html>
