<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">

		<table class="table table-bordered">
			<tr>
				<th >指标类型</th>
				<th >指标</th>
				<th>得分</th>
			</tr>

			<tr th:each="scoreActivity: ${scoreActivityDetails}" >
				<td th:text="${scoreActivity.scoringPointer?.pointerType?.name}" th:class="'type_'+${scoreActivity.scoringPointer?.pointerType?.id}"></td>
				<td th:text="${scoreActivity.scoringPointer.name}">指标</td>
				<td th:text="${scoreActivity.score==null?'0':scoreActivity.score}">得分</td>
			</tr>

		</table>

	</div>

	<div th:include="include::footer"></div>
	<script th:inline="javascript">
		$(function () {
			$('.table').find("td[class^='type_']").each(function (index, element) {
				var cla=$(element).attr("class");
				var obj=$('.table').find("."+cla);
				if(obj.length>1){
					obj.eq(0).attr("rowspan",obj.length);
					obj.eq(0).removeClass(cla);
					$('.table').find("."+cla).remove();
				}
			})
		});
	</script>
</body>
</html>
