<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<style type="text/css">
    td{
        text-align: center;
    }
</style>
<div class="container-div">
    <div class="col-sm-12 select-table table-striped">
        <h1 style="text-align: center">省网络监控维护中心各部门月度考核得分（ <span th:text="${month}"></span> 月份）</h1>
        <table class="table table-striped">
            <tr>
                <th>序号</th>
                <th>部门</th>
                <th>省公司考核</th>
                <th>总经理考核</th>
                <th>副总经理考核</th>
                <th>总工程师考核</th>
                <th>高级专家、技术负责人考核</th>
                <th>省市一体化考核</th>
                <th>安全生产考核</th>
                <th>政企支撑考核</th>
                <th>监控工单考核</th>
                <th>党建工作考核</th>
                <th>网络安全考核</th>
                <th>资源融智</th>
                <th>基础维护</th>
                <th>教育培训</th>
                <th>总经理加扣分</th>
                <th>省公司月度考核</th>
                <th>总分</th>
            </tr>
            <tr th:each="score,iterStat:${scoreActivityVOList}">
                <td th:text="${iterStat.index+1}">序号</td>
                <td style="color: #337ab7;cursor: pointer" th:text="${score.deptName}" th:onclick="detail([[${score.activityId}]])" >部门</td>
                <td th:text="${score.shenggongsikaohe}">省公司考核得分</td>
                <td th:text="${score.zongjingliScore}">总经理考核</td>
                <td th:text="${score.fenguanScore1==null?'——':score.fenguanScore1}">副总经理考核</td>
                <td th:text="${score.fenguanScore2==null?'——':score.fenguanScore2}">总工程师考核</td>
                <td th:text="${score.fenguanScore3==null?'——':score.fenguanScore3}">高级专家、技术负责人考核</td>
                <td th:text="${score.shengshiyitihuaScore==null?'——':score.shengshiyitihuaScore}">省市一体化考核</td>
                <td th:text="${score.anquanshengchanScore}">安全生产考核</td>
                <td th:text="${score.zhengqizhicheng==null?'——':score.zhengqizhicheng}">政企支撑考核</td>
                <td th:text="${score.jiankonggongdan==null?'——':score.jiankonggongdan}">监控工单考核</td>
                <td th:text="${score.dangjiangongzuo}">党建工作考核</td>
                <td th:text="${score.wangluoanquan}">网络安全得分</td>
                <td th:text="${score.ziyuan==null?'——':score.ziyuan}">资源</td>
                <td th:text="${score.jichu}">基础</td>
                <td th:text="${score.jypx}">基础</td>
                <td th:text="${score.zongjinglijiafen}">总经理加扣分</td>
                <td th:text="${score.shenggongsiyuedukaohe}">省公司月度考核</td>
                <td th:text="${#numbers.formatDecimal(score.totalScore,1,2)}">总分</td>
            </tr>
        </table>
    </div>

</div>
<div th:include="include :: footer"></div>
<script>
    var prefix = ctx + "taskscore/scoreActivity";
    function detail(id) {
        var url = prefix + '/detail/' + id;
        createMenuItem(url, "查看");
    }
    $(function () {
        $('.table').find("td").each(function (index, element) {
            var text = $(element).text();
            if (!isNaN(text)&&text<0) {
                $(element).css("color","red")
            }
        });
    })
</script>
</body>
</html>